<div class="content-component">
    <form [formGroup]="manufModelDetailForm" class="max-content" novalidate>
		<div class="layout">
			<span class="right-col" [ngSwitch]="mode">
				<ng-template [ngSwitchCase]="'view'"> 
					<div class="header command-zone" i18n="View manufModel|Title">Details on manufacturer model</div>
				</ng-template>
				<ng-template [ngSwitchCase]="'edit'"> 
					<div class="header command-zone" i18n="Edit manufModel|Title">Edit manufacturer model</div>
				</ng-template>
				<ng-template [ngSwitchCase]="'create'"> 
					<div class="header command-zone" i18n="Create manufModel|Title">Create manufacturer model</div>
				</ng-template>
			</span>
			<fieldset>
				<ol>
                    <li class="required">
                        <label i18n="ManufModel detail|Modality type label" class="required-label">Modality type</label> 
                        <span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'"> 
								{{datasetModalityTypeEnumValue}}
							</ng-template>
							<ng-template ngSwitchDefault> 
								<select id="datasetModalityType" required formControlName="datasetModalityType" [(ngModel)]="manufModel.datasetModalityType" (change)="onSelect($event.target.value)">
									<option *ngFor="let datasetModalityType of datasetModalityTypes" [value]="datasetModalityType.key">{{datasetModalityType.value}}</option>
								</select>
								<label *ngIf="formErrors.datasetModalityType.includes('required')" class="form-validation-alert" i18n="ManufModel detail|ModalityRequiredError label">Modality type is required!</label>
							</ng-template>
						</span>
                    </li>
					<li class="required">
						<label i18n="ManufModel detail|Manufacturer label" class="required-label">Manufacturer</label> 
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'"> 
								{{manufModel.manufacturer?.name}}
							</ng-template>
							<ng-template ngSwitchDefault> 
								<select id="name" required formControlName="manufacturer" [(ngModel)]="manufModel.manufacturer">
									<option *ngFor="let manufacturer of manufs" [ngValue]="manufacturer">{{manufacturer.name}}</option>
								</select>
								<button i18n="ManufModel detail|Create manuf label" (click)="manufModal.show()">
									<img [src]="addIconPath"/>
									new manufacturer
								</button>
							</ng-template>
						</span>
					</li>
					<li class="required">
						<label i18n="ManufModel detail|Model name label" class="required-label">Model name</label> 
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'"> 
								{{manufModel.name}}
							</ng-template>
							<ng-template ngSwitchDefault> 
								<input type="text" id="name" formControlName="name" [(ngModel)]="manufModel.name"/>
								<label *ngIf="formErrors.name.includes('required')" class="form-validation-alert" i18n="ManufModel detail|NameRequiredError label">Name is required!</label>
								<label *ngIf="formErrors.name.includes('length')" class="form-validation-alert" i18n="ManufModel detail|NameLengthError label">Name length must be between 2 and 200!</label>
								<label *ngIf="isNameUnique==false" class="form-validation-alert" i18n="ManufModel detail|NameUniqueError label">Name should be unique!</label>
							</ng-template>
						</span>
					</li>
                    <li class="required" *ngIf="isMR">
						<label i18n="ManufModel detail|Magnetic field label" class="required-label">Magnetic field</label> 
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'"> 
								{{manufModel.magneticField}}
							</ng-template>
							<ng-template ngSwitchDefault> 
								<input type="text" pattern="[0-9]+([.][0-9]+)?" id="magneticField" formControlName="magneticField" [(ngModel)]="manufModel.magneticField"/>
                            	T
								<label *ngIf="formErrors.magneticField.includes('required')" class="form-validation-alert" i18n="ManufModel detail|MagneticFieldRequiredError label">Magnetic field is required!</label>
								<label *ngIf="formErrors.magneticField.includes('pattern')" class="form-validation-alert" i18n="ManufModel detail|MagneticFieldPatternError label">Magnetic field should be a number!</label>
							</ng-template>
						</span>
					</li>
				</ol>
			</fieldset>
			<div class="footer command-zone">
				<span [ngSwitch]="mode">
					<button i18n="ManufModel detail|BackButton label" class="Button" (click)="back()">Back</button>	
					<ng-template [ngSwitchCase]="'view'" *ngIf="canModify"> 
						<button type="submit" i18n="ManufModel detail|EditButton label" (click)="edit()" class="Button">Edit</button>
					</ng-template>
					<ng-template [ngSwitchCase]="'edit'" *ngIf="canModify"> 
						<button type="submit" i18n="ManufModel detail|UpdateButton label" (click)="update()" class="Button" [disabled]="!manufModelDetailForm.valid">Update</button>
					</ng-template>
					<ng-template [ngSwitchCase]="'create'" *ngIf="canModify"> 
						<button type="submit" i18n="ManufModel detail|CreateButton label" (click)="create()" class="Button" [disabled]="!manufModelDetailForm.valid">Create</button>
					</ng-template>
				</span>
			</div>
        </div>
    </form>
</div>

<app-modal #manufModal>
    <div class="app-modal-body">
      <manufDetail [modeFromManufModel]="'create'" (closing)="closePopin()"></manufDetail>
    </div>
</app-modal>