:host { position: relative; }

study-node {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

.details { 
    padding-left: 20px;
    display: inline-block;
} 
.button.closed {
    right: 0px;
}

.commands { margin-bottom: 10px; position: absolute; padding-right: 10px; }
.commands button {     
    color: var(--color-a);
    background-color: transparent;
    border: 1px solid var(--color-a-light) !important;
    cursor: pointer; 
}
.commands button:disabled {     
    color: var(--greyer);
    border: 1px solid var(--grey) !important; 
}
.commands button:active:not(:disabled), .commands button:enabled:hover {
    cursor: pointer;
    color: var(--very-light-grey);
    background-color: var(--color-b-light2);
}

.tree { overflow-y: auto; overflow-x: auto; height: calc(100% - 50px); margin-top: 40px; padding-right: 10px; }