.layout { min-width: 410px; }
.section { background-color: var(--color-b-light); border: 0; border-top: 1px solid var(--grey); margin: 0 -10px; }
.section label { font-weight: bold}
.study-data { background-color: var(--light-grey); color: var(--color-b); font-size: 20px; font-weight: bold; padding: 10px 15px; }
.study-center-list { display: inline-block; }
.study-center-list table { margin-top: 10px; }
.study-center-list input { width: 100px; }

.study-center-list table { margin-top: 15px; padding: 5px 0; width: 100%; font-weight: normal; border-collapse: collapse; background-color: var(--very-light-grey); }
.study-center-list th { color: var(--color-a); padding: 10px 5px; }
.study-center-list th, .study-center-list td { text-align: left; }
.study-center-list tr { height: 33px; }
.study-center-list tr.even { background-color: beige; }
/* tr.odd { background-color: var(--color-b-light); } */
.study-center-list tr td:first-child { border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
.study-center-list tr td:last-child { border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
.study-center-list td { padding: 4px 5px; }
.study-center-list table tr td:last-child { padding-left: 13px; padding-right: 13px; }
.add-center td { text-align: center; cursor: pointer; }
.prefix { color: var(--grey); }
.prefix-input { width: auto; }

.icon { margin-left: 5px; vertical-align: middle; }
.icon-clickable { cursor: pointer;  }
.data-loading img { height: 20px; vertical-align: bottom; }
span.disabled { position: relative; }
span.disabled::before { content: ""; position: absolute; left: 0; right: 0; top: 0; bottom: 0; background-color: white; opacity: 0.5; }
.dl-button { border: none; margin-left: 7px; }
.files { margin-top: 10px; }
toggle-switch { margin: 0 7px; }
.clickable { cursor: pointer; }
.center-link { color: var(--color-b-light2); }
.center-list { min-height: 0px;}

.tabs li { position: relative; display: inline-block; padding: 3px 20px; border-bottom: 1px solid var(--grey); font-size: 14px; cursor: pointer; }
.tabs li.disabled { cursor: default; color: var(--grey); }
.tabs li:not(.disabled):not(.active):hover::after { z-index: -1; content: ""; display: block; border: 1px solid rgb(231, 231, 231); position: absolute; top: -1px; bottom: -1px; left: 0; right: 0; }
.tabs li.active { cursor: default; border-bottom-color: transparent; color: var(--color-a); z-index: 0; }
.tabs li.active::after { z-index: -1; content: ""; display: block; position: absolute; top: -1px; bottom: -1px; left: -1px; right: -1px; border: 1px solid var(--grey); border-bottom-color: transparent; }
textarea { resize : both; }

.motivation { color: var(--color-c); }
.access-requests .link i { color: var(--color-a); }
.access-requests .link:hover { opacity: 0.5; }
.hidden-tab { position: fixed; opacity: 0 !important; top: -1000%; left: -1000%; }

table.no-spacing { border-spacing:0; }
td.volume-storage-left { padding-right: 10px; }
td.volume-storage-total { border-top: 1px solid var(--grey); }