study-node {
    display: inline-block;
    height: calc(100vh - 80px);
    vertical-align: top;
    border-right: 1px solid var(--grey);
}

.details { padding-left: 20px; }

dicom-metadata {
    width: 524px;
    display: inline-block;
}