:host { position: relative; }

study-node {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

.details { 
    padding-left: 20px;
    display: inline-block;
    ;
}

dicom-metadata {
    width: 524px;
    display: inline-block;
}

.button {
    border: 1px solid var(--grey); border-radius: 2px 2px 0 0;
    padding: 2px 10px;
    position: absolute; top: 0; right: 20px;
    cursor: pointer;
}

.button.closed {
    right: 0px;
}

.commands { margin-bottom: 10px; }
.commands button {     
    color: var(--color-a);
    background-color: transparent;
    border: 1px solid var(--color-a-light) !important; 
}
.commands button:disabled {     
    color: var(--greyer);
    border: 1px solid var(--grey) !important; 
}
.commands button:active, .commands button:enabled:hover {
    cursor: pointer;
    color: var(--very-light-grey);
    background-color: var(--color-b-light2);
}