.layout { min-width: 410px; }
.section { background-color: var(--color-b-light); border: 0; border-top: 1px solid var(--grey); margin: 0 -10px; }
.section label { font-weight: bold}
.study-data { background-color: var(--light-grey); color: var(--color-b); font-size: 20px; font-weight: bold; padding: 10px 15px; }
.study-center-list { display: inline-block; }
.icon { margin-left: 5px; vertical-align: middle; }
.icon-clickable { cursor: pointer;  }
.data-loading img { height: 20px; vertical-align: bottom; }
svg { color: var(--color-b); } 
.mono { position: relative; margin-right: 20px; }
.disabled::before { content: ""; position: absolute; left: 0; right: 0; top: 0; bottom: 0; background-color: white; opacity: 0.5; }