<div *ngIf="descriptor">

	<h3>Tool description</h3>

	<ol>
		<li>
			<label i18n="Name:|Boutiques tool name label@@boutiquesToolName">Name:</label>
			<span id="tool-name" class="right-col">{{descriptor.name}}</span>
		</li> 
		<li>
			<label i18n="Description:|Boutiques tool description label@@boutiquesToolDescription">Description:</label>
			<span id="tool-description" class="right-col">{{descriptor.description}}</span>
		</li> 
		<li>
			<label i18n="Tags:|Boutiques tool tags label@@boutiquesToolTags">Tags:</label>
			<!-- <span id="tool-tags" class="right-col"><pre>{{getTags()}}</pre></span> -->
			<span id="tool-tags" class="right-col">{{getTags()}}</span>
		</li>
	</ol>
	
</div>