<ng-template ngFor let-subject [ngForOf]="subjects">
    <node [label]="subject.name" pictoUrl="assets/images/icons/user.png">
        <ng-template ngFor let-exam [ngForOf]="subject.examinations">
            <node [label]="exam.name + ' [' + exam.date + ']'" pictoUrl="assets/images/icons/list.png">
                <node *ngFor="let acq of exam.acquisitions" [label]="acq.name" pictoUrl="assets/images/icons/medical/x-ray-2.png">
                    <node *ngFor="let dataset of acq.datasets" [label]="dataset.name" pictoUrl="assets/images/icons/medical/brain.png">
                    </node>
                </node>
            </node>
            <dropdown-menu mode="tree">
                <menu-item label="Research study" link="" icon="assets/images/icons/folder-12.png"></menu-item>
                <menu-item label="Subject" link="" icon="assets/images/icons/user.png"></menu-item>
                <menu-item label="Investigator" link="" icon="assets/images/icons/medical/nurse.png"></menu-item>
                <menu-item label="Acquisition equipment" link="" icon="assets/images/icons/medical/cardiogram-1.png"></menu-item>
                <menu-item label="Coil" link="" icon="assets/images/icons/wifi.png">
                    <menu-item label="Coil" link="" icon="assets/images/icons/wifi.png"></menu-item>
                    <menu-item label="Experimental group of subjects" icon="assets/images/icons/users.png">
                        <menu-item label="Coil" link="" icon="assets/images/icons/wifi.png"></menu-item>
                        <menu-item label="Experimental group of subjects" icon="assets/images/icons/users.png"></menu-item>
                        <menu-item label="Score" link="" icon="assets/images/icons/podium.png"></menu-item>
                    </menu-item>
                    <menu-item label="Score" link="" icon="assets/images/icons/podium.png"></menu-item>
                </menu-item>
                <menu-item label="Experimental group of subjects" icon="assets/images/icons/users.png"></menu-item>
                <menu-item label="Score" link="" icon="assets/images/icons/podium.png"></menu-item>
            </dropdown-menu>
        </ng-template>
    </node>
    <!--dropdown-menu mode="tree">
        <menu-item label="Research study" link="" icon="assets/images/icons/folder-12.png"></menu-item>
        <menu-item label="Subject" link="" icon="assets/images/icons/user.png"></menu-item>
        <menu-item label="Examination" link="" icon="assets/images/icons/medical/stethoscope.png"></menu-item>
    </dropdown-menu-->
</ng-template>
