<node label="Subjects" [pictoUrl]="folderIconPath" deploy="true">
    <ng-template ngFor let-subject [ngForOf]="study.subjectStudyList">
        <node [label]="subject | subjectStudyLabel" [pictoUrl]="userIconPath" [nodeParams]="subject" [dataRequest]="true"
            (openClick)="getSubjectDetails($event)" link="true" (labelClick)="showSubjectDetails($event)">
            <ng-template ngFor let-examination [ngForOf]="subject.examinations">
                <node [label]="examination | subjectExaminationLabel" [pictoUrl]="listIconPath" link="true" (labelClick)="showExaminationDetails(examination?.id)">
                    <node *ngFor="let acquisition of examination.datasetAcquisitions" [label]="acquisition.name" [pictoUrl]="xRay2IconPath">
                        <node *ngFor="let dataset of acquisition.datasets" [label]="dataset.name" [pictoUrl]="usersIconPathbrainIconPath" link="true" (labelClick)="showDatasetDetails(dataset.id)">
                        </node>
                    </node>
                </node>
            </ng-template>
        </node>
    </ng-template>
</node>
<node label="Experimental Groups (is associated to)" [pictoUrl]="folderIconPath" deploy="true">
    <ng-template ngFor let-experimentalGroupsOfSubject [ngForOf]="study.experimentalGroupsOfSubjects">
        <node [label]="experimentalGroupsOfSubject.name" [pictoUrl]="usersIconPath">
        </node>
    </ng-template>
</node>
<node label="Principal investigators and Centers (takes place in and with)" [pictoUrl]="folderIconPath"
    deploy="true">
    <ng-template ngFor let-studycenter [ngForOf]="study.studyCenterList">
        <node [label]="studycenter.center.name" [pictoUrl]="homeIconPath" [nodeParams]="studycenter.center.id" link="true"
            (labelClick)="showCenterDetails($event)" deploy="true">
            <ng-template ngFor let-acquisitionEquipment [ngForOf]="studycenter.center.acquisitionEquipments">
                <node [label]="acquisitionEquipment | acqEqptLabel" [pictoUrl]="xRay1IconPath" [nodeParams]="acquisitionEquipment.id"
                    link="true" (labelClick)="showAcquisitionEquipmentDetails($event)">
                    <ng-template ngFor let-studyCard [ngForOf]="acquisitionEquipment.studyCards">
                        <node [label]="studyCard.name" [pictoUrl]="studyCardIconPath">
                        </node>
                    </ng-template>
                </node>
            </ng-template>
        </node>
    </ng-template>
</node>
<node label="Study cards" [pictoUrl]="folderIconPath" deploy="true">
    <ng-template ngFor let-studyCard [ngForOf]="study.studyCards">
        <node [label]="studyCard.name" [pictoUrl]="studyCardIconPath">
        </node>
    </ng-template>
</node>
<node label="Members" [pictoUrl]="folderIconPath" deploy="true">
    <ng-template ngFor let-membersCategory [ngForOf]="study.membersCategories">
        <node [label]="membersCategory.studyUserType.label" [pictoUrl]="folderIconPath" deploy="true">
            <ng-template ngFor let-member [ngForOf]="membersCategory.members">
                <node [label]="member.name" [pictoUrl]="userIconPath" [nodeParams]="member.id" link="true" (labelClick)="showMemberDetails($event)">
                </node>
            </ng-template>
        </node>
    </ng-template>
</node>