body { font-family: "Open Sans", Arial, sans-serif; font-size: 12px; color: #333; padding: 0 100px; display: block; }

.left-col { width: calc(80% - 70px); margin-right: 30px; height: 100%; float: left; padding: 10px; }
.right-col { width: 20%; height: 100%; float: right; padding: 10px; }
