<label i18n="Execution planning">Execution's planification</label>

<ol>
    <li>
            <ol *ngFor="let planifiedExec of executions let i = index; let even = even; let odd = odd;" [class.even]="even" [class.odd]="odd">
                <execution-planning executionPlanning="{{planifiedExec}}" [mode]="mode"/>
                <button *ngIf="mode =='edit' " (click)="deleteExec(planifiedExec)"> Delete </button>
            </ol>
    </li>
    <button *ngIf="mode == 'edit'" (click)="addNewExec()"> New </button>
</ol>

