<li class="menu-item {{getMode()}}-mode" 
    [class.opened]="init && opened" 
    [class.closed]="!opened" 
    [class.animate]="overflow"
    >
    <span 
        *ngIf="hasChildren"
        class="label"
        (click)="toggle()"
        ><img src="{{icon}}" onerror="if (this.src != folderIconPath) this.src = folderIconPath;"/>{{label}}
        <span class="arrow">&nbsp;&#9656;</span>
    </span>
    <span 
        *ngIf="!hasChildren && boolVar != undefined"
        class="label"
        ><img src="{{icon}}" onerror="if (this.src != folderIconPath) this.src = folderIconPath;"/>{{label}}
        <span class="arrow" *ngIf="boolVar != undefined && boolVar">&nbsp;&#x2713;</span>
        <span class="arrow" *ngIf="boolVar != undefined && !boolVar">&nbsp;&#x2717;</span>
    </span>
    <span 
        *ngIf="!hasChildren && boolVar == undefined"
        [routerLink]="link? link : null" 
        [routerLinkActive]="link? 'active' : 'unactive'"
        class="label" 
        (click)="click()"
        ><img src="{{icon}}" onerror="if (this.src != folderIconPath) this.src = folderIconPath;"/>{{label}}
    </span>
    <!-- ul #contentWrapper class="sub-content" [class.hidden]="!opened" [@myAnimation]="opened" -->
    <ul #contentWrapper class="sub-content" *ngIf="opened" [@slideRight]="opened" [hidden]="!init">
        <div class="sub-sub-content"><ng-content></ng-content></div>
    </ul>
</li>