 :host() { display: table; border-spacing: 0; table-layout: fixed; width: 100%; border-top: 0; }
.full-row { background-color: var(--color-b); overflow: initial; }
th,
caption { padding: 4px 5px; background-color: var(--color-b); color: var(--very-light-grey); font-weight: normal; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
th { width: 100%; white-space: normal; }
	.controls { padding: 0; text-align: left; background-color: transparent; color: var(--very-dark-grey); }
		.controls button { height: 28px; padding: 0 5px; vertical-align: middle; background-color: transparent; border-radius: 2px; border: 1px solid transparent; color: var(--dark-grey); }
			.controls button:not(:disabled):hover { box-shadow: none; transform: none; background-color: var(--color-b-light); }
			.controls button:disabled { opacity: 0.5; }
			.controls button span { vertical-align: middle; }
			.controls button img { height: 16px; vertical-align: middle; }
			.command-block + .command-block { margin-left: 10px; }
			.controls .awesome { vertical-align: middle; margin-right: 4px; }
				.controls .awesome i { color: var(--color-c); }
		.controls input,
		.controls select { height: 20px; vertical-align: middle; }
		.controls input { padding: 0 5px; width: 150px; }
		.controls select { width: 150px; margin-right: 5px; }
		.controls .text-search,
		.controls .options,
		.select-ctrl { margin: 0 3px 0 0; padding: 0 20px 0 5px; vertical-align: baseline; }
			.controls .options .max-results { width: 40px; text-align: right; }
	th.sortable { cursor: pointer; position: relative; overflow: initial; }
		th.sortable .sort-arrow { position: absolute; top: 11px; right: 0; left: 0; color: var(--color-c); opacity: 0.6; top: 6px; font-size: 23px; }
	th.checkbox-col { width: 18px; }
	th.col-date { width: 70px; }
	th.col-boolean { width: 20px; }
	th.col-button { width: 20px; }
	th.pager { padding: 0 5px; overflow: initial; }
	th.status-bar { text-align: left; padding: 3px 0; color: var(--greyer)}
		th.status-bar input { width: 150px; }
		th.status-bar .options { border-right: 0; }
			th.status-bar .options span { padding: 0 10px; }
				th.status-bar .options span + span { border: 0; border-left: 1px solid var(--grey); }
tr { height: 20px; }
	/* tr.even { background-color: var(--light-grey); }
	tr.odd { background-color: var(--lighter-grey); } */
	tr:not(.disabled):not(.edit):hover td:not(.loading):not(.empty) { background-color: var(--color-b-light); cursor: pointer; }
tr.disabled { opacity: 0.7; }
td { padding: 0 5px; border: none; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; position: relative; }
	td + td { border-left: 1px solid var(--light-grey); }
	td.bool { text-align: center; }
	td.cell input:not([type='checkbox']), td.cell select { width: 100%; border: none; }
	td.cell-date { text-align: right; }
	td.cell-number { text-align: right; }
	td.cell-nofield { text-align: center; }
	td span.button { max-height: 20px; max-width: 20px; cursor: pointer; }
		td span.button img { height: 16px; vertical-align: bottom; }
		td span.button .awesome { color: var(--color-b); }
	td.loading,
	td.empty { padding: 20px 20px; text-align: center; }

.loader { float: right; border-left: none !important; }
	.loader img { margin-left: 5px; vertical-align: -1; height: 10px; }

a.link { text-decoration: none; color: inherit; }
	a.link i { font-size: 9px; vertical-align: 0; margin-left: 5px; color: var(--greyer); }
	a.link:hover i,
	a.link:hover { color: var(--color-a); text-decoration: underline; }

.cell-button i:hover { color: var(--color-a); }

checkbox { vertical-align: middle; }
td checkbox { transform: scale(0.8); }

.triangle { position: absolute;  left: 0; right: 0; z-index: 1; }
.triangle.up { top: -12px; }
.triangle.down { bottom: -8px; }
	.triangle svg { width: 15px; height: 5px;  }
	.triangle svg polygon { fill: var(--color-b); }
.col-title { z-index: 1; }

.clickable { cursor: pointer; }
.refresh { color: var(--greyer); }
.refresh i, .error i { margin-left: 7px; }
.bottom-refresh { padding: 0 !important; }

.error { color: var(--color-error); font-weight: bold; }
