 :host { display: table; border-spacing: 0; table-layout: fixed; width: 100%; border-top: 0; border-collapse: collapse; }
.full-row { background-color: var(--color-b); overflow: initial; }
th,
caption { padding: 4px 5px; background-color: var(--color-b); color: var(--very-light-grey); font-weight: normal; white-space: nowrap; text-overflow: ellipsis; }
caption { overflow: hidden; }
th { width: 100%; white-space: normal; position: relative; height: 1px; min-width: 10px; }
	.controls { padding: 0; text-align: left; background-color: transparent; color: var(--very-dark-grey); }
		.controls button { margin: 0; height: 28px; padding: 0 5px; vertical-align: middle; background-color: transparent; border-radius: 2px; border: 1px solid transparent; color: var(--dark-grey); }
			.controls button:not(:disabled):hover { box-shadow: none; transform: none; background-color: var(--color-b-light); }
			.controls button:disabled { opacity: 0.5; }
			.controls button span { vertical-align: middle; }
			.controls button img { height: 16px; vertical-align: middle; }
			.command-block { white-space: normal; }
			.command-block:not(:last-child) { margin-right: 10px; }
			.controls .awesome { vertical-align: middle; margin-right: 4px; }
				.controls .awesome i { color: var(--color-c); }
		.controls input,
		.controls select { height: 20px; vertical-align: middle; }
		.controls input { padding: 0 5px; width: 150px; }
		.controls select { width: 150px; margin-right: 5px; }
		.controls .text-search,
		.controls .options,
		.select-ctrl { margin: 0 3px 0 0; padding: 0 20px 0 5px; vertical-align: baseline; }
		.select-ctrl checkbox { margin-bottom: 4px; }
		.select-ctrl.with-sub checkbox { margin-left: 30px; }
		.ctrl-right { width: calc(100% - 47px); display: inline-block; margin-bottom: 5px; }
		.ctrl-right.with-sub { width: calc(100% - 77px); }
			.controls .options .max-results { width: 40px; text-align: right; }
	th.sortable { cursor: pointer; position: relative; overflow: initial; }
		th.sortable .sort-arrow { position: absolute; top: 11px; right: 0; left: 0; color: var(--color-c); opacity: 0.6; top: 6px; font-size: 23px; }
	th.checkbox-col { width: 20px; }
	th.col-date { width: 70px; }
	th.col-boolean { width: 20px; }
	th.col-button { width: 20px; }
	th.pager { padding: 0 5px; overflow: initial;  text-align: center; }
	th.status-bar { text-align: left; padding: 3px 0; color: var(--greyer)}
		th.status-bar input { width: 150px; }
		th.status-bar .options { border-right: 0; }
			th.status-bar .options span { padding: 0 10px; white-space: nowrap; }
			th.status-bar .options span:first-child { padding-left: 0; }
			th.status-bar .options span:last-child { padding-right: 0; }
				th.status-bar .options span + span { border: 0; border-left: 1px solid var(--grey); }
	.collapsable { opacity: 0; }
	.collapsable:hover { opacity: 1; }
tr { height: 21px; }
	/* tr.even { background-color: var(--light-grey); }
	tr.odd { background-color: var(--lighter-grey); } */
	tr:not(.disabled):not(.edit):not(.sub-container-tr):hover td:not(.loading):not(.empty):not(.sub-container-tr) { background-color: var(--color-b-light); cursor: pointer; }
	tr.selected:not(.disabled):not(.edit):hover td:not(.loading):not(.empty) { background-color: var(--grey); cursor: pointer; }
 	tr.selected { background-color: lightsteelblue; }
tr.disabled { opacity: 0.7; }
td { padding: 0 5px; border: none; white-space: nowrap; text-overflow: ellipsis; position: relative; height: 100%; overflow: hidden; }
	td + td { border-left: 1px solid var(--light-grey); }
	td.bool, td.progress { text-align: center; }
	td.cell input:not([type='checkbox']), td.cell select { z-index: 1; position: inherit; width: auto; border: none; padding-right: 10px; }
    td.cell input[type='text'] { border-bottom: 1px solid var(--grey)}
	td.cell-date { text-align: right; }
	td.cell-number { text-align: right; }
	td.cell-nofield { text-align: center; }
	td.multi { white-space: inherit; }
	td span.button { max-height: 20px; max-width: 20px; cursor: pointer; }
		td span.button img { height: 16px; vertical-align: bottom; }
		td span.button i { color: var(--color-b); }
	td.loading,
	td.empty { padding: 20px 20px; text-align: center; }
	.cell-container:not(.select):not(.wrap) { overflow: hidden; text-overflow: ellipsis; position: absolute; top: 0; right: 0; bottom: 0; left: 0; padding: 1px 5px; }
	.cell-container a { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
	.cell-container.multiselect a, .cell-container.wrap a { white-space: initial; width: auto; height: 100%; }
	/*.cell-container:empty:after { content: '.'; visibility: hidden; }*/
	.cell-container:not(.wrap) .default-data-parent { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
 .cell-container.wrap .default-data-parent { white-space: break-spaces; }
  	.cell-new-tab { line-height:21px; height: inherit; display: block; text-decoration: none; color: black; width: auto; }

.loader { float: right; border-left: none !important; }
	.loader img { margin-left: 5px; vertical-align: -1; height: 10px; }

a.link { text-decoration: none; color: inherit; }
	a.link i { font-size: 9px; vertical-align: 0; margin-left: 5px; color: var(--greyer); }
	a.link span i { font-size: inherit; vertical-align: 0; margin-left: 0; color: var(--color-b); text-decoration:none; }
	a.link:hover i,
	a.link:hover { color: var(--color-a); text-decoration: underline; }

.cell-button i:hover { color: var(--color-a); }

checkbox { vertical-align: middle; }
td checkbox { transform: scale(0.8); border-color: var(--color-b-light2); }

.triangle { position: absolute;  left: 0; right: 0; z-index: 1; }
.triangle.up { top: -11px; }
.triangle.down { bottom: -8px; }
	.triangle svg { width: 15px; height: 5px;  }
	.triangle svg polygon { fill: var(--color-b); }
.col-title { z-index: 1; }
.click-dummy { position: absolute; top: 0; bottom: 0; left: 0; right: 0; }

.clickable { cursor: pointer; }
.refresh { color: var(--greyer); }
.refresh i, .error i { margin-left: 7px; }
.error { color: var(--color-error); font-weight: bold; }

tr:hover .col-settings-button, .col-settings-button:hover { opacity: 0.8;}
.col-settings-button { display: block; opacity: 0; position: absolute; left: -21px; top: 1px; bottom: 0; width: 20px; height: 25px; color: var(--color-b); cursor: pointer; font-size: 16px; }

.modal-window .main { background-color: var(--very-light-grey); border-radius: 2px; }
.modal-window .header, .modal-window .footer { text-align: center; padding: 10px 0; }
.modal-window .header { font-size: 16px; }
.modal-window .body { margin: 15px 10px; }
.modal-window input { width: 37px; }
.modal-window table td { padding: 1 5px; }

.resizer { display: block; position: absolute; top: 0; bottom: 0; right: -5px; width: 10px; z-index: 1; }
thead th:not(:first-child) { border-left: 1px solid grey; }

.resizing, .resizer { cursor: col-resize !important; user-select: none; }
progress-bar { vertical-align: middle; }

.sub-container-tr { border-left: 1px solid var(--grey); border-bottom: 1px solid var(--grey); border-right: 1px solid var(--grey); background-color: antiquewhite; }
tr.opened { border-left: 1px solid var(--grey); border-top: 1px solid var(--grey); border-right: 1px solid var(--grey); background-color: antiquewhite; }
.sub-container-tr:hover .sub-container-td { background-color: inherit !important; }
.sub-container-td { background-color: inherit; padding: 0; }
.sub-container-margin-td { width: 30px; background-color: inherit !important; padding: 0; }
.sub-container-table { border-spacing: 0; table-layout: fixed; width: 100%; color: darkslateblue; }
.sub-container-table th { background-color: var(--color-b-light2); }
.sub-container-table .col-title { white-space: nowrap; }
.sub-container-table th:not(:first-child) { border-left: 1px solid var(--very-light-grey); }
.deploy-cell i { color: var(--color-b); padding: 0 5px; }

.block { padding: 0px 5px; border-radius: 10px; white-space: nowrap; margin-right: 5px; display: inline-block;}
.block i, .block .label { white-space: nowrap; }
.dark { color:white; }
.table-edit { height: auto !important; }

 input[type="number"] {
     -moz-appearance: textfield;
 }
 input[type="number"]:hover,
 input[type="number"]:focus {
     -moz-appearance: number-input;
 }
