/**********/
/* Common */
/**********/
:root{
    --very-light-grey: #fdfdfd;
    --lighter-grey: #fafafa;
    --light-grey: #f1f1f1;
    --grey: #BEC3C7;
    --greyer: #777;
    --dark-grey: #333;
    --very-dark-grey: #222;

    --color-overlay: rgba(70, 70, 70, 0.8); 

    --color-a: #5f0f4e;
    --color-b: #675682;
    --color-b-light: #E0DDE6;
    --color-b-light2: #76678E;
    --color-c: #e52a6F;
    --color-error: red;
    --color-important: red;
    --color-light-error: #f4dede;

    --shadow-height: 15px;
    --shadow-color: rgba(0,0,0,0.3);
}

body { margin: 0; background-color: var(--very-light-grey); }
  body.outsilde { background-color: var(--color-a); }
body, option, table, button, select, input {font-family: "Open Sans", Arial, sans-serif; font-size: 12px; color: var(--very-dark-black); }
h1 { font-size: 28px; }
h1, h2, h3, h4 { color: var(--color-a); }
h2 { margin: 0; font-size: 20px; }
hr { margin: 7px 0 !important; border-bottom: 1px solid var(--grey) !important; border: 0; }
input { padding: 1px 5px; }
option:disabled { color: var(--greyer); }
ul { padding: 0; }
li { list-style: none; } 
form { margin: 0; }
select:disabled { opacity: 0.5; }

table.layout { border: none; border-collapse: collapse; }
  table.layout td { padding: 0;	vertical-align: top; }
  table.layout td + td { border-left: 3px dashed var(--light-grey); }

button { background-color: var(--color-b); border: 0px; border-radius: 2px; color: var(--very-light-grey); padding: 5px 10px; transition-property: transform, box-shadow; transition-duration: 0.3s; transition-timing-function: ease-in-out; }
  button:enabled:hover { cursor: pointer; }
  button:disabled { background-color: var(--grey); border-color: var(--grey); cursor: auto; } 
  button:active, 
  button:enabled:hover { color: var(--very-light-grey); background-color: var(--color-b-light2); box-shadow: none !important; transform: none !important; transition: none !important; }
  button svg { vertical-align: inherit; }

input[type='date'] { width: 140px; }

.hidden { display: none !important; }

form { color: var(--dark-grey); background-color: var(--lighter-grey); border: 1px solid var(--light-grey); }
  form input:not([type='file']),
  form textarea,
  form select { border: 1px solid var(--grey) !important; border-radius: 2px !important; }
  form input[readonly],
  form textarea[readonly],
  form select[readonly] { background-color: var(--light-grey); cursor: default; color : transparent; text-shadow : 0 0 0 var(--greyer);}
    form input.ng-invalid.ng-dirty,
    form input.invaliddate,
    form textarea.ng-invalid.ng-dirty,
    form select.ng-invalid.ng-dirty { border: 1px solid var(--color-error) !important; background-color: var(--color-light-error) !important; }
  form input:not([type="checkbox"])::not([type="radio"]):not([type="file"]), form select { height: 20px; }
  form input[type='radio'] { vertical-align: sub; margin: 0 5px 0 0; }
  form input[type='radio'] + input[type='radio'] { margin-left: 20px; }
  form textarea { resize: vertical; }
  form button { margin: 10px 0; }
  form input:not([type]), input[type='text'], input[type='password'], input[type='email'], textarea, select { width: 220px; }
  form fieldset { border: 0; padding: 0; margin: 15px; }
    form fieldset.responsive { margin-left: -5px; }
  form fieldset.line { border-top: 1px solid var(--grey); padding-top: 11px; }
    form fieldset fieldset { border: none; margin: 3px 0 0; }
    form fieldset fieldset legend { padding: 0 0 5px; font-weight: normal; }
    form fieldset fieldset label { display: block; width: auto; }
    form fieldset fieldset label { margin-left: 183px; }
  form legend { padding: 0 10px 0 0; color: var(--color-a); font-size: 14px; margin: 10px 0; color: var(--color-c); width: 100%; border-bottom: 1px solid var(--color-b-light); }
  form li > label { display: inline-block; vertical-align: sub; width: 250px; }
  form fieldset ol { margin: 0; padding: 0; overflow: hidden; }
    form fieldset.responsive ol { float: left; padding: 0 50px 0 0; }
  form fieldset li { list-style: none; padding: 3px 0; margin: 0; min-height: 21px; }
    form fieldset li input,
    form fieldset li select,
    form fieldset li button { height: 21px; }
    form li.info { margin: 4px 0 13px; background-color: lightgoldenrodyellow; padding: 10px 15px; overflow: hidden; width: 473px; }
      form li.info .icon { margin-right: 6px; vertical-align: middle; color: var(--color-b); font-size: 16px; }
  form em { font-weight: bold; font-style: normal; color: var(--color-error); }
  form .header, form .footer { padding: 6px 15px; }
  form .footer { text-align: right; }
  form .header { font-size: 16px; color: var(--color-b); font-weight: bold; padding-top: 10px; padding-bottom: 10px; }
  form .required-label:after{ content:" *"; }
  form .form-validation-alert { color: var(--color-error); width: 100%; overflow: hidden; }
  form .right-col { display: inline-block; vertical-align: top; min-width: 250px; line-height: 20px; }
  form .right-col label { text-align: left; display: block; }
  form .right-col button { padding: 0 5px; margin: 0; background-color: transparent; border: 1px solid var(--grey); color: var(--very-dark-grey); height: 21px; }
    form .right-col button:active { background-color: var(--color-b-light); }
    form .right-col button:disabled { color: var(--grey); }
    form .right-col button img { height: 12px; vertical-align: sub; margin: 0px 5px 2px 0px; }

  /* Date picker style overriding */
  form my-date-picker input { height: 21px; font-size: 12px !important; font-weight: normal !important; color: var(--greyer) !important; font-family: "Open Sans", Arial, sans-serif !important; }
  form my-date-picker .selector { border: 1px solid var(--light-grey) !important; box-shadow: 0 0 var(--shadow-height) 0px gray !important; }
  form my-date-picker input.selection { text-align: left !important; padding: 0 5px !important; }
  form my-date-picker button.btnpicker,
  form my-date-picker button.btnclear { font-weight: normal !important; color: var(--greyer) !important; border: 0 !important; height: 10px; background-color: transparent !important; }
  /* form my-date-picker button.btnpicker:hover,
  form my-date-picker button.btnclear:hover { color: var(--color-a) !important; background-color: transparent !important; } */
    form my-date-picker button.btnpicker span,
    form my-date-picker button.btnclear span { font-size: 12px !important; }
  form my-date-picker .icon-calendar { line-height: 17px !important; }
  form my-date-picker .mydp { border: 0 !important; font-family: "Open Sans",Arial,sans-serif !important;}
  form my-date-picker .mydp .caltable,
  form my-date-picker .mydp .header { font-size: 12px !important; padding: 0 !important; }
  form my-date-picker .mydp .daycell { height: 23px !important; }
  form my-date-picker .mydp .selector { width: auto !important; }
  form my-date-picker .mydp td + td { border-left: none; }
  form my-date-picker .mydp .daycell,
  form my-date-picker .mydp .weekdaytitle { padding: 5px 3px !important; }
  form my-date-picker .mydp .headerlabelbtn { font-size: 12px !important; color: var(--dark-grey) !important; min-width: 40px !important;}
  form my-date-picker .mydp .icon-left,
  form my-date-picker .mydp .icon-right { font-size: 12px !important; }
  form my-date-picker .mydp .headertodaybtn { font-size: 12px !important; min-width: 0 !important; }
  form my-date-picker .mydp .selbtngroup { top: 3px !important; right: 2px !important; height: 14px !important; }
  form my-date-picker .mydp .selectorarrow::before { border-color: rgba(204, 204, 204, 0) rgba(204, 204, 204, 0) #f1f1f1 !important; border-width: 12px !important; margin-left: -12px !important; }
  form my-date-picker .mydp .caltable, 
  form my-date-picker .mydp .daycell, 
  form my-date-picker .mydp .weekdaytitle { color: var(--color-a) !important; }
  form my-date-picker .mydp .sunday { color: var(--color-b) !important; }


.main-content { padding: 0 20px 10px 20px; position: relative; }
.max-content { display: inline-block; }
.command-zone { background-color: var(--light-grey); }

.error-message label { color: var(--color-error); }
.error-message li { color: var(--color-error); }

.bool-true { color: green; font-weight: bold }
.bool-false { color: darkred; font-weight: bold }

.shanoir-table table { border-collapse: collapse; }
  .shanoir-table table td, .shanoir-table table th { border: 1px solid gray; }

.overlay { position: fixed; height: 100%; width: 100%; background-color: var(--color-overlay); z-index: 100000; top: 0; bottom: 0; left: 0; right: 0; display: flex; justify-content: center; }
    .overlay .content { align-self: center; }

.detail .left { float: left; }
.detail .right { float: right; -webkit-margin-start: 2px; }

.svg-inline--fa { vertical-align: baseline; }

.loading-msg { text-align: center; margin: 0; }
.cat { text-align: center; width: 100%; }
    .cat img { display:inline-block; height: 100px; }