
html { display: table;  width: 100%; height: 100%; }
body { background-color: var(--color-a); display: table-cell; vertical-align: middle; }

#kc-container { margin-bottom: 200px; }

.logo {	text-align: center; }
	.logo img { margin: 20px; }

.login-main { text-align: center; background-color: var(--color-a); width: 100%; height: 100%; }
	.login-main form { margin: auto; text-align: center; }
		.login-main form a { text-decoration: none; color: var(--color-b-light); }
	.login-main .header { padding: 20px 0; color: var(--color-b-light); } 
	.login-main .footer { text-align: center; padding: 0; } 
	.login-main .error { color: var(--color-error); } 
	.login-main select,
	.login-main input { border: none; border-bottom: 1px solid var(--grey); background-color: transparent; color: var(--color-b-light); }
	input:focus, select:focus, select-box:focus, datepicker:focus {
		outline: none; border-bottom: 2px solid var(--color-b-light) !important;
	}
	.login-main .instructions { color: var(--color-b-light); line-height: 1.3; }


@-webkit-keyframes autofill {
	to {
		color: var(--color-b-light);
		background: transparent;
	}
}
input:-webkit-autofill {
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;
}