# Shanoir NG - Import, manage and share neuroimaging data
# Copyright (C) 2009-2019 Inria - https://www.inria.fr/
# Contact us on https://project.inria.fr/shanoir/
# 
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# You should have received a copy of the GNU General Public License
# along with this program. If not, see https://www.gnu.org/licenses/gpl-3.0.html

######################################
# Default profile is production      #
######################################
server:
  port: 9903
  error:
    whitelabel:
      enabled: false
##### Database #####
spring:
  datasource:
    url: jdbc:mysql://${SHANOIR_PREFIX}database:3306/import?useLegacyDatetimeCode=false&serverTimezone=Europe/Paris&characterEncoding=utf-8&useSSL=false
    username: import
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari.maximum-pool-size: 40
    hikari.minimum-idle: 40
  jpa:
    defer-datasource-initialization: true
    generate-ddl: false # default, but prefer to set it explicitly (bootstrap.sh)
    hibernate:
      # Hibernate ddl auto (create, create-drop, update, validate)
      ddl-auto: validate
      id:
        db_structure_naming_strategy: legacy
    open-in-view: false
    properties:
      hibernate:
        connection:
          charset: UTF-8
        hbm2ddl:
          import_files_sql_extractor: org.hibernate.tool.hbm2ddl.MultipleLinesSqlCommandExtractor
  main:
    allow-circular-references: true
  mvc:
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER
  sql:
    init:
      data-locations: classpath:/scripts/import.sql
      mode: never
  threads:
    virtual:
      enabled: true
##### Others #####
  jackson:
    mapper:
      use-getters-as-setters: false
  jooq:
    sql-dialect: Mysql
  rabbitmq:
    host: ${SHANOIR_PREFIX}rabbitmq
    port: 5672
    username: guest
    password: guest
  session:
    store-type: none
  servlet:
    multipart:
      enabled: true
      max-file-size: 5000MB
      max-request-size: 5000MB
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${SHANOIR_URL_SCHEME}://${SHANOIR_URL_HOST}/auth/realms/shanoir-ng

springdoc:
  api-docs:
    path: '/api-docs'
    enabled: true
  swagger-ui:
    url: /shanoir-ng/import/api-docs
    config-url: /shanoir-ng/import/api-docs/swagger-config
    enabled: true
    disable-swagger-default-url: true

front.server:
  address: ${SHANOIR_URL_SCHEME}://${SHANOIR_URL_HOST}/shanoir-ng/
  url: ${SHANOIR_URL_SCHEME}://${SHANOIR_URL_HOST}

# microservices url
ms.url:
  shanoir-ng-datasets: http://${SHANOIR_PREFIX}datasets:9904/datasetacquisition
  shanoir-ng-datasets-eeg: http://${SHANOIR_PREFIX}datasets:9904/datasetacquisition_eeg
  shanoir-ng-studies-name: http://${SHANOIR_PREFIX}studies:9902/studies/names
  shanoir-ng-studies-subjects-names: http://${SHANOIR_PREFIX}studies:9902/subjects/names
  shanoir-ng-create-examination: http://${SHANOIR_PREFIX}datasets:9904/examinations
  shanoir-ng-studies-commons: http://${SHANOIR_PREFIX}studies:9902/common
# logging configuration
logging:
  pattern:
    file: '%d{yyyy-MM-dd_HH:mm:ss.SSS} %-5level [%mdc{username}] %logger{35} - %msg%n'
  file:
    name: /var/log/shanoir-ng-logs/shanoir-ng-import.log
  level:
    org.springframework.web: ERROR
    org.hibernate: ERROR
    org.shanoir: INFO
# Shanoir configurations
shanoir:
  import:
    directory: /tmp
    # Import from PACS configuration
    pacs:
      query:
        aet.calling:
          name: SHANOIR-SCU
          host: "0.0.0.0"
          #host: ${SHANOIR_PREFIX}import
          port: 11115
        aet.called:
          name: DCM4CHEE
          host: ${SHANOIR_PREFIX}dcm4chee-arc
          port: 11112
        maxPatients: 10
      store:
        aet.called:
          name: SHANOIR-SCP
          host: "0.0.0.0"
          #host: ${SHANOIR_PREFIX}import
          port: 44105
        folder: /tmp/shanoir-dcmrcv
    # In a dicom file. Format "tag==value;" If it is not needed to separate image files into separated folders for a dicom serie.
    series:
      # this long name has been kept, as Elise and Isabelle know it like this; to find it for further adaptions in later time
      # Also during the nifti conversion, it will be reconstructed as 4D volumes.
      seriesProperties: seriesDescription==*ASL*;seriesDescription==*asl*;protocolName==*ASL*;seriesDescription==*VIBE*DYN*;seriesDescription==*MoCoSeries*;seriesDescription==*DIFF*;seriesDescription==*Diff*;seriesDescription==*diff*;seriesDescription==*DTI*;seriesDescription==*DWI*;seriesDescription==*PERF*;seriesDescription==*Perf*;seriesDescription==*perf*;seriesDescription==*BOLD*;seriesDescription==*Bold*;seriesDescription==*bold*;seriesDescription==*intermediate t-Map*;protocolName==*DYN*;protocolName==*Dyn*;protocolName==*dyn*;seriesDescription==*QSM*;seriesDescription==*qsm*;seriesDescription==*RELAXO*;seriesDescription==*relaxo*;seriesDescription==*Relaxo*;seriesDescription==IRMF;protocolName==IRMF;seriesDescription==*mc*gse*;protocolName==*mc*gse*;seriesDescription==*MULTIGRE*;protocolName==*MULTIGRE*;seriesDescription==*multigre*;protocolName==*multigre*;seriesDescription==*Multigre*;protocolName==*Multigre*;

---

######################################
# DO NOT COMMIT VALUES MODIFICATIONS #
######################################
server:
  port: 9913
spring:
  config.activate.on-profile: dev
  datasource:
    url: jdbc:mysql://localhost:3307/import?useLegacyDatetimeCode=false&serverTimezone=Europe/Paris&characterEncoding=utf-8&allowPublicKeyRetrieval=true&useSSL=false
  jpa:
    generate-ddl: true
    hibernate:
      # Hibernate ddl auto (create, create-drop, update, validate)
      ddl-auto: create
    show-sql: true
  rabbitmq:
    host: localhost
  main:
    allow-circular-references: true
  mvc:
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER
  sql:
    init:
      mode: always
  threads:
    virtual:
      enabled: true
front.server:
  address: https://shanoir-ng-nginx/shanoir-ng/
  url: https://shanoir-ng-nginx
ms.url:
  shanoir-ng-datasets: http://localhost:9904/datasetacquisition
  shanoir-ng-datasets-eeg: http://localhost:9904/datasetacquisition_eeg
  shanoir-ng-studies-name: http://localhost:9902/studies/names
  shanoir-ng-studies-subjects-names: http://localhost:9902/subjects/names
  shanoir-ng-create-examination: http://localhost:9904/examinations
  shanoir-ng-studies-commons: http://localhost:9902/common
# logging configuration
logging:
  file:
    name: /var/log/shanoir-ng-logs/shanoir-ng-import.log
  level:
    org.springframework.web: DEBUG
    org.hibernate: DEBUG
    org.springframework.amqp: OFF
shanoir:
  import:
    directory: /tmp
    # Import from PACS configuration
    pacs:
      query:
        aet.calling:
          name: SHANOIR-SCU
          host: localhost
          port: 11115
        aet.called:
          name: DCM4CHEE
          host: localhost
          port: 11112
        maxPatients: 10
      store:
        aet.called:
          name: SHANOIR-SCP
          host: localhost
          port: 44125
        folder: /tmp/shanoir-dcmrcv

---

#################
# DO NOT CHANGE #
#################
spring:
  config.activate.on-profile: test
  main:
    allow-bean-definition-overriding: true
    allow-circular-references: true
  datasource:
    url: jdbc:h2:mem:SHANOIR_NG_IMPORT;MODE=MySQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;DATABASE_TO_UPPER=false
    username: sa
    password:
    driverClassName: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true
    generate-ddl: true
    hibernate:
      # Hibernate ddl auto (create, create-drop, update, validate)
      ddl-auto: create
  autoconfigure.exclude: org.springframework.boot.autoconfigure.amqp.RabbitAutoConfiguration
  mvc:
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER
  sql:
    init:
      data-locations: classpath:/scripts/test-data-h2.sql
      mode: always
