**/aot/
**/dist/
**/node_modules/
**/typings/
*~
*.swp
*.map
*.pyc
*.metadata.json
*.settings/
.DS_Store
.metadata/
npm-debug.log
scripts/.DS_Store
shanoir-ng-main.log
shanoir-ng-nginx/webapp
shanoir-ng-resource-server.log
target
**/.classpath
.factorypath
.project
bin/
shanoir-uploader/src/main/resources/profile.OFSEP/key
shanoir-uploader/src/main/resources/profile.OFSEP-qualif/key
shanoir-uploader/src/main/resources/pseudonymus

/docker-compose/nginx/webapp/
/docker-compose/*/shanoir-ng-*.jar
/docker-compose/*/entrypoint_common
/docker-compose/*/oneshot

/home
/tmp
