**/aot/
**/dist/
**/node_modules/
**/typings/
*~
*.swp
*.map
*.pyc
*.metadata.json
*.settings/
.DS_Store
.metadata/
npm-debug.log
scripts/.DS_Store
shanoir-ng-main.log
shanoir-ng-nginx/webapp
shanoir-ng-resource-server.log
target
**/.classpath
.factorypath
.project
.vscode
bin/
docker-compose/**/*.jar
docker-compose/database/3_init_preclinical.sql
docker-compose/nginx/webapp/
docker-compose/boutiques/boutiques
shanoir-ng-front/node/
shanoir-uploader/src/main/resources/profile.OFSEP/key
shanoir-uploader/src/main/resources/profile.OFSEP-qualif/key
shanoir-uploader/src/main/resources/pseudonymus
shanoir-ng-users/shanoir-events-log.log
shanoir-ng-preclinical/null*