**/aot/
**/dist/
**/node_modules/
**/typings/
*~
*.swp
*.map
*.pyc
*.metadata.json
*.settings/
.DS_Store
.metadata/
npm-debug.log
scripts/.DS_Store
shanoir-ng-main.log
shanoir-ng-nginx/webapp
shanoir-ng-resource-server.log
target
**/.classpath
.factorypath
.project
docker-compose-dev-debug.yml
.vscode
bin/
docker-compose/database/3_init_preclinical.sql
docker-compose/boutiques/boutiques
shanoir-ng-preclinical/null*
shanoir-uploader/src/main/resources/key
shanoir-uploader/src/main/resources/profile.OFSEP/key
shanoir-uploader/src/main/resources/profile.OFSEP-Qualif/key
shanoir-uploader/src/main/resources/pseudonymus
shanoir-uploader/src/test/resources/acr_phantom_t1/
shanoir-ng-tests/tests/geckodriver.log
shanoir-ng-users/shanoir-events-log.log
shanoir-ng-preclinical/nullbruker/
shanoir-ng-front/node/
shanoir-ng-front/package-lock.json
shanoir-ng-front/.angular
*.class
*.jar
*.project
**/webapp
*.js
.attach_pid*
.env.bak
/docker-compose/nginx/webapp/
/docker-compose/*/shanoir-ng-*.jar
/tmp
shanoir-ng-tests/tests/.Python
shanoir-ng-tests/tests/include/
shanoir-ng-tests/tests/lib/
shanoir-ng-tests/tests/pip-selfcheck.json
.idea/
*.iml
