.overlay { position: fixed; top: 0; right: 0; bottom: 0; left: 0; content: ""; background-color: rgb(255, 255, 255, 0.8); animation: entrance 0.3s; }

.main { text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); box-shadow: 0 0 var(--shadow-height) 0px var(--shadow-color);
        background-color: var(--color-a); color: var(--very-light-grey); border-radius: 2px; animation: box-entrance 0.3s; }

.header { font-size: 20px; font-weight: bold; padding: 14px 10px 10px; color: var(--color-b-light); }

.body { padding: 0 20px; }

.footer { padding: 15px 20px 20px; }

@keyframes entrance {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes box-entrance {
    from { top: 0px; }
    to { top: 50%; }
}