.main { text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); box-shadow: 0 0 var(--shadow-height) 0px var(--shadow-color);
    color: var(--dark-grey); background-color: var(--lighter-grey); border: 1px solid var(--light-grey); }

    .header { font-size: 20px; color: var(--color-a); font-weight: bold; padding: 10px; background-color: var(--light-grey); }

    .body { padding: 0 10px; text-align: left;}

    .footer { background-color: var(--light-grey); padding: 10px; }
        .footer button { padding: 5px 10px; line-height: normal; min-width: auto; border: 0; color: var(--very-light-grey) !important; }
            .footer button * { color: var(--very-light-grey) !important; }