<div class="left-col">
    <div class="top">
        <div class="logo" (click)="test()"><img src="./app/images/MSSEG logo.png"/></div>
        <div class="resume">
            <h1>iPrax</h1>
            <div #resumeWrap class="resume-content" [class.overflow-hidden]="!resumeOpened">
                <span #resume (window:resize)="onResumeResize()">
                    Iamque lituis cladium concrepantibus internarum non celate ut antea turbidum saeviebat ingenium a veri consideratione detortum et nullo inpositorum vel conpositorum fidem sollemniter inquirente nec discernente a societate noxiorum insontes velut exturbatum e iudiciis fas omne discessit, et causarum legitima silente defensione carnifex rapinarum sequester et obductio capitum et bonorum ubique multatio versabatur per orientales provincias, quas recensere puto nunc oportunum absque Mesopotamia digesta, cum bella Parthica dicerentur, et Aegypto, quam necessario aliud reieci ad tempus.
                </span><span class="elipsis" *ngIf="displayElipsis">...</span>
            </div>
            <div *ngIf="displayElipsis && resumeOpened" class="more" (click)="close()">hide...</div>
            <div *ngIf="displayElipsis && !resumeOpened" class="more" (click)="open()">more...</div>
        </div>
    </div>
</div>

<div class="right-col">
    
</div>