<tool-descriptor-info [descriptor]="descriptor"></tool-descriptor-info>

<invocation-gui #invocationGUI [descriptor]="descriptor" (invocationChanged)="onInvocationChanged($event)"></invocation-gui>

<input #openInvocationInput id="open-invocation" type="file" (change)="openInvocation($event)" />
<button (click)="openInvocationInput.click()">Open invocation</button>

<textarea id="invocation" [(ngModel)]="invocationValue" (keyup)=invocationValueChanged($event)></textarea>

<!-- <button (click)="setInvocation()">Set invocation</button> -->
<button (click)="saveInvocation($event)">Save invocation</button>