.overlay { position: fixed; top: 0; right: 0; bottom: 0; left: 0; content: ""; animation: entrance 0.3s; }

.main { text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); box-shadow: 0 0 var(--shadow-height) 0px var(--shadow-color);
        background-color: var(--very-light-grey); border-radius: 2px; width: 500px; padding: 15px 20px; }

.header { padding: 10px 10px; color: var(--color-a); }

.body { padding: 0 20px; max-width: 600px; text-align: left; color: var(--dark-grey); }

.footer { padding: 15px 20px 20px; }

.error { color: darkred; }

.info {
    text-align: left;
    margin-bottom: 30px;
    background-color: var(--color-b-light);
    padding: 10px;
    border-radius: 2px;
    line-height: 18px;
    color: var(--color-a);
}

.info i { color: var(--color-b); font-size: 16px; margin-right: 7px; }

.status {
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
}

p .label {
    display: inline-block;
    margin-right: 10px;
}
p .content {
    color: var(--color-a);
}

select-box {
    width: 200px;
}

.footer { margin-top: 20px; }
