# Shanoir NG - Import, manage and share neuroimaging data
# Copyright (C) 2009-2019 Inria - https://www.inria.fr/
# Contact us on https://project.inria.fr/shanoir/
# 
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# You should have received a copy of the GNU General Public License
# along with this program. If not, see https://www.gnu.org/licenses/gpl-3.0.html

######################################
# Default profile is production      #
######################################
server:
  port: 9902
  error:
    whitelabel:
      enabled: false
##### Database #####
spring:
  datasource:
    url: jdbc:mysql://${SHANOIR_PREFIX}database:3306/studies?useLegacyDatetimeCode=false&serverTimezone=Europe/Paris&characterEncoding=utf-8&useSSL=false
    username: studies
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
    initialization-mode: never
    data: classpath:/scripts/import.sql
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    generate-ddl: false # default, but prefer to set it explicitly (bootstrap.sh)
    hibernate:
      # Hibernate ddl auto (create, create-drop, update, validate)
      ddl-auto: validate
      use-new-id-generator-mappings: false
    properties:
      hibernate:
        connection:
          charset: UTF-8
        hbm2ddl:
          import_files_sql_extractor: org.hibernate.tool.hbm2ddl.MultipleLinesSqlCommandExtractor
##### Others #####
  jackson:
    mapper:
      use-getters-as-setters: false
  jooq:
    sql-dialect: Mysql
  rabbitmq:
    host: ${SHANOIR_PREFIX}rabbitmq
    port: 5672
    username: guest
    password: guest
  session:
    store-type: none
  servlet:
    multipart:
      enabled: true
      max-file-size: 6000MB
      max-request-size: 6000MB
front.server:
  address: ${SHANOIR_URL_SCHEME}://${SHANOIR_URL_HOST}/shanoir-ng/
  url: ${SHANOIR_URL_SCHEME}://${SHANOIR_URL_HOST}
##### Keycloak #####
keycloak:
  # attention: this config for the token issuer needs to match the domain of the frontend
  # used for token creation AND the server url needs to be known from inside the docker network:
  auth-server-url: ${SHANOIR_URL_SCHEME}://${SHANOIR_URL_HOST}/auth
  cors: true
  realm: shanoir-ng
  resource: shanoir-ng-studies
  ssl-required: external
  securityConstraints:
    - authRoles: 
      - ROLE_ADMIN
      - ROLE_EXPERT
      - ROLE_GUEST
      - ROLE_USER
    - securityCollections:
      - name: studies secured api
      - patterns:
        - /*
# microservices url
ms.url:
  shanoir-ng-users: http://${SHANOIR_PREFIX}users:9901/users
  shanoir-ng-import: http://${SHANOIR_PREFIX}import:9903/niftiConverter
  shanoir-ng-studycards: http://${SHANOIR_PREFIX}datasets:9904/studycards
  shanoir-ng-examinations: http://${SHANOIR_PREFIX}datasets:9904/examinations
  shanoir-ng-bids: http://${SHANOIR_PREFIX}datasets:9904/bids
# data paths
studies-data: /var/studies-data
# Data folder configuration
bids-data-folder: /var/datasets-data/bids-data
# logging configuration
logging:
  file:
    name: /var/log/shanoir-ng-logs/shanoir-ng-studies.log
  level:
    org.shanoir: WARN
    org.springframework.web: ERROR
    org.hibernate: ERROR

# This can be updated to set new servers available
migration-servers: Qualification==https://shanoir-qualif.irisa.fr/;;Neurinfo==https://shanoir.irisa.fr/;;GME==https://fli.ai/

---
######################################
# DO NOT COMMIT VALUES MODIFICATIONS #
######################################
server:
  port: 9922
spring:
  config.activate.on-profile: dev
  datasource:
    url: jdbc:mysql://localhost:3307/studies?useLegacyDatetimeCode=false&serverTimezone=Europe/Paris&characterEncoding=utf-8&useSSL=false
    initialization-mode: always
  jpa:
    generate-ddl: true
    hibernate:
      # Hibernate ddl auto (create, create-drop, update, validate)
      ddl-auto: create
    # Show or not log for each sql query
    show-sql: true
  rabbitmq:
    host: localhost
front.server:
  address: https://shanoir-ng-nginx/shanoir-ng/
  url: https://shanoir-ng-nginx
keycloak:
  auth-server-url: https://shanoir-ng-nginx/auth
ms.url:
  shanoir-ng-users: http://localhost:9901/users
  shanoir-ng-import: http://localhost:9903/niftiConverter
  shanoir-ng-studycards: http://localhost:9904/studycards
  shanoir-ng-examinations: http://localhost:9904/examinations
  shanoir-ng-bids: http://localhost:9904/bids
# data paths
studies-data: /tmp
# logging configuration
logging:
  file:
    name: /var/log/shanoir-ng-logs/shanoir-ng-studies.log
  level:
    org.shanoir: DEBUG
    org.springframework.web: DEBUG
    org.hibernate: ERROR
    org.springframework.amqp: OFF
    
    
---
spring:
  config.activate.on-profile: test
  datasource:
    url: jdbc:h2:mem:SHANOIR_NG_STUDY;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driver-class-name: org.h2.Driver
    initialization-mode: always
    data: classpath:/scripts/test-data-h2.sql
  jpa:
    generate-ddl: true
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      # Hibernate ddl auto (create, create-drop, update, validate)
      ddl-auto: create-drop
  autoconfigure.exclude: org.springframework.boot.autoconfigure.amqp.RabbitAutoConfiguration

