:host /deep/ button {     
    color: var(--color-a);
    background-color: transparent;
    border: 1px solid var(--color-a-light) !important; 
}
:host /deep/ button:disabled {     
    color: var(--greyer);
    border: 1px solid var(--grey) !important; 
}