<li 
    [class.opened]="opened" 
    [class.closed]="!opened">
    <span 
        *ngIf="contentWrapper.children.length > 0"
        class="label"
        (click)="toggle()"
        >{{label}}
        <span class="menu-arrow">&#x25BE;</span>
    </span>
    <span
        *ngIf="contentWrapper.children.length == 0"
        class="label" 
        (click)="click()"
        [routerLink]="link? link : null"
        [routerLinkActive]="link? 'active' : 'unactive'"
        >{{label}}
    </span>
    <ul #contentWrapper class="sub-content" [class.hidden]="!opened">
        <ng-content></ng-content>
    </ul>
</li>