<div class="content-component detail" [@preventInitialChildAnimations]>
	<form *ngIf="subject" [formGroup]="subjectForm" class="max-content" novalidate>
		<div class="layout" [ngClass]="{'left': mode=='view'}">
			<span class="right-col" [ngSwitch]="mode">
				<ng-template [ngSwitchCase]="'view'">
					<div class="header command-zone" i18n="View subject|Title@@subjectDetailViewTitle">Details on subject</div>
				</ng-template>
				<ng-template [ngSwitchCase]="'edit'">
					<div class="header command-zone" i18n="Edit subject|Title@@subjectDetailEditTitle">Edit subject</div>
				</ng-template>
				<ng-template [ngSwitchCase]="'create'">
					<div class="header command-zone" i18n="Create subject|Title@@subjectDetailCreateTitle">Create subject</div>
				</ng-template>
			</span>
			<fieldset>
				<legend *ngIf="mode !== 'view'" i18n="Subject detail|Name label@@subjectDetailGeneral">General</legend>
				<ol>
					<li>
						<label i18n="Subject detail|Subject Imaged object category label@@SubjectDetailSubjectImagedObjectCategory" class="required-label">Imaged object category</label>
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'">
								{{subject.imagedObjectCategory}}
							</ng-template>
							<ng-template ngSwitchDefault>
								<select id="imagedObjectCategory" required formControlName="imagedObjectCategory" [(ngModel)]="subject.imagedObjectCategory" (change)="buildForm()">
									<option *ngFor="let cat of ImagedObjectCategory.all()" [value]="cat" [ngSwitch]="cat"
										i18n="Imaged Object Category {{cat}}|Category label@@ImagedObjectCategory{{cat}}">
											<ng-template [ngSwitchCase]="ImagedObjectCategory.PHANTOM">Phantom</ng-template>
											<ng-template [ngSwitchCase]="ImagedObjectCategory.LIVING_HUMAN_BEING">Living human being</ng-template>
											<ng-template [ngSwitchCase]="ImagedObjectCategory.HUMAN_CADAVER">Human cadaver</ng-template>
											<ng-template [ngSwitchCase]="ImagedObjectCategory.ANATOMICAL_PIECE">Anatomical piece</ng-template>
											<ng-template ngSwitchDefault>{{cat}}</ng-template>
									</option>
								</select>
								<label *ngIf="formErrors.imagedObjectCategory.includes('required')" class="form-validation-alert" i18n="Subject detail|ImagedObjectCategory required error@@subjectDetailImagedObjectCategoryRequiredError">Imaged object category is required!</label>
							</ng-template>
						</span>
					</li>
				</ol>
				<ol *ngIf="humanSelected()" [@slideDown]="humanSelected()">
					<li *ngIf="(mode == 'create' && humanSelected()) || mode == 'edit'">
						<label i18n="Subject detail|Subject is already anonymized label@@SubjectDetailSubjectIsAlreadyAnonymized">Is the subject already anonymized?</label>
						<span class="right-col">
							<input type="radio" formControlName="isAlreadyAnonymized" [(ngModel)]="isAlreadyAnonymized" [value]="true" [checked]="isAlreadyAnonymized == true"
							/>Yes
							<input type="radio" formControlName="isAlreadyAnonymized" [(ngModel)]="isAlreadyAnonymized" [value]="false" [checked]="'isAlreadyAnonymized'?'isAlreadyAnonymized == false' :'true' "
							/>No
						</span>
					</li>
					<li class="info" *ngIf="!isAlreadyAnonymized && mode == 'create'" [@slideDown]="!isAlreadyAnonymized && mode == 'create'">
						<span class="icon"><i class="fas fa-info-circle"></i></span>A subject global identifier will be automatically generated using the first name, the last name and the birth date of the subject.
						This can help you to identify a subject that has already been inserted into the database.
						<br/>To ensure anonymity, the first name and the last name will not be saved.
						<br/>Notice that the birth Date will be set to the 1st of January of the birth Year for the same reason.
					</li>
					<li *ngIf="!isAlreadyAnonymized && mode == 'create'">
						<label i18n="Subject detail|First Name label@@SubjectDetailSubjectFirstName">First Name</label>
						<span class="right-col">
							<input type="text" id="firstName" [(ngModel)]="firstName" formControlName="firstName" />
						</span>
						<label *ngIf="formErrors.firstName.includes('required')" class="form-validation-alert" i18n="Subject detail|FirstName required error@@subjectDetailFirstNameRequiredError">First name is required!</label>
						<label *ngIf="formErrors.firstName.includes('length')" class="form-validation-alert" i18n="Subject detail|Name Length error@@subjectDetailNameLengthError">Length must be between 2 and 64!</label>
					</li>
					<li *ngIf="!isAlreadyAnonymized && mode == 'create'">
						<label i18n="Subject detail|Last Name label@@SubjectDetailSubjectLastName">Last Name</label>
						<span class="right-col">
							<input type="text" id="lastName" [(ngModel)]="lastName" formControlName="lastName" />
						</span>
						<label *ngIf="formErrors.lastName.includes('required')" class="form-validation-alert" i18n="Subject detail|LastName required error@@subjectDetailLastNameRequiredError">Last name is required!</label>
						<label *ngIf="formErrors.lastName.includes('length')" class="form-validation-alert" i18n="Subject detail|Name Length error@@subjectDetailNameLengthError">Length must be between 2 and 64!</label>
					</li>
					<li>
						<label *ngIf="mode !== 'edit'" i18n="Subject detail|Birth date label@@subjectDetailBirthDate">Birth date</label>
						<span [ngSwitch]="mode">
							<ng-template class="right-col" [ngSwitchCase]="'view'">
								{{subject.birthDate | date: 'dd/MM/yyyy'}}
							</ng-template>
							<ng-template class="right-col" [ngSwitchCase]="'create'">
								<datepicker [(ngModel)]="subject.birthDate" formControlName="birthDate"></datepicker>
								<label *ngIf="isBirthDateValid==false" class="form-validation-alert" i18n="Subject detail|Date valid error@@dateValidError">Date should be valid! Date format: dd/mm/yyyy</label>
								<label *ngIf="formErrors.birthDate.includes('required')" class="form-validation-alert" i18n="Subject detail|BirthDate required error@@subjectDetailBirthDateRequiredError">You need to enter a birth date for a living humain being!</label>
							</ng-template>
						</span>
					</li>
					<li>
						<label i18n="Subject detail|Sex label@@subjectDetailSex">Sex</label>
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'">
								{{subject.sex}}
							</ng-template>
							<ng-template ngSwitchDefault>
								<select id="sex" formControlName="sex" [(ngModel)]="subject.sex">
									<option [value]="'F'">Female</option>
									<option [value]="'M'">Male</option>
								</select>
							</ng-template>
						</span>
					</li>
					<li>
						<label i18n="Subject detail|Manual Hemispheric Dominance label@@subjectDetailManualHemisphericDominance">Manual Hemispheric Dominance</label>
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'">
								{{subject.manualHemisphericDominance}}
							</ng-template>
							<ng-template ngSwitchDefault>
								<select id="manualHemisphericDominance" formControlName="manualHemisphericDominance" [(ngModel)]="subject.manualHemisphericDominance">
									<option [value]="'Left'">Left</option>
									<option [value]="'Right'">Right</option>
								</select>
							</ng-template>
						</span>
					</li>
					<li>
						<label i18n="Subject detail|Language Hemispheric Dominance label@@subjectDetailLanguageHemisphericDominance">Language Hemispheric Dominance</label>
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'">
								{{subject.languageHemisphericDominance}}
							</ng-template>
							<ng-template ngSwitchDefault>
								<select id="languageHemisphericDominance" formControlName="languageHemisphericDominance" [(ngModel)]="subject.languageHemisphericDominance">
									<option [value]="'Left'">Left</option>
									<option [value]="'Right'">Right</option>
								</select>
							</ng-template>
						</span>
					</li>
				</ol>
				<ol *ngIf="!humanSelected()" [@slideDown]="!humanSelected()">
					<li *ngIf="mode == 'create'">
						<label class="date-label" i18n="Subject detail|Birth date label@@subjectDetailBirthDate">Date of creation</label>
						<datepicker [(ngModel)]="subject.birthDate" formControlName="birthDate"></datepicker>
						<label *ngIf="isBirthDateValid==false" class="form-validation-alert" i18n="Subject detail|Date valid error@@dateValidError">Date should be valid! Date format: dd/mm/yyyy</label>
					</li>
				</ol>
				<ol>
					<li>
						<label i18n="Subject detail|Name label@@subjectDetailName" class="required-label">Common name</label>
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'">
								{{subject.name}}
							</ng-template>
							<ng-template ngSwitchDefault>
								<input type="text" id="name" required minlength="2" maxlength="200" formControlName="name" [(ngModel)]="subject.name" (keyup)="isNameUnique=true" />
								<label *ngIf="formErrors.name.includes('required')" class="form-validation-alert" i18n="Subject detail|Name required error@@subjectDetailNameRequiredError">Common Name is required!</label>
								<label *ngIf="formErrors.name.includes('length')" class="form-validation-alert" i18n="Subject detail|Name Length error@@subjectDetailNameLengthError">Length must be between 2 and 64!</label>
								<label *ngIf="hasNameUniqueError" class="form-validation-alert" i18n="Subject detail|Name unique error@@subjectDetailNameUniqueError">Name should be unique!</label>
							</ng-template>
						</span>
					</li>
					<li>
						<label i18n="Subject detail|Personal Comments label@@subjectDetailPersonalComments">Personal Comments</label>
						<!-- <span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'">
									{{}} 
							</ng-template>
							<ng-template ngSwitchDefault>
								<input type="text" id="personalComments"  formControlName="personalComments" [(ngModel)]=""  />
							</ng-template>
						</span> -->
					</li>
				</ol>
			</fieldset>
			<fieldset *ngIf="mode !== 'view'">
				<subject-study-list mode="study" [list]="studies" [(subjectStudyList)]="subject.subjectStudyList"></subject-study-list>
			</fieldset>
			<div class="footer command-zone">
				<span [ngSwitch]="mode">
					<button i18n="View subject|Back button label@@backButton" class="Button" (click)="back()">Back</button>
					<ng-template [ngSwitchCase]="'view'" *ngIf="canModify">
						<button type="submit" i18n="View subject|Edit button label@@editButton" (click)="edit()" class="Button">Edit</button>
					</ng-template>
					<ng-template [ngSwitchCase]="'edit'" *ngIf="canModify">
						<button type="submit" i18n="Edit center|Update button label@@updateButton" (click)="update()" class="Button" [disabled]="!subjectForm.valid">Update</button>
					</ng-template>
					<ng-template [ngSwitchCase]="'create'" *ngIf="canModify">
						<button type="submit" i18n="Edit subject|Create button label@@createButton" (click)="create()" class="Button" [disabled]="!subjectForm.valid">Create</button>
					</ng-template>
				</span>
			</div>
		</div>
		<div class="layout right" *ngIf="mode=='view'">
			<span class="right-col">
				<div class="subject-data" i18n="Subject data|Title@@subjectDetailDataTitle">Data</div>
			</span>
			<subject-tree [subject]="subject" [studies]="studies"></subject-tree>
		</div>

	</form>
</div>