.main-content { padding: 0 20px 0 20px; position: relative; margin-left: 0; height: 100vh; white-space: nowrap; overflow-y: scroll; z-index: 100;}
.main-content.open { margin-left: 300px; }
.main-content.reduce-height { height: calc(100vh - 108px); }

.content { display: inline-block; }
side-menu, .side-menu { overflow-x: hidden; scrollbar-width: none; overflow: -moz-scrollbars-none; -ms-overflow-style: none; }
.side-menu { width: 300px; position: fixed; top: 0; z-index: 0; }

study-tree { scrollbar-width: none; overflow: -moz-scrollbars-none; -ms-overflow-style: none; z-index: 1; 
    height: 100%; display: inline-block; overflow: hidden; position: relative; }

study-tree.opened { border-right: 1px solid var(--grey); margin-right: 20px; }

.tree, .content { vertical-align: top; }
    
.close-button, 
.open-button { width: 14px; height: 27px; position: fixed; top: 0; left: 0; cursor: pointer; color: var(--very-light-grey); z-index: 2; }

.open-button { border-radius: 0 2px 2px 0; background-color: var(--color-a); }

.close-button i, 
.open-button i { vertical-align: -5px; padding: 6px 2px; }

.close-button:hover i, 
.open-button:hover i { color: var(--color-b); }

shanoir-console { position: absolute; bottom: 0; z-index: 1; }

.tree-close-button { position: absolute; top: 0; right: 5px; z-index: 100; color: var(--color-a); cursor: pointer; }
.tree-open-button { position: absolute; top: 120px; right: 16px; z-index: 100; color: bisque; cursor: pointer; }