<div [class.disabled]="disabled" class="header command-zone" (click)="onHeaderClick($event)">1. Select BRUKER archive</div>
<fieldset *ngIf="!disabled && open" [@slideDown]="!disabled && open" class="step dicom">
    <p>Please select a BRUKER zip archive to import.<br/>
    When uploaded, Bruker archive will be automatically converted to DICOM.<br/>
 	</p>
    <p><strong class="warning"><i class="fas fa-exclamation-triangle"></i> Important notice :</strong> this archive must contain at least one 2dseq file!</p>
    <input type="file" (change)="uploadArchive($event)"/>
    <img class="loader" *ngIf="archiveStatus == 'uploading'" [src]="ImagesUrlUtil.SMALL_LOADER_IMAGE_PATH" />
    <label *ngIf="extensionError==true" class="form-validation-alert" i18n="Import|ExtensionError label">
        A Bruker zip archive is required!
    </label>
    <label *ngIf="dicomDirMissingError==true" class="form-validation-alert" i18n="Import|DicomDirMissingError label">
        DICOMDIR is missing after conversion!
    </label>  
    <br/>
    <span [ngSwitch]="uploadedBrukerFileComplete">
    	<ng-template [ngSwitchCase]="1"> 
			<label i18n="Import|UploadComplete label">uploading...</label>
		</ng-template>
		<ng-template [ngSwitchCase]="2"> 
			<label i18n="Import|UploadComplete label">The Bruker archive has been successfully uploaded</label>
		</ng-template>
		<ng-template [ngSwitchCase]="3">
			<label i18n="Import|UploadComplete label">The Bruker archive has been successfully uploaded</label> 
			<label  i18n="Import|UploadComplete label">Conversion to Dicom successfully completed!</label>
		</ng-template>
    </span>
    <p *ngIf="modality" class="modality">
        The modality of the dataset(s) that you are importing is
        <span *ngIf="modality=='MR'">MRI</span>
        <span *ngIf="modality=='PET'">PET</span>
    </p>
</fieldset>