.modality { margin-bottom: 0; }
    .modality span { color: var(--color-a); font-weight: bold; }
.warning { color: var(--color-b); }
input[type="file"] { padding: 0; }
.loader { height: 14px; vertical-align: sub; }
.progress { color: var(--color-a); margin-left: 20px; }
    .progress li { margin: 3px 0; }
    .progress svg { margin: 0 7px; }
.done svg { color: green; }
.done.error { color: var(--color-error); }
li svg { vertical-align: -1; }
checkbox { vertical-align: bottom; margin-right: 7px; }
.next { margin-top: 25px !important; }