<div class="header command-zone">3. Set the clinical context</div>
<fieldset class="step">

    <ol>
        <legend>
            Research study
            <tool-tip>A research study is the global study context. Examples: Children dysphasia, Therapeutic effect of mitoxantrone in multiple sclerosis, based on MRI and clinical criteria...</tool-tip>
        </legend>
        <li class="required">
            <label class="required-label">Select an existing research study</label> 
            <span class="right-col">
                <select [(ngModel)]="contextData.study" (ngModelChange)="onSelectStudy($event)" [compareWith]="compareEntities"
                        [class.compatible]="contextData.study?.compatible" [class.not-compatible]="!contextData.study?.compatible">
                    <option *ngFor="let study of studies" [ngValue]="study"
                            [class.compatible]="study?.compatible" [class.not-compatible]="!study?.compatible">{{study?.name}}</option>
                </select>
                <button i18n="Import|StudyDetails label" [disabled]="!contextData.study.id" (click)="showStudyDetails()">details</button>
            </span>
        </li>
        <li class="required">
            <label class="required-label">Select a center</label> 
            <span class="right-col">
                <select [disabled]="!contextData.study.id || !centers" [(ngModel)]="contextData.center" (ngModelChange)="onSelectCenter($event)" [compareWith]="compareEntities"
                        [class.compatible]="contextData.center?.compatible" [class.not-compatible]="!contextData.center?.compatible">
                    <option *ngFor="let center of centers" [ngValue]="center"
                            [class.compatible]="center?.compatible" [class.not-compatible]="!center?.compatible">{{center?.name}}</option>
                </select>
                <button i18n="Import|CenterDetails label" [disabled]="!contextData.center.id" (click)="showCenterDetails()">details</button>
                <button [disabled]="!contextData.center.id || contextData.center?.compatible" (click)="openCreateCenter()">add</button>
            </span>
        </li>
        <li class="info" *ngIf="contextData.center.id && !contextData.center?.compatible">
            <i class="fas fa-exclamation-triangle"></i>
            <strong>This center may not be not compatible with the imported data !</strong>
            <br/>Your archive contains this data : <code>{{patient.studies[0].series[0].institution.institutionName}}, {{patient.studies[0].series[0].institution.institutionAddress}}.</code>
            <br/>If the center you need is not in the above list, you can create a new center from this data by clicking on the 'add' button.
        </li>
        <li class="required">
            <label class="required-label">Select an acquisition equipment</label> 
            <span class="right-col">
                <select [disabled]="!contextData.center.id || !acquisitionEquipments" [(ngModel)]="contextData.acquisitionEquipment" (ngModelChange)="onSelectAcquisitonEquipment($event)" [compareWith]="compareEntities"
                        [class.compatible]="contextData.acquisitionEquipment?.compatible" [class.not-compatible]="!contextData.acquisitionEquipment?.compatible">
                    <option *ngFor="let acquisitionEquipment of acquisitionEquipments" [ngValue]="acquisitionEquipment" 
                            [class.compatible]="acquisitionEquipment?.compatible" [class.not-compatible]="!acquisitionEquipment?.compatible">{{acquisitionEquipment | acqEqptLabel}}</option>
                </select>
                <button i18n="Import|AcquisitionEquipmentDetails label" [disabled]="!contextData.acquisitionEquipment.id" (click)="showAcquistionEquipmentDetails()">details</button>
                <button [disabled]="!contextData.acquisitionEquipment.id || contextData.acquisitionEquipment?.compatible" (click)="openCreateAcqEqt()">add</button>
            </span>
        </li>
        <li class="info" *ngIf="contextData.acquisitionEquipment.id && !contextData.acquisitionEquipment?.compatible">
            <i class="fas fa-exclamation-triangle"></i>
            <strong>The acquisition equipment may not be not compatible with the imported data !</strong>
            <br/>Your archive contains this data : 
            <code>
                {{patient.studies[0].series[0].equipment.manufacturer}} - 
                {{patient.studies[0].series[0].equipment.manufacturerModelName}} - 
                {{patient.studies[0].series[0].equipment.deviceSerialNumber}}
            </code>
            <br/>If the acquisition equipment you need is not in the above list, you can create a new acquisition equipment from this data by clicking on the 'add' button.
        </li>
    </ol>

    <ol>
        <legend>
            Subject
            <tool-tip>It is the study subject for the current import process. He is the patient of the examination. The subject is anonymous.</tool-tip>
        </legend>
        <li class="required">
            <label class="required-label">Select a subject</label> 
            <span class="right-col">
                <select [disabled]="!contextData.study.id || !contextData.acquisitionEquipment.id" [(ngModel)]="contextData.subject" (ngModelChange)="onSelectSubject($event)" [compareWith]="compareEntities">
                    <option *ngFor="let subject of subjects" [ngValue]="subject">{{subject?.name}}</option>
                </select>
                <button [disabled]="!contextData.subject.id" (click)="showSubjectDetails()" i18n="Import|SubjectDetails label">details</button>
                <button [disabled]="!contextData.study.id || !contextData.acquisitionEquipment.id" (click)="openCreateSubject()">add</button>
            </span>
        </li>
        <li *ngIf="contextData.subject.id !== undefined">
            <div>
                <table>
                    <thead>
                        <tr>
                            <th class="label-col">Common name</th>
                            <th class="input-col">Subject identifier for this study</th>
                            <th class="chkbx-col" title="Physically Involved">PI</th>
                            <th class="dropdown-col">Subject Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="label-col">
                                {{contextData.subject.name}}
                            </td>
                            <td class="input-col">
                                <input type="text" id="subjectStudyIdentifier" [(ngModel)]="contextData.subject.subjectStudy.subjectStudyIdentifier" 
                                    [ngModelOptions]="{standalone: true}"/>
                            </td>
                            <td class="chkbx-col">
                                <input type="checkbox" [(ngModel)]="contextData.subject.subjectStudy.physicallyInvolved" 
                                    [ngModelOptions]="{standalone: true}"/>
                            </td>
                            <td class="dropdown-col">
                                <select id="subjectType" [(ngModel)]="contextData.subject.subjectStudy.subjectType" 
                                    [ngModelOptions]="{standalone: true}">
                                        <option [value]="'HEALTHY_VOLUNTEER'" i18n="Subject Types Healthy Volunteer|Type label@@SubjectTypeHealthyVolunteer">Healthy Volunteer</option>
                                        <option [value]="'PATIENT'" i18n="Subject Types Patient|Type label@@SubjectTypePatient">Patient</option>
                                        <option [value]="'PHANTOM'" i18n="Subject Types Phantom|Type label@@SubjectTypePhantom">Phantom</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
    </ol>

    <ol>
        <legend>
            Examination
            <tool-tip>A MR examination defines when, where and by whom the data have been processed. The details on the MRI machine are associated to a subsequent entity: MR Dataset acquisition.</tool-tip>
        </legend>
        <li class="required">
            <label class="required-label">Select an examination</label> 
            <span class="right-col">
                <select [disabled]="!contextData.study.id || !contextData.subject.id" [(ngModel)]="contextData.examination" (ngModelChange)="onSelectExam($event)" [compareWith]="compareEntities">
                    <option *ngFor="let examination of examinations" [ngValue]="examination">{{examination | subjectExaminationLabel}}</option>
                </select>
                <button [disabled]="!contextData.examination.id" (click)="showExaminationDetails()" i18n="Import|ExaminationtDetails label">details</button>
                <button [disabled]="!contextData.study.id || !contextData.subject.id" (click)="openCreateExam()">add</button>
            </span>
        </li>
    </ol>

    <ol>
        <legend>Nifti Converter</legend>
        <li class="required">
            <label label class="required-label">Select a Nifti converter</label> 
            <span class="right-col">
                <select [disabled]="!contextData.acquisitionEquipment.id" [(ngModel)]="contextData.niftiConverter" (ngModelChange)="onContextChange($event)" [compareWith]="compareEntities">
                    <option *ngFor="let niftiConverter of niftiConverters" [ngValue]="niftiConverter">{{niftiConverter?.name}}</option>
                </select>
                <!-- TODO when nifti converters page is done -->
                <button i18n="Import|NiftiConverterDetails label" [disabled]="true">details</button>
            </span>
        </li>
    </ol>

</fieldset>
<button class="next" [disabled]="!valid" (click)="next()">Next</button>