.shanoir-table { width: 100%; border-collapse: collapse; border-spacing: 0; border: 1px solid var(--light-grey); }
	.shanoir-table th { padding: 4px 5px; background-color: var(--color-b); color: var(--very-light-grey); font-weight: normal; white-space: nowrap; overflow: hidden; }
		.shanoir-table th.controls { padding: 0; min-height: 26px; text-align: left; background-color: var(--light-grey); color: var(--very-dark-grey); }
			.shanoir-table th.controls button { height: 28px; padding: 0 5px; vertical-align: middle; background-color: transparent; border-radius: 0; border: 1px solid transparent; color: var(--dark-grey); }
				.shanoir-table th.controls button:hover { background-color: var(--color-b-light); }
				.shanoir-table th.controls button span { vertical-align: middle; }
				.shanoir-table th.controls button img { height: 16px; vertical-align: middle; }
			.shanoir-table th.controls input,
				.shanoir-table th.controls select { border: 2px solid var(--grey); border-radius: 2px;  height: 22px; vertical-align: middle; }
			.shanoir-table th.controls input { padding: 0 5px; width: 150px; }
			.shanoir-table th.controls select { width: 150px; }
			.shanoir-table th.controls .text-search { margin: 0 10px 0 0; padding: 0 7px 0 0; border-right: 1px solid var(--grey); }
		.shanoir-table th.sortable { cursor: pointer; position: relative; }
			.shanoir-table th.sortable .sort-arrow { position: absolute; top: 11px; right: -1px; }
		.shanoir-table th.active { background-color: var(--lighter-grey); color: var(--very-dark-grey); }
		.shanoir-table th.col-date { width: 65px; }
		.shanoir-table th.col-boolean { width: 20px; }
	.shanoir-table tr { height: 20px; }
		.shanoir-table tr.even { background-color: var(--light-grey); }
		.shanoir-table tr.odd { background-color: var(--lighter-grey); }
		/* HIGLIGHT ROW ON CURSOR HOVER .shanoir-table tr:hover td { height: 20px; background-color: var(--color-b-light); cursor: pointer; } */
	.shanoir-table td { padding: 0 5px; border: none; }
		.shanoir-table td + td { border-left: 1px dotted var(--grey); }
		.shanoir-table td.bool { text-align: center; font-weight: bold; }
			.shanoir-table td.bool .bool-true { color: green; }
			.shanoir-table td.bool .bool-false { color: darkred; }
		.shanoir-table td.cell-date { text-align: right; }
		.shanoir-table td.cell-number { text-align: right; }
		.shanoir-table td.cell-nofield { text-align: center; }
		.shanoir-table td span.button { max-height: 20px; max-width: 20px; cursor: pointer; }