<table class="shanoir-table">
    <!-- Control bar -->
    <caption class="controls">
            <!-- Text search -->
            <span class="text-search">
                <button (click)="resetSearch()">&#x2716;</button>
                <input class="search-txt" [(ngModel)]="searchStr" (change)="search()" type="text" placeholder="search..."/> 
                in
                <select class="search-field" [(ngModel)]="searchField" (change)="search()"> 
                    <option value="">*</option>
                    <option *ngFor="let col of getSearchableColumns()" value="{{col.field}}">
                        {{col.headerName}}
                    </option>
                </select>
            </span>
            <!-- User defined buttons -->
            <span *ngFor="let command of customActionDefs">
                <button *ngIf="command.target != undefined" [routerLink]="command.target" [queryParams]="command.getParams != undefined ? command.getParams(item) : null" routerLinkActive="active">
                    <img *ngIf="command.img != undefined" src="{{command.img}}" />
                    <span>{{command.title}}</span>
                </button>
                <button *ngIf="command.action != undefined" (click)="command.action()">
                    <img *ngIf="command.img != undefined" src="{{command.img}}" />
                    <span>{{command.title}}</span>
                </button>
            </span>
    </caption>
    <!-- Headers -->
    <thead>
        <tr class="full-row">
            <th class="checkbox-col"></th>
            <th 
                *ngFor="let col of columnDefs" 
                (click)="sortBy(col)"
                class="{{getColTypeStr(col)}}"
                [class.sortable]="!col.suppressSorting && col.type!='button'"
                [class.active]="lastSortedCol==col"
                [attr.title]="col.tip != undefined ? col.tip : null"
                [style.width]="col.width"
                >{{col.headerName}}
                    <span class="sort-arrow" *ngIf="!col.suppressSorting && col.type!='button'">
                        <span *ngIf="lastSortedCol==col && !lastSortedAsc" class="arrow arrowUp">&#9652;</span>   
                        <span *ngIf="lastSortedCol==col && lastSortedAsc" class="arrow arrowDown">&#9662;</span>
                    </span>
            </th>
        </tr>
    </thead>
    <!-- Table ontent -->
    <tbody *ngIf="!isLoading && items.length > 0">
        <tr 
            *ngFor="let item of items.slice((currentPage-1)*maxResults, currentPage*maxResults); let i = index" 
            [class.odd]="i%2!=0" 
            [class.even]="i%2==0" 
            >
            <td class="checkbox-cell"><input type="checkbox" [(ngModel)]="item.isSelectedInTable" /></td>
            <!-- if it is a problem to modify an item, we could bind a number[] to the table component from the parent componnent -->
            <td 
                *ngFor="let col of columnDefs" 
                class="cell-{{col.field != undefined ? col.field : 'nofield'}} {{getCellTypeStr(col)}}" 
                [class.bool]="isFieldBoolean(item, col)"
                [routerLink]="col.type != 'button' ? rowClickAction.target : null" [queryParams]="rowClickAction.getParams != undefined ? rowClickAction.getParams(item) : null" routerLinkActive="active"
                >{{renderCell(item, col)}}
                <span *ngIf="isFieldBoolean(item, col)">
                    <span *ngIf="getCellValue(item, col)" class="bool-true">&#x2713;</span>
                    <span *ngIf="!getCellValue(item, col)" class="bool-false">&#x2717;</span>
                </span>
                <span class="button" *ngIf="col.type == 'button'">
                    <a *ngIf="col.target != undefined" [routerLink]="col.target" [queryParams]="col.getParams != undefined ? col.getParams(item) : null" routerLinkActive="active">
                        <img src="{{col.img}}" />
                    </a>
                    <span *ngIf="col.action != undefined" (click)="col.action(item)">
                        <img src="{{col.img}}" />
                    </span>
                </span>
            </td>
        </tr>

        <!-- Pager : don't insert new lines between a span closing tag and the next span opening tag, it would result as a "space" between them -->
        <tr class="full-row">
            <th class="pager" [attr.colspan]="columnDefs?.length">
                <span class="clickable"
                    [class.disabled]="currentPage == 1"
                    (click)="currentPage > 1 ? goToPage(currentPage - 1) : void" 
                    >&#9664;</span><span class="wrapper"
                    *ngFor="let p of getPagerList(); let i = index" 
                ><span *ngIf="p==null">...</span><span *ngIf="p!=null" class="clickable" (click)="goToPage(p)" [class.active]="p == currentPage">{{p}}</span></span><span 
                    class="clickable"
                    [class.disabled]="currentPage == getMaxPage()"
                    (click)="currentPage < getMaxPage() ? goToPage(currentPage + 1) : void" 
                    >&#9654;</span>
            </th>
        </tr>
        <tr>
            <th class="status-bar controls" [attr.colspan]="columnDefs?.length">
                <!-- Nb results per page input -->
                <span class="options">
                    <span>Selected : {{getNbSelected()}}</span>
                    <span *ngIf="items != undefined && items != null">Found : {{items.length}}</span>
                    <span *ngIf="itemsSave != undefined && itemsSave != null">Total : {{itemsSave.length}}</span>
                    <span>Page size : <input class="max-results" [(ngModel)]="maxResultsField" (change)="updateMaxResults()" type="text"/></span>
                </span>
            </th>
        </tr>
    </tbody>
    <!-- Loader -->
    <tbody *ngIf="isLoading">
        <tr>
            <td [attr.colspan]="columnDefs?.length" class="loading">
                <img src="/images/loader.32x32.gif"/><br/>Loading...
            </td>
        </tr>
    </tbody>
    <!-- Empty table msg -->
    <tbody *ngIf="!isLoading && items.length == 0">
        <tr>
            <td [attr.colspan]="columnDefs?.length" class="empty">
                No results
            </td>
        </tr>
    </tbody>
</table>