<table class="shanoir-table">
    <thead>
        <!-- Control bar -->
        <tr>
            <th class="controls" [attr.colspan]="columnDefs?.length">
                <!-- Text search -->
                <span class="text-search">
                    <button (click)="resetSearch()">&#x2716;</button>
                    <input class="search-txt" [(ngModel)]="searchStr" (change)="search()" type="text" placeholder="search..."/> 
                    in
                    <select class="search-field" [(ngModel)]="searchField" (change)="search()"> 
                        <option value="">*</option>
                        <option *ngFor="let col of getSearchableColumns()" value="{{col.field}}">
                            {{col.headerName}}
                        </option>
                    </select>
                </span>
                <!-- Nb results per page input -->
                <span class="options">
                    <input class="max-results" [(ngModel)]="maxResultsField" (change)="updateMaxResults()" type="text"/> 
                </span>
                <!-- User defined buttons -->
                <span *ngFor="let command of customActionDefs">
                    <button *ngIf="command.target != undefined" [routerLink]="command.target" [queryParams]="command.getParams != undefined ? command.getParams(item) : null" routerLinkActive="active">
                        <img *ngIf="command.img != undefined" src="{{command.img}}" />
                        <span>{{command.title}}</span>
                    </button>
                </span>
            </th>
        </tr>
        <!-- Headers -->
        <tr>
            <th 
                *ngFor="let col of columnDefs" 
                (click)="sortBy(col)"
                class="{{getColTypeStr(col)}}"
                [class.sortable]="!col.suppressSorting && col.type!='button'"
                [class.active]="lastSortedCol==col.field"
                [attr.title]="col.tip != undefined ? col.tip : null"
                [style.width]="col.widthPercent+'%'"
                >{{col.headerName}}
                    <span class="sort-arrow" *ngIf="!col.suppressSorting && col.type!='button'">
                        <span *ngIf="lastSortedCol==col.field && !lastSortedAsc" class="arrow arrowUp">&#9652;</span>   
                        <span *ngIf="lastSortedCol==col.field && lastSortedAsc" class="arrow arrowDown">&#9662;</span>
                    </span>
            </th>
        </tr>
    </thead>
    <!-- Table ontent -->
    <tbody *ngIf="!loading && items.length > 0">
        <tr *ngFor="let item of items.slice((currentPage-1)*maxResults, currentPage*maxResults); let i = index" [class.odd]="i%2!=0" [class.even]="i%2==0" >
            <td *ngFor="let col of columnDefs" class="cell-{{col.field != undefined ? col.field : 'nofield'}} {{getCellTypeStr(col)}}" [class.bool]="isFieldBoolean(item, col)">
                {{renderCell(item, col)}}
                <span *ngIf="isFieldBoolean(item, col)">
                    <span *ngIf="getCellValue(item, col)" class="bool-true">&#x2713;</span>
                    <span *ngIf="!getCellValue(item, col)" class="bool-false">&#x2717;</span>
                </span>
                <span class="button" *ngIf="col.type == 'button'">
                    <a *ngIf="col.target != undefined" [routerLink]="col.target" [queryParams]="col.getParams != undefined ? col.getParams(item) : null" routerLinkActive="active">
                        <img src="{{col.img}}" />
                    </a>
                    <span *ngIf="col.action != undefined" (click)="col.action(item)">
                        <img src="{{col.img}}" />
                    </span>
                </span>
            </td>
        </tr>

        <!-- Pager : don't insert new lines between a span closing tag and the next span opening tag, it would result as a "space" between them -->
        <th class="pager" [attr.colspan]="columnDefs?.length">
            <span class="clickable"
                [class.disabled]="currentPage == 1"
                (click)="currentPage > 1 ? goToPage(currentPage - 1) : void" 
                >&#9664;</span><span class="wrapper"
                *ngFor="let p of getPagerList(); let i = index" 
            ><span *ngIf="p==null">...</span><span *ngIf="p!=null" class="clickable" (click)="goToPage(p)" [class.active]="p == currentPage">{{p}}</span></span><span 
                class="clickable"
                [class.disabled]="currentPage == getMaxPage()"
                (click)="currentPage < getMaxPage() ? goToPage(currentPage + 1) : void" 
                >&#9654;</span>
        </th>
    </tbody>
    <!-- Loader -->
    <tbody *ngIf="loading">
        <tr>
            <td [attr.colspan]="columnDefs?.length" class="loading">
                <img src="/images/loader.32x32.gif"/><br/>Loading...
            </td>
        </tr>
    </tbody>
    <!-- Empty table msg -->
    <tbody *ngIf="!loading && items.length == 0">
        <tr>
            <td [attr.colspan]="columnDefs?.length" class="empty">
                The table is empty
            </td>
        </tr>
    </tbody>
</table>