# Shanoir NG - Import, manage and share neuroimaging data
# Copyright (C) 2009-2019 Inria - https://www.inria.fr/
# Contact us on https://project.inria.fr/shanoir/
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see https://www.gnu.org/licenses/gpl-3.0.html

######################################
# Default profile is production      #
######################################
server:
  port: 9905
  error:
    whitelabel:
      enabled: false
##### Database #####
spring:
  datasource:
    url: jdbc:mysql://${SHANOIR_PREFIX}database:3306/preclinical?useLegacyDatetimeCode=false&serverTimezone=Europe/Paris&characterEncoding=utf-8&useSSL=false
    username: preclinical
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    defer-datasource-initialization: true
    generate-ddl: false # default, but prefer to set it explicitly (bootstrap.sh)
    hibernate:
      # Hibernate ddl auto (create, create-drop, update, validate)
      ddl-auto: validate
      id:
        db_structure_naming_strategy: legacy
    properties:
      hibernate:
        connection:
          charset: UTF-8
        hbm2ddl:
          import_files_sql_extractor: org.hibernate.tool.schema.internal.script.MultiLineSqlScriptExtractor
  main:
    allow-circular-references: true
  mvc:
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER
  sql:
    init:
      data-locations: classpath:/scripts/import.sql
      mode: never
  threads:
    virtual:
      enabled: true
##### Others #####
  jackson:
    mapper:
      use-getters-as-setters: false
  jooq:
    sql-dialect: Mysql
  rabbitmq:
    host: ${SHANOIR_PREFIX}rabbitmq
    port: 5672
  session:
    store-type: none
  servlet:
    multipart:
      enabled: true
      max-file-size: -1
      max-request-size: -1
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${SHANOIR_URL_SCHEME}://${SHANOIR_URL_HOST}/auth/realms/shanoir-ng

springdoc:
  api-docs:
    path: '/api-docs'
    enabled: true
  swagger-ui:
    url: /shanoir-ng/preclinical/api-docs
    config-url: /shanoir-ng/preclinical/api-docs/swagger-config
    enabled: true
    disable-swagger-default-url: true

front.server:
  address: ${SHANOIR_URL_SCHEME}://${SHANOIR_URL_HOST}/shanoir-ng/
  url: ${SHANOIR_URL_SCHEME}://${SHANOIR_URL_HOST}

# microservices url
ms.url:
  shanoir-ng-users: http://${SHANOIR_PREFIX}users:9901/users
  shanoir-ng-studies: http://${SHANOIR_PREFIX}shanoir-ng-studies/
  shanoir-ng-import: http://${SHANOIR_PREFIX}import:9903/niftiConverter
  shanoir-ng-studycards: http://${SHANOIR_PREFIX}datasets:9904/studycards
  shanoir-ng-examinations: http://${SHANOIR_PREFIX}datasets:9904/examinations
  bruker2dicom: http://${SHANOIR_PREFIX}preclinical-bruker2dicom:5000/bruker2dicom
# logging configuration
logging:
  pattern:
    file: '%d{yyyy-MM-dd_HH:mm:ss.SSS} %-5level [%mdc{username}] %logger{35} - %msg%n'
  file:
    name: /var/log/shanoir-ng-logs/shanoir-ng-preclinical.log
  level:
    org.springframework.web: ERROR
    org.hibernate: ERROR
#Upload Extradata
preclinical:
  uploadExtradataFolder: /var/extra-data
  uploadBrukerFolder: /tmp/
  separator: /

######################################
# DO NOT COMMIT VALUES MODIFICATIONS #
######################################
---
server:
  port: 9915
spring:
  config.activate.on-profile: dev
  jpa:
    defer-datasource-initialization: true
    generate-ddl: true
    hibernate:
      # Hibernate ddl auto (create, create-drop, update, validate)
      ddl-auto: create
    # Show or not log for each sql query
    show-sql: true
  autoconfigure.exclude: org.springframework.boot.autoconfigure.amqp.RabbitAutoConfiguration
  main:
    allow-circular-references: true
  mvc:
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER
  sql:
    init:
      mode: always
  threads:
    virtual:
      enabled: true
# logging configuration
logging:
  file:
    name: /var/log/shanoir-ng-logs/shanoir-ng-preclinical.log
  level:
    org.springframework.web: DEBUG
    org.hibernate: ERROR
    org.springframework.amqp: OFF

#################
# DO NOT CHANGE #
#################
---
spring:
  config.activate.on-profile: test
  main:
    allow-bean-definition-overriding: true
    allow-circular-references: true
  datasource:
    url: jdbc:h2:mem:SHANOIR_NG_PRECLINICAL;MODE=MySQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;DATABASE_TO_UPPER=false
    username: sa
    password:
    driverClassName: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true
    generate-ddl: true
    hibernate:
      # Hibernate ddl auto (create, create-drop, update, validate)
      ddl-auto: create-drop
  mvc:
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER
  sql:
    init:
      data-locations: classpath:/scripts/test-data-preclinical-h2.sql
      mode: always