<div class="PathologyFormComponent content-component">
    <form *ngIf="form"  [formGroup]="form" class="max-content" novalidate>
		<table class="layout">
			<tr><td colspan="2">
				<span class="right-col" [ngSwitch]="mode">
					<ng-template [ngSwitchCase]="'view'"> 
						<div class="header command-zone" i18n="View pathology|Title">View pathology</div>
					</ng-template>
					<ng-template [ngSwitchCase]="'edit'"> 
						<div class="header command-zone" i18n="Edit pathology|Title">Edit pathology</div>
					</ng-template>
					<ng-template [ngSwitchCase]="'create'"> 
						<div class="header command-zone" i18n="Create pathology|Title">Add pathology</div>
					</ng-template>
				</span>
			</td></tr>
			<tr>
				<td>
					<fieldset>
					<ol>
						<label *ngIf="isPathologyUnique==false" class="form-validation-alert" i18n="Edit pathology|PathologyUniqueError label">This pathology already exists!</label>
						<li class="required">
							<label i18n="Edit pathology|Name label" class="required-label">Name</label>
							<span class="right-col" [ngSwitch]="mode">
								<ng-template [ngSwitchCase]="'view'"> 
										{{pathology?.name}}
								</ng-template>
								<ng-template ngSwitchDefault>
									<input type="text" id="name" formControlName="name" [(ngModel)]="pathology.name"/>
									<label *ngIf="hasError('name', ['required'])" [@slideDown]="hasError('name', ['required'])" class="form-validation-alert" i18n="Edit pathology|Name required error@@pathologyDetailNameRequiredError">Name is required!</label>
								</ng-template>
							</span>
						</li>
					</ol>
					</fieldset>
				</td>				
			</tr>
			
		</table>
		<form-footer
				[state]="footerState"
				(save)="save()"
				(edit)="goToEdit()"
				(cancel)="goToView()"
				(back)="goBack()">
		</form-footer>
    </form>
</div>