:host() { display: inline-block; position: relative; box-sizing: border-box; text-align: left; }
:host().auto-width { width: auto; }
.root.disabled { opacity: 0.3; }
.root.disabled:after { content: ""; display: block; position: absolute; top: 0; bottom: 0; left: 0; right: -6px; }
.frame { display: inline-flex; position: relative; overflow: hidden; height: 19px; width: 100%; }
.input-container { position: relative; width: 100%; }
:host():not(.read-only) .input-container { cursor: pointer; }
.fake-input { color: transparent; }
.auto-width label { width: auto; }
.label { display: inline-block; cursor: default; min-width: 50px; width: 100%; height: 16px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 0; position: absolute; left: 0; right: 0; top: 0; }
.empty { font-style: italic; color: var(--greyer); }
.empty-list { padding: 0 5px; }
.reset { color: var(--color-a); cursor: pointer; font-style: normal; }
.label.placeholder { color: var(--greyer); }
.commands { display: inline-flex; vertical-align: middle; }
    .commands > .button {
        display: inline-block;
        text-align: center;
        padding: 0;
        margin: 0;
        background-color: transparent;
        border: none;
        height: 20px;
        min-width: 23px;
        position: relative;
    }
    :host().auto-width .commands > .button { min-width: 0; font-size: 6px; height: 22px; }
        .button svg { margin: 0px 2px; height: 100%;}
    .commands > .button.disabled { opacity: 0.7; }
    .commands > .button:hover:not(.disabled),
    .commands > .button:focus:not(.disabled) { cursor: pointer; color: var(--color-a); outline: none; }
    /* .commands > .button:not(:first-child) { border-left: 1px solid var(--grey); } */
    /* .commands > .button:last-child { border-radius: 0 2px 2px 0; } */
        .open { border: none; cursor: default !important; }
        .open:hover { color: inherit !important; background-color: inherit !important; }
        
.list { 
    color: var(--very-dark-grey);
    position: absolute;
    z-index: 1000; 
    max-height: 320px;
    min-width: 216px;
    min-height: 20px;
    border: 1px solid var(--grey);
    border-radius: 2px;
    background-color: var(--very-light-grey);
    box-shadow: 0 0 var(--shadow-height) 0 var(--shadow-color);
    padding: 0;
    text-align: left;
}
.list.down { top: 19px; }
.list.up { bottom: 18px; } 
.hidden-list { opacity: 0; }
input { border: none !important; }
input:hover { cursor: pointer; }
input:focus:hover { cursor: initial; }
:host()::ng-deep caption { display: block; text-align: center; color: var(--color-a); padding: 0 5px; font-style: italic; }
:host()::ng-deep .option-section.hidden { display: none; }

.option { height: 20px; display:block; border: none; white-space: nowrap; color: var(--dark-grey); cursor: pointer; padding: 0 5px; }
.option.selected { background-color: var(--color-b-light); }
.option.focused { background-color: var(--grey); }
.option.disabled { opacity: 0.5; cursor: default !important; }

.list.scrollable { padding-right: 0px; }
.scrollbar { position: absolute; top: 0; bottom: 0; right: 0; width: 10px; background-color: transparent; }
.scrollzone { position: absolute; top: 10px; bottom: 10px; right: 0; width: 10px; background-color: transparent; }
.lift { position: absolute; top: 0; right: 0; height: 50px; background-color: var(--color-a); width: 2px; }
.scrollbar:hover .lift { width: 10px; }
#hiddenOption { color: transparent !important; position: absolute; z-index: -1000; }

.list-drag-extend { background-color: transparent; position: fixed; top: 0; bottom: 0; z-index: -1; left: 0; right: 0; }

.top-scroll-button, .bottom-scroll-button { background-color: var(--color-c); color: transparent; height: 10px; width: 2px; position: absolute; right: 0; overflow: hidden; font-size: 11px; cursor: pointer; }
.top-scroll-button { top: 0; }
.bottom-scroll-button { bottom: 0; }

.scrollbar:hover .top-scroll-button, .scrollbar:hover .bottom-scroll-button  { width: 10px; background-color: transparent; color: var(--color-c); }

.compatible { color: var(--color-c); }
.not-compatible { color: var(--color-error); }

.commands > .clear { color: var(--grey); display: none; }
.clear svg { vertical-align: 2px; }
.frame:hover .commands > .clear { display: inline-block; } 
:host().auto-width .clear { display: none !important; }

:host().error .empty { color: var(--color-light-error); }

toggle-switch { margin: 0 10px; }

.new-file .fa-plus { position: absolute; font-size: 6px; left: 7px; top: 1px; }

:host().read-only { border: none !important; }