:host() { display: inline-block; position: relative; vertical-align: middle; }
.root.disabled:after { content: ""; display: block; position: absolute; top: 0; bottom: 0; left: 0; right: -6px; background-color: white; opacity: 0.7; }
.frame { display: inline-flex; position: relative; overflow: hidden; height: 19px; width: 218px; }
.label { display: inline-block; cursor: default; width: 100%; height: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.label.empty { font-style: italic; color: var(--greyer); }
.label.placeholder { color: var(--greyer); }
.commands { display: inline-flex; vertical-align: middle; }
    .commands > .button {
        display: list-item;
        text-align: center;
        padding: 0;
        margin: 0;
        background-color: transparent;
        border: none;
        height: 20px;
        min-width: 23px;
    }
        .button svg { margin: 4px 0; }
    .commands > .button.disabled { opacity: 0.7; }
    .commands > .button:hover:not(.disabled),
    .commands > .button:focus:not(.disabled) { cursor: pointer; color: var(--color-a); outline: none; }
    /* .commands > .button:not(:first-child) { border-left: 1px solid var(--grey); } */
    /* .commands > .button:last-child { border-radius: 0 2px 2px 0; } */
        .open { border: none; cursor: default !important; }
        .open:hover { color: inherit !important; background-color: inherit !important; }
        
.list { 
    position: absolute;
    z-index: 1000; 
    max-height: 320px;
    min-width: 216px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid var(--grey);
    border-radius: 2px;
    background-color: var(--very-light-grey); 
    cursor: pointer;
    box-shadow: 0 0 var(--shadow-height) 0 var(--shadow-color);
    padding: 0 5px;
}
.list.down { top: 20px; }
.list.up { bottom: 20px; } 
.hidden-list { opacity: 0; }