<div #formContainer class="content-component detail">
    <form *ngIf="form" [formGroup]="form" class="max-content" novalidate [class.disabled]="footerState.loading">
        <form-footer
            [state]="footerState"
            (save)="save()"
            (edit)="goToEdit()"
            (delete) = "delete()"
            (cancel)="goToView()"
            (back)="goBack()"
        >
        </form-footer>

        <span [ngSwitch]="mode">
			<ng-template [ngSwitchCase]="'view'">
				<h2 class="header command-zone"i18n="View planned execution center|Title@@plannedexecutionDetailViewTitle">Details on planned execution</h2>
			</ng-template>
			<ng-template [ngSwitchCase]="'edit'">
				<h2 class="header command-zone"i18n="Edit planned execution|Title@@plannedexecutionDetailEditTitle">Edit planned execution</h2>
			</ng-template>
			<ng-template [ngSwitchCase]="'create'">
				<h2 class="header command-zone"i18n="Create planned execution|Title@@plannedexecutionDetailCreateTitle">Create planned execution</h2>
			</ng-template>
		</span>

        <fieldset>
            <ol>
                <li>
                    <label i18n="Planned execution detail|StudyId label@@centerDetailName">Study</label>
                    <span class="right-col" [ngSwitch]="mode">
						<ng-template [ngSwitchCase]="'view'">
							{{plannedExecution.study}}
						</ng-template>
					</span>
                </li>
                <li>
                    <label i18n="Planned execution detail|Name label@@centerDetailName">Name</label>
                    <span class="right-col" [ngSwitch]="mode">
						<ng-template [ngSwitchCase]="'view'">
							{{plannedExecution.name}}
						</ng-template>
						<ng-template ngSwitchDefault>
							<input type="text" id="name" formControlName="name" [(ngModel)]="plannedExecution.name" />
							<label *ngIf="hasError('name', ['required'])" class="form-validation-alert" i18n="Edit center|Name required error@@centerDetailNameRequiredError">Name is required!</label>
							<label *ngIf="hasError('name', ['minlength', 'maxlength'])" class="form-validation-alert" i18n="Edit center|Name length error@@centerDetailNameLengthError">Name length must be between 2 and 200!</label>
						</ng-template>
					</span>
                </li>
                <li>
                    <label>Pipeline</label>
                    <span class="right-col" [ngSwitch]="mode">
						<ng-template [ngSwitchCase]="'view'">
							{{plannedExecution.vipPipeline}}
						</ng-template>
						<ng-template ngSwitchDefault>
                            <select-box formControlName="vipPipeline" [(ngModel)]="plannedExecution.vipPipeline" [optionArr]="pipelines">
                            </select-box>
						</ng-template>
					</span>
                </li>

            </ol>
            <div *ngIf="selectedPipeline">
                <div *ngFor="let parameter of selectedPipeline.parameters">
                    <div *ngIf="parameter.name != 'executable'">
                        <label>{{parameter.name}}{{!parameter.isOptional && parameter.type != 'Boolean' ? '*' : ''}}
                            <tool-tip> {{isAFile(parameter) ? 'Regular expression to filter among the selected datasets. ' + parameter.description : parameter.description}} </tool-tip></label>
                        <input *ngIf="!isAFile(parameter) && parameter.type != 'Boolean'" formControlName="{{parameter.name}}" name="{{parameter.name}}" id="{{parameter.name}}">
                        <span *ngIf="parameter.type == 'Boolean'">
                     <checkbox formControlName="{{parameter.name}}" id="{{parameter.name}}"></checkbox>
                 </span>
                        <span *ngIf="isAFile(parameter)">
                            <input *ngIf="isAFile(parameter)"
                                formControlName="{{parameter.name}}" name="{{parameter.name}}" id="{{parameter.name}}">
                        </span>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
