/*:host() { color: var(--dark-grey); display: inline-block; position: relative; height: 100%; }
*/
.notif { line-height: 27px; display: inline-block; padding: 0 8px; }
:host():hover .notif { cursor: pointer; /*background-color: var(--color-a); color: var(--very-light-grey);*/ }
.notif svg { vertical-align: -2; font-size: 14px; }
.number { padding: 0px 5px; }
.number.highlight {  border-radius: 10px; background-color: var(--color-red); color: var(--very-light-grey); }
/*:host():hover .number.highlight { background-color: var(--very-light-grey); cursor: pointer;  color: var(--color-a); }*/
button { background-color: transparent; }

.dropdown { 
    background-color: var(--light-grey); 
    position: absolute; top: 27px; right: 0; 
    border-radius: 0 0 2px 2px; 
    box-shadow: 0 0 var(--shadow-height) 0px var(--shadow-color); 
    overflow: hidden; 
    z-index: -1; 
    width: 218px; 
}
.dropdown .subtitle, .dropdown li { padding: 5px 8px; }
.dropdown li { }
progress-bar { display: block; }

.subtitle { color: var(--color-a); text-align: center; }
.subtitle svg { vertical-align: -1; margin-right: 4px; }

.horizontal-bar { background-color: var(--light-grey); list-style-type: none; }
    .horizontal-bar hr { bottom: 5px; height: 10px; margin: 0 5px !important; position: relative; }