:host() { display: flex; align-self: center; position: relative; }
.conditions { align-self: center; text-align: right; position: relative;}
.separator { width: 100px; align-self: center; color: purple; text-align: center; position: relative; }
.actions { align-self: center; text-align: left; position: relative; }

.conditions::ng-deep condition:not(:first-child)::before { display: inline; content: "and" }