:host() { display: block; width: 525px; height: 470px; }
img { height: 12px; margin-left: 10px; vertical-align: middle; }
button { width: 120px; margin: 0; background-color: var(--color-b); height: 27px; }
button:disabled { background-color: var(--grey); border-color: var(--grey); cursor: auto; }