:host() { display: block; }
img { height: 12px; margin-left: 10px; vertical-align: middle; }
button { width: 112px; margin: 0; background-color: var(--color-b); }
button:hover, button:disabled { color: var(--very-light-grey); background-color: var(--color-b-light2); }