/********************/
/* Navbar component */
/********************/
.navbar-component { box-shadow: 0 5px 5px -5px gray; margin-bottom: 15px; } 

dropdown-menu { margin: 0 -4px 20px 0; padding: 0;  border: 0; color: var(--greyer); }

.menu-item { cursor: pointer; display: block; margin: 0; padding: 5px 8px; }
  .menu-item:hover,
  .menu-item.opened { color: var(--very-light-grey); background-color: var(--color-a); }

.menu-list { padding: 0 0; margin: 0; }