<div class="NavbarComponent">
    <nav class="Menu">
        <ul>
            <!-- ngFor could be used but for the moment i18n does not work with ngfor -->
            <!-- If this is ok, see https://webcake.co/automating-your-main-nav-in-a-modular-angular-2-app/ -->
            <li class="Menu-list">
                <a routerLink="home" routerLinkActive="active" i18n="Menu|Home label" class="Menu-link">Home</a>
            </li>
            <li class="Menu-list">
                <span class="Menu-link" i18n="Menu|Administration label">Administration</span>
                <div class="AdministrationMenu-content">
                    <a routerLink="home" routerLinkActive="active" i18n="Menu|Manage users label" class="Menu-link">Manage users</a>
                </div>
            </li>
        </ul>
    </nav>
</div>