/******************/
/* Navbar component
/******************/
@import "app/shared/css/partials/base";

.NavbarComponent {
    background: $mainThemeBackgroundColor;
    margin-bottom: 20px;
}

.Menu-bar {
    margin: 5px;
}

.Menu-list {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
}
.Menu-list:hover > div {
    display: block;
}

.Menu-link {
    background: $mainThemeBackgroundColor;
    color: $mainThemeLabelColor;
    cursor: pointer;
    display: block;
    padding: 10px;
    text-decoration: none;
}
.Menu-link:hover {
    background: $mainThemeBackgroundHoverColor;
    display: block;
    text-decoration: none;
}

.AdministrationMenu-content {
    display: none;
    min-width: 100%;
    position: absolute;
}
