/********************/
/* Navbar component */
/********************/
.navbar-component { box-shadow: 0 0 var(--shadow-height) 0 gray; margin-bottom: 15px; z-index: 100; position: relative; } 

dropdown-menu { margin-left: -4px; padding: 0;  border: 0; }

.menu-list { padding: 0; margin: 0; }