:host { display: inline-block; position: relative; box-sizing: border-box; text-align: left; }
.block { padding: 1px 5px; border-radius: 10px; border: 1px solid var(--grey); white-space: nowrap; margin-right: 5px; margin-bottom: 3px; vertical-align: middle; display: inline-block;}
.block i { vertical-align: -1px; }
.block i, .label { white-space: nowrap; }
.label { vertical-align: -1px; }
select { width: 16px; border: none; opacity: 0; }
.select-wrapper { position: relative; display: inline-block;  }
.open-icon { position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: -1; display: inline-block; }
.open-icon i { vertical-align: middle; }
.remove { cursor: pointer; }
.dark { color:white }
