:host { display: inline-block; position: relative; box-sizing: border-box; text-align: left; }
.block { padding: 1px 5px; border-radius: 10px; border: 1px solid var(--grey); white-space: nowrap; margin-right: 5px; display: inline-block;}
.block i { vertical-align: -1px; }
.block i, .label { white-space: nowrap; }
select { width: 16px; border: none; opacity: 0; cursor: pointer; }
select:focus { border-bottom: none !important; }
.select-wrapper { position: relative; display: inline-block;  }
.open-icon { position: absolute; top: 2.5px; right: 0; bottom: 2.5px; left: 0; z-index: -1; display: inline-block; color: var(--color-a-light); 
    border: 1px solid var(--grey); border-radius: 10px; text-align: center; }
.open-icon i { vertical-align: -1px; }
.remove { cursor: pointer; }
.dark { color:white }
option.disabled { color: var(--grey) !important; background-color: var(--very-light-grey) !important; }
