 <form [formGroup]="brukerImportFileForm" novalidate [@preventInitialChildAnimations]>
 	<div class="step-block" [class.active]="enabled">
 		<div class="header command-zone" (click)="tab_open = !tab_open">1. Select BRUKER archive<span *ngIf="archive" class="check-mark">&#x2713;</span></div>
 		<fieldset class="step dicom" [@slideDown]="tab_open" *ngIf="tab_open">
 			<p>Please select a BRUKER zip archive to import.<br/>
 			When uploaded, Bruker archive will be automatically converted to DICOM.<br/>
 			<strong class="warning">&#9888; Important notice:</strong> this archive must contain at least one 2dseq file!
			</p>
    		<input type="file" formControlName="fu" (change)="uploadArchive($event)" placeholder="Upload file..."/>
    		<label *ngIf="extensionError==true" class="form-validation-alert" i18n="Import|ExtensionError label">A Bruker zip archive  is required!</label>
    		<label class="form-validation-alert" i18n="Import|UPloadError label">{{uploadError}}</label>
		</fieldset>
	</div>
</form>