<form [formGroup]="selectSeriesForm" novalidate [@preventInitialChildAnimations]>
	<div class="step-block" [class.active]="enabled">
        <div class="header command-zone" (click)="tab_open = !tab_open">2. Select series<span *ngIf="patients" class="check-mark">&#x2713;</span></div>
        <fieldset class="step" [@slideDown]="tab_open" *ngIf="tab_open"> 
            <p>Please select only the series useful for your study.</p>
            <div class="middle-content">
                <div class="tree">
                    <node 
                        *ngFor="let patient of patients" 
                        [label]="patient.patientName" 
                        pictoUrl="/assets/images/icons/user.png" 
                        (labelClick)="showPatientDetails($event)"
                        [nodeParams]="patient"
                        [class.selected]="detailedPatient == patient"
                        deploy=true>
                            <node 
                                *ngFor="let study of patient.studies" 
                                [label]="study.studyDescription"
                                (editedLabel)="changeExamComment($event)"
                                [editable]="true"
                                [nodeParams]="study"
                                (nodeSelected)="selectNode(patient)"
                                tooltip="You can change the study description here. The value will then be overwritten in the dicom files."
                                pictoUrl="/assets/images/icons/medical/x-ray-2.png" 
                                hasBox="true"
                                deploy=true>
                                    <node 
                                        *ngFor="let serie of study.series" 
                                        [label]="serie.seriesDescription" 
                                        pictoUrl="/assets/images/icons/medical/brain.png" 
                                        buttonPicto="/assets/images/icons/search.png"
                                        (buttonClick)="initPapaya(serie);papayaModal.show();"
                                        hasBox="true" 
                                        [(ngModel)]="serie.selected"  
                                        [nodeParams]="serie"
                                        (nodeSelected)="selectNode(patient)"
                                        (labelClick)="showSerieDetails($event)"
                                        [class.selected]="detailedSerie == serie"
                                        [ngModelOptions]="{standalone: true}">
                                    </node>
                            </node>
                    </node>
                </div>

                <div class="preview" *ngIf="detailedPatient">
                    <div class="title"><h3>Patient</h3></div>
                    <div class="preview-data">
                        <tr class="item">
                            <td class="label">Id</td>
                            <td class="value">{{detailedPatient?.patientID}}</td>
                        </tr>
                        <tr class="item">
                            <td class="label">Sex</td>
                            <td class="value">{{detailedPatient?.patientSex}}</td>
                        </tr>
                        <tr class="item">
                            <td class="label">Name</td>
                            <td class="value">{{detailedPatient?.patientName}}</td>
                        </tr>
                        <tr class="item">
                            <td class="label">Birth date</td>
                            <td class="value">{{detailedPatient?.patientBirthDate | date: 'dd/MM/yyyy'}}</td>
                        </tr>
                    </div>
                </div>

                <div class="preview" *ngIf="detailedSerie">
                    <div class="title"><h3>Serie</h3></div>
                    <div class="preview-data">
                        <tr class="item">
                            <td class="label">Id</td>
                            <td class="value">{{detailedSerie?.seriesInstanceUID}}</td>
                        </tr>
                        <tr class="item">
                            <td class="label">Protocol</td>
                            <td class="value">{{detailedSerie?.protocolName}}</td>
                        </tr>
                        <tr class="item">
                            <td class="label">Description</td>
                            <td class="value">{{detailedSerie?.seriesDescription}}</td>
                        </tr>
                        <tr class="item">
                            <td class="label">Series date</td>
                            <td class="value">{{detailedSerie?.seriesDate | date: 'dd/MM/yyyy'}}</td>
                        </tr>
                        <tr class="item">
                            <td class="label">Series number</td>
                            <td class="value">{{detailedSerie?.seriesNumber}}</td>
                        </tr>
                        <tr class="item">
                            <td class="label">Number of images</td>
                            <td class="value">{{detailedSerie?.imagesNumber}}</td>
                        </tr>
                        <tr class="item">
                            <td class="label">Modality</td>
                            <td class="value">{{detailedSerie?.modality}}</td>
                        </tr>
                        <tr class="item">
                            <td class="label">Number of non-image objects</td>
                            <td class="value">{{detailedSerie?.nonImagesNumber}}</td>
                        </tr>
                    </div>
                </div>
            </div>
            <div class="commands">
                 <button i18n="Import|NextButton label" [disabled]="!seriesSelected" (click)="validateSeriesSelected()">Next</button>
            </div>
        </fieldset>
    </div>
</form>