:host { display: inline-block; position: relative; }
.sub { position: absolute; bottom: -32%; right: -60%; }
.sub-background { content: ""; position: absolute; top:0; bottom: 0; left: 0; right: 0; color: white; opacity: 0.5; }