.page {
    margin: 30px 0;
    width: 800px;
    height: 1131px;
    border: 1px solid var(--grey);
    box-shadow: 10px 5px 20px;
    padding: 40px 60px;
}
.header { margin-bottom: 30px; }
button.alt { }
.created-title { color: green; }