<div class="header command-zone">1. Select DICOM archive</div>
<fieldset class="step dicom">
    <p>Please select a DICOM zip archive to import.</p>
    <p><strong class="warning"><i class="fas fa-exclamation-triangle"></i> Important notice :</strong> this archive must contain a DICOMDIR file at its root!</p>
    <input type="file" (change)="uploadArchive($event)"/>
    <img class="loader" *ngIf="archiveStatus == 'uploading'" [src]="ImagesUrlUtil.SMALL_LOADER_IMAGE_PATH" />
    
    <label *ngIf="extensionError==true" class="form-validation-alert" i18n="Import|ExtensionError label">
        A DICOM zip archive is required!
    </label>
    <label *ngIf="dicomDirMissingError==true" class="form-validation-alert" i18n="Import|DicomDirMissingError label">
        DICOMDIR is missing in .zip file!
    </label>  
    
    <p *ngIf="modality" class="modality">
        The modality of the dataset(s) that you are importing is
        <span *ngIf="modality=='MR'">MRI</span>
        <span *ngIf="modality=='PET'">PET</span>
    </p>
</fieldset>
<button class="next" [disabled]="!valid" (click)="next()">Next</button>