<div class="UserListComponent">
    <div class="UserListComponent-title">
        <h2 i18n="Manage users|Title">Manage users</h2>
    </div>

    <div>
        <button style="margin-bottom: 10px" (click)="showUsersOnDemand($event)" i18n="Manage users|UsersOnDemandButton label" class="Button">Users On Demand</button>
        <button style="margin-bottom: 10px" (click)="showValidtedUsers($event)" i18n="Manage users|ValidatedUsersButton label" class="Button">Validated Users</button>
        <button style="margin-bottom: 10px" (click)="clearUsersFilter($event)" i18n="Manage users|ClearUsersFilterButton label" class="Button">Clear Users Filter</button>
    </div> 
    
    
    <div class="UserListComponent-buttonBar">
        <a routerLink="../editUser" routerLinkActive="active"><img src="/images/plus.24x24.png" /></a>
    </div>
    
    <div class="UserListComponent-grid" [style.height]="gridHeight()">
        <ag-grid-ng2 #agGrid style="width: 100%; height: 100%;" class="ag-fresh"
            [gridOptions]="gridOptions"
            [columnDefs]="columnDefs"
            [rowData]="users"
            [headerCellTemplate]="headerCellTemplate"

            enableColResize
            enableSorting
            rowHeight="{{rowHeight}}"
            rowSelection="multiple">
        </ag-grid-ng2>
    </div>
</div>