/***********************/
/* User list component */
/***********************/
.UserListComponent {
    padding-left: 5%;
    width: 90%;
}

.UserListComponent-title {
    text-align: center;
    margin: 0px;
}

.UserListComponent-buttonBar {
    padding-left: 10px;
}

.UserListComponent-grid {
    padding-top: 10px;
}
