
:host() {
    padding: 0 20px;
    display: block;
    height: 30px;
    margin-bottom: 15px; 
    
    --bg-color: var(--color-b);
    --bg-hover: var(--color-b-light2);
    --txt-color: var(--very-light-grey);
    --hl-color: var(--color-a);
    --w-color: var(--color-c);
    --wl-color: var(--color-c-light);
}

ul li a {
	display: block;
	float: left;
    line-height: 26px;
	background: var(--bg-color);
	text-align: center;
	padding: 0 15px;
	position: relative;
	margin: 0 17px 10px 0; 
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: var(--txt-color);
}

ul li.waiting a { background-color: var(--w-color); }
ul li.waiting a:after { border-left: 13px solid var(--w-color); }
ul li.waiting a:before { border-color: var(--w-color) var(--w-color) var(--w-color) transparent; }

ul li.waiting a:hover { background-color: var(--wl-color) !important; }
ul li.waiting a:hover:after { border-left: 13px solid var(--wl-color) !important; }
ul li.waiting a:hover:before { border-color: var(--wl-color) var(--wl-color) var(--wl-color) transparent !important; }

ul li:last-child a { background-color: var(--hl-color); }
ul li:last-child a:after { border-left: 13px solid var(--hl-color); }
ul li:last-child a:before { border-color: var(--hl-color) var(--hl-color) var(--hl-color) transparent; }

ul li:not(:last-child) a:hover { background: var(--bg-hover); cursor: pointer; }
ul li:not(:last-child) a:hover::before { border-color: var(--bg-hover) var(--bg-hover) var(--bg-hover) transparent; }
ul li:not(:last-child) a:hover::after{ border-top: 13px solid transparent; border-bottom: 13px solid transparent; border-left: 13px solid var(--bg-hover); }

ul li:last-child a:hover { cursor: default; }

ul li a:after {
    content: "";  
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-left: 13px solid var(--bg-color);
    position: absolute; right: -13px; top: 0;	
}

ul li a:before {
    content: "";
    position: absolute;
    border-width: 13px 0 13px 13px;
    border-style: solid;
    border-color: var(--bg-color) var(--bg-color) var(--bg-color) transparent;
    left: -13px;	
}

/* Hide the Before Pseudo Element */
ul li:first-child a:before {
	display: none; 
}

/* Add Border Radius */
ul li:first-child a{
	border-top-left-radius: 10px; border-bottom-left-radius: 10px; border-bottom-right-radius: 1px;
}

.before-icon svg {
    margin-right: 7px;
    vertical-align: -1;
}

.after-icon svg {
    margin-left: 7px;
    vertical-align: -1;
}

a.disabled { background-color: yellow !important; }