table { margin-top: 15px; padding: 5px 0; width: 100%; font-weight: normal; border-collapse: collapse; background-color: var(--very-light-grey); }
th { color: var(--color-a); padding: 10px 5px; }
th, td { text-align: left; }
tr.even { background-color: beige; }
/* tr.odd { background-color: var(--color-b-light); } */
tr td:first-child { border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
tr td:last-child { border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
td { padding: 4px 5px; }
table tr td:last-child { padding-left: 13px; padding-right: 13px; }

.label-col { min-width: 140px; }
.input-col, .input-col input { width: 127px; }
.chkbx-col { width: 20px; }
.dropdown-col, .dropdown-col select { width: 125px; }
.buttons-col { width: 0px; }
.buttons-col .button { cursor: pointer; }
.clickable { cursor: pointer; }
.add { margin-left: 5px; cursor: pointer; }
checkbox { vertical-align: bottom; }