<div #formContainer class="content-component detail">
    <form *ngIf="form" [formGroup]="executionForm" class="max-content" novalidate [class.disabled]="footerState.loading">
        <form-footer
            [state]="footerState"
            (save)="save()"
            (edit)="goToEdit()"
            (delete) = "delete()"
            (cancel)="goToView()"
            (back)="goBack()"
        >
        </form-footer>

        <span [ngSwitch]="mode">
			<ng-template [ngSwitchCase]="'view'">
				<h2 class="header command-zone"i18n="View execution template|Title@@executiontemplateDetailViewTitle">Execution template</h2>
			</ng-template>
			<ng-template [ngSwitchCase]="'edit'">
				<h2 class="header command-zone"i18n="Edit execution template|Title@@executiontemplateDetailEditTitle">Edit execution template</h2>
			</ng-template>
			<ng-template [ngSwitchCase]="'create'">
				<h2 class="header command-zone"i18n="Create execution template|Title@@executiontemplateDetailCreateTitle">Create execution template</h2>
			</ng-template>
		</span>

        <fieldset>
            <ol>
                <li>
                    <label i18n="Execution template detail|StudyId label@@centerDetailName">Study</label>
                    <span class="right-col">
                        {{executionTemplate.studyName}}
					</span>
                </li>
                <li>
                    <label i18n="Execution template detail|Name label@@centerDetailName">Name</label>
                    <span class="right-col" [ngSwitch]="mode">
						<ng-template [ngSwitchCase]="'view'">
							{{executionTemplate.name}}
						</ng-template>
						<ng-template ngSwitchDefault>
							<input type="text" id="name" formControlName="name" [(ngModel)]="executionTemplate.name" />
							<label *ngIf="hasError('name', ['required'])" class="form-validation-alert" i18n="Edit center|Name required error@@centerDetailNameRequiredError">Name is required!</label>
							<label *ngIf="hasError('name', ['minlength', 'maxlength'])" class="form-validation-alert" i18n="Edit center|Name length error@@centerDetailNameLengthError">Name length must be between 2 and 200!</label>
                            <label *ngIf="hasError('name', ['unique'])" class="form-validation-alert" i18n="Execution template detail|Name unique error@@executionTemplateDetailNameUniqueError">Name should be unique!</label>
						</ng-template>
					</span>
                </li>
                <li>
                    <label>Pipeline</label>
                    <span class="right-col" [ngSwitch]="mode">
						<ng-template [ngSwitchCase]="'view'">
							{{executionTemplate.vipPipeline}}
						</ng-template>
						<ng-template ngSwitchDefault>
                            <select-box formControlName="vipPipeline" [(ngModel)]="executionTemplate.vipPipeline" [optionArr]="pipelineNames"/>
						</ng-template>
					</span>
                </li>
                <li>
                    <label>Priority<tool-tip>Order of pipeline executions in case of multiple relevant template for one import. The lowest template priority will be the first to be executed.</tool-tip></label>
                    <span class="right-col" [ngSwitch]="mode">
						<ng-template [ngSwitchCase]="'view'">
							{{executionTemplate.priority}}
						</ng-template>
						<ng-template ngSwitchDefault>
                            <input type="number" id="priority" formControlName="priority" [(ngModel)]="executionTemplate.priority"/>
						</ng-template>
					</span>
                </li>
                <li>
                    <h3>Execution template parameters</h3>
                    <span class="right-col" [ngSwitch]="mode">
                        <execution-template-parameter-list [templateId]="executionTemplate.id" [templateName]="executionTemplate.name"/>
                    </span>
                </li>
            </ol>
        </fieldset>
    </form>
</div>
