<div #formContainer class="content-component detail">
    @if (form) {
        <form [formGroup]="executionForm" class="max-content" novalidate [class.disabled]="footerState.loading">
            <form-footer [state]="footerState" (save)="save()" (edit)="goToEdit()" (delete)="delete()" (dismiss)="goToView()" (back)="goBack()"></form-footer>

            @if (mode === 'view') {
                <h2 class="header command-zone" i18n="View execution template|Title@@executiontemplateDetailViewTitle">Execution template</h2>
            }
            @if (mode === 'edit') {
                <h2 class="header command-zone" i18n="Edit execution template|Title@@executiontemplateDetailEditTitle">Edit execution template</h2>
            }
            @if (mode === 'create') {
                <h2 class="header command-zone" i18n="Create execution template|Title@@executiontemplateDetailCreateTitle">Create execution template</h2>
            }

            <fieldset>
                <ol>
                    <li>
                        <label i18n="Execution template detail|Study label@@centerDetailName">Study</label>
                        <span class="right-col">{{ studyName }}</span>
                    </li>
                    <li>
                        <label i18n="Execution template detail|Name label@@centerDetailName">Name</label>
                        <span class="right-col">
                            @if (mode === 'view') {
                                {{ executionTemplate.name }}
                            } @else {
                                <input type="text" id="name" formControlName="name" />
                                @if (hasError('name', ['required'])) {
                                    <label class="form-validation-alert" i18n>Name is required.</label>
                                }
                                @if (hasError('name', ['minlength', 'maxlength'])) {
                                    <label class="form-validation-alert" i18n>Name length must be between 2 and 200.</label>
                                }
                                @if (hasError('name', ['unique'])) {
                                    <label class="form-validation-alert" i18n>Name should be unique.</label>
                                }
                            }
                        </span>
                    </li>
                    <li>
                        <label>
                            Priority
                            <tool-tip>Order of pipeline executions in case of multiple relevant templates. Lower priority = executed first.</tool-tip>
                        </label>
                        <span class="right-col">
                            @if (mode === 'view') {
                                {{ executionTemplate.priority }}
                            } @else {
                                <input type="number" id="priority" formControlName="priority" min="1" />
                                @if (form.get('priority')?.hasError('uniqueInStudyControl')) {
                                    <label class="form-validation-alert" i18n>Priority must be unique</label>
                                }
                                @if (hasError('priority', ['required'])) {
                                    <label class="form-validation-alert" i18n>Priority is required.</label>
                                }
                            }
                        </span>
                    </li>
                    <li>
                        <label>
                            Filter combination
                            <tool-tip>
                                Example: ((1 OR 2) AND 3) OR (1 AND 2) OR 3. It can be only 'AND' and 'OR' for operating every parameters with respectively
                                'AND' or 'OR' operator. If empty, 'AND' by default.
                            </tool-tip>
                        </label>
                        <span class="right-col">
                            @if (mode === 'view') {
                                {{ executionTemplate.filterCombination }}
                            } @else {
                                <input type="text" id="filterCombination" formControlName="filterCombination" />
                                @if (hasError('filterCombination', ['filterCombinationControl'])) {
                                    <label class="form-validation-alert" i18n>Filter combination must be semantically correct.</label>
                                }
                            }
                        </span>
                    </li>
                    <li>
                        <label>Pipeline</label>
                        <span class="right-col">
                            @if (mode === 'view') {
                                {{ executionTemplate.pipelineName }}
                            } @else {
                                <select-box [optionArr]="pipelineNames" formControlName="pipelineName" (selectionchange)="onPipelineUpdate()"></select-box>
                                @if (hasError('pipelineName', ['required'])) {
                                    <label class="form-validation-alert" i18n>Pipeline is required.</label>
                                }
                            }
                        </span>
                    </li>
                    @if (pipeline) {
                        <span>
                            <h3>Pipeline parameters</h3>
                            <li>
                                <label>
                                    Execution Name
                                    <tool-tip>
                                        The name displayed in the tree. It will be completed with the date time and the exam id relative to the execution
                                        occurrence.
                                    </tool-tip>
                                </label>
                                <span class="right-col">
                                    @if (mode === 'view') {
                                        <ng-container style="width: 300px">{{ pipelineParameters['execution_name'] }}</ng-container>
                                    } @else {
                                        <input
                                            style="width: 300px"
                                            type="text"
                                            id="execution_name"
                                            formControlName="execution_name"
                                            (input)="onParameterUpdate('execution_name')" />
                                        @if (hasError('execution_name', ['required'])) {
                                            <label class="form-validation-alert" i18n>Execution name is required.</label>
                                        }
                                        @if (hasError('execution_name', ['minlength', 'maxlength'])) {
                                            <label class="form-validation-alert" i18n>Execution name length must be between 2 and 100.</label>
                                        }
                                    }
                                </span>
                            </li>
                            @if ((pipelineParameters | keyvalue).length >= 6) {
                                <hr style="border: none; height: 1px; background-color: #5f0f4e; width: 30%" />
                            }
                            @if ((pipelineParameters | keyvalue).length >= 6) {
                                <li>
                                    @for (parameter of pipeline.parameters; track parameter) {
                                        @if (parameter.name !== 'executable') {
                                            <li>
                                                <label>
                                                    {{ parameter.name }}{{ parameter.type !== 'Boolean' ? '*' : '' }}
                                                    <tool-tip>
                                                        {{ 'Regular expression to filter among the selected datasets. ' + parameter.description }}
                                                    </tool-tip>
                                                </label>
                                                @if (parameter.type !== 'Boolean') {
                                                    <span class="right-col">
                                                        @if (mode === 'view') {
                                                            <ng-container style="width: 300px">{{ pipelineParameters[parameter.name] }}</ng-container>
                                                        } @else {
                                                            <input
                                                                id="{{ parameter.name }}"
                                                                [formControlName]="parameter.name + '_value'"
                                                                (input)="onParameterUpdate(parameter.name + '_value')" />
                                                        }
                                                    </span>
                                                }
                                                @if (parameter.type === 'Boolean') {
                                                    <span class="right-col">
                                                        @if (mode === 'view') {
                                                            <ng-container style="width: 300px">{{ pipelineParameters[parameter.name] }}</ng-container>
                                                        } @else {
                                                            <checkbox
                                                                id="{{ parameter.name }}"
                                                                [formControlName]="parameter.name + '_value'"
                                                                (onChange)="onParameterUpdate(parameter.name + '_value')" />
                                                        }
                                                    </span>
                                                }
                                            </li>
                                        }
                                        @if (parameter.name !== 'executable' && parameter.type !== 'Boolean') {
                                            <li>
                                                <label>
                                                    Group for {{ parameter.name }}
                                                    <tool-tip>
                                                        From which object level the datasets are coming from. Number of executions will be relative to the lower
                                                        level. Lower = examination -> 1 exec in total (acquisition filters not taken in account), lower =
                                                        acquisition / dataset -> 1 exec per acquisition / dataset
                                                    </tool-tip>
                                                </label>
                                                <span class="right-col">
                                                    <input
                                                        [id]="'pipelineParameters[' + parameter.name + '_dataset]'"
                                                        type="radio"
                                                        [formControlName]="parameter.name + '_group'"
                                                        value="dataset"
                                                        (change)="onParameterUpdate(parameter.name + '_group')"
                                                        [ngClass]="{ 'disabled-radio': mode === 'view' }" />
                                                    Dataset(s)
                                                    <input
                                                        [id]="'pipelineParameters[' + parameter.name + '_acquisition]'"
                                                        type="radio"
                                                        [formControlName]="parameter.name + '_group'"
                                                        value="acquisition"
                                                        (change)="onParameterUpdate(parameter.name + '_group')"
                                                        [ngClass]="{ 'disabled-radio': mode === 'view' }" />
                                                    Acquisition(s)
                                                    <input
                                                        [id]="'pipelineParameters[' + parameter.name + '_examination]'"
                                                        type="radio"
                                                        [formControlName]="parameter.name + '_group'"
                                                        value="examination"
                                                        (change)="onParameterUpdate(parameter.name + '_group')"
                                                        [ngClass]="{ 'disabled-radio': mode === 'view' }" />
                                                    Examination(s)
                                                </span>
                                            </li>
                                        }
                                        <hr style="border: none; height: 1px; background-color: #5f0f4e; width: 30%" />
                                    }
                                </li>
                            }
                            <li>
                                <label class="required-label">Processing type</label>
                                <span class="right-col">
                                    @if (mode === 'view') {
                                        {{ pipelineParameters['processing_type'] }}
                                    } @else {
                                        <select-box
                                            id="processing_type"
                                            [optionArr]="processingType"
                                            formControlName="processing_type"
                                            (selectionchange)="onParameterUpdate('processing_type')" />
                                        @if (hasError('processing_type', ['required'])) {
                                            <label class="form-validation-alert" i18n>Processing type is required.</label>
                                        }
                                    }
                                </span>
                            </li>
                            <li>
                                <label>
                                    Dataset export format
                                    <tool-tip>Choose format for exported datasets.</tool-tip>
                                </label>
                                <span class="right-col">
                                    <input
                                        id="nii"
                                        type="radio"
                                        formControlName="export_format"
                                        name="export_format"
                                        value="nii"
                                        (change)="onParameterUpdate('export_format')"
                                        [ngClass]="{ 'disabled-radio': mode === 'view' }" />
                                    NIfTI
                                    <input
                                        id="dicom"
                                        type="radio"
                                        formControlName="export_format"
                                        name="export_format"
                                        value="dcm"
                                        (change)="onParameterUpdate('export_format')"
                                        [ngClass]="{ 'disabled-radio': mode === 'view' }" />
                                    DICOM
                                </span>
                            </li>
                            <li>
                                <label>
                                    Nifti converter
                                    <tool-tip>Converter for DICOM to NIfTI.</tool-tip>
                                </label>
                                @if (pipelineParameters['export_format'] === 'nii') {
                                    <span class="right-col">
                                        @if (mode === 'view') {
                                            {{ getConverterLabel(pipelineParameters['converter']) }}
                                        } @else {
                                            <select-box
                                                formControlName="converter"
                                                [options]="niftiConverters"
                                                (selectionchange)="onParameterUpdate('converter')"></select-box>
                                            @if (hasError('converter', ['requiredIfTypeIsNii'])) {
                                                <label class="form-validation-alert" i18n>Nifti converter is required.</label>
                                            }
                                        }
                                    </span>
                                }
                            </li>
                        </span>
                    }
                    @if (id) {
                        <li>
                            <h3>Execution template filters</h3>
                            <span class="right-col">
                                <execution-template-filter-list
                                    [templateId]="executionTemplate.id"
                                    [templateName]="executionTemplate.name"></execution-template-filter-list>
                            </span>
                        </li>
                    }
                </ol>
            </fieldset>
        </form>
    }
</div>
