<div #formContainer class="content-component detail">
    <form *ngIf="form" [formGroup]="executionForm" class="max-content" novalidate [class.disabled]="footerState.loading">
         <span [ngSwitch]="mode">
			<ng-template [ngSwitchCase]="'view'">
				<h2 class="header command-zone"i18n="View execution template parameter|Title@@executiontemplateparameterDetailViewTitle">Execution template parameter</h2>
			</ng-template>
			<ng-template [ngSwitchCase]="'edit'">
				<h2 class="header command-zone"i18n="Edit execution template|Title@@executiontemplateparameterDetailEditTitle">Edit execution template parameter</h2>
			</ng-template>
			<ng-template [ngSwitchCase]="'create'">
				<h2 class="header command-zone"i18n="Create execution template|Title@@executiontemplateparameterDetailCreateTitle">Create execution template parameter</h2>
			</ng-template>
		</span>
        <fieldset>
            <ol>
                <li>
                    <label i18n="Execution template detail|StudyId label@@centerDetailName">Study</label>
                    <span class="right-col" [ngSwitch]="mode">
                        {{executionTemplateParameter.templateName}}
					</span>
                </li>
                <li>
                    <label i18n="Execution template detail|Execution comment filter">Filter <tool-tip>Examples : T2*STIR* will select all dataset whose names begin with "T2" and containing "STIR". An empty field means that all examinations import should trigger the execution. Caps sensitive.</tool-tip></label>

                    <span class="right-col" [ngSwitch]="mode">
						<ng-template [ngSwitchCase]="'view'">
							{{executionTemplateParameter.filter}}
						</ng-template>
						<ng-template ngSwitchDefault>
							<input type="text" id="filter" formControlName="filter" [(ngModel)]="executionTemplateParameter.filter" />
						</ng-template>
					</span>
                </li>
                <li>
                    <label>Group by <tool-tip>Selected datasets will be grouped by the chosen entity. Choose what the selected pipeline expect.</tool-tip></label>
                    <span class="right-col">
                                    <input id="dataset" type="radio" formControlName="groupBy" name="groupBy" [(ngModel)]="executionTemplateParameter.groupBy" value="dataset" />Dataset(s)
                                    <input id="acquisition" type="radio" formControlName="groupBy" name="groupBy" [(ngModel)]="executionTemplateParameter.groupBy" value="acquisition" />Acquisition(s)
                                    <input id="examination" type="radio" formControlName="groupBy" name="groupBy" [(ngModel)]="executionTemplateParameter.groupBy" value="examination" />Examination(s)
                                    <input id="subject" type="radio" formControlName="groupBy" name="groupBy" [(ngModel)]="executionTemplateParameter.groupBy" value="subject" />Examination(s)
                                </span>
                </li>
            </ol>
        </fieldset>
    </form>
</div>
