<div class="cell">
    <form #window class="window" [formGroup]="form" *ngIf="form">
        <h2 class="header">Download Datasets</h2>
        <div class="left-icon msg">
            <i class="fa-solid fa-circle-exclamation"></i>
            <b>Limited functionalities with current browser : </b>
            Shanoir provides a way to download unlimited quantities of datasets to your computer<!-- with convenient options to organize the directories structure-->. Unfortunately your browser does not allow this advanced download functionality.
            See the list of compatible browsers :
            <a href="https://developer.mozilla.org/en-US/docs/Web/API/Window/showDirectoryPicker#browser_compatibility" target="_blank">https://developer.mozilla.org/en-US/docs/Web/API/Window/showDirectoryPicker#browser_compatibility</a>
        </div>
        <fieldset class="body">
            <ol>
                <li>
                    <label>Dataset files format</label>
                    <span class="right-col">
                        <select-box formControlName="format" [options]="formatOptions"></select-box>
                    </span>
                </li>
            </ol>
        </fieldset>
        <div class="footer">
            <button type="button" type="button" (click)="downloadNow()" class="alt left-icon" [disabled]="form.dirty && !form.valid">
                <i class="fas fa-download"></i>Download now
            </button>
            <button type="button" (click)="cancel()">Cancel</button>
        </div>
    </form>
</div>