:host() {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 19px;
    vertical-align: sub;
    margin: 0 10px;
}

:host().disabled {
    opacity: 0.5;
}

:host():focus {
    outline: none;
}


.line {
    border: 1px solid var(--grey);
    border-radius: 5px;
    display: block;
    position: absolute;
    left: 0; right: 0; top: 7px; bottom: 7px;
    background-color: var(--light-grey);
}

:host, .button {
    -webkit-transition: transform .4s;
    transition: transform .4s ;
}

.button {
    position: relative;
    display: inline-block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid var(--grey);
    z-index: 1;
    background-color: var(--very-light-grey);
}

:host():focus .button::after {
    content: "";
    position: absolute;
    top: -2px; right: -2px; bottom: -2px; left: -2px;
    border: 2px solid var(--color-a);
    border-radius: 50%;
}

.button.on {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
}