<fieldset [formGroup]="accountRequestInfoForm">
    <ol>
        <li class="required">
            <label i18n="Edit user|Institution label@@editUserInstitution" class="required-label">Institution</label> 
            <span class="right-col">
                <input *ngIf="!requestAccountMode" type="text" id="institution" required formControlName="institution" [(ngModel)]="userAccountRequestInfo.institution" readonly/>
                <input *ngIf="requestAccountMode" type="text" required maxlength="200" formControlName="institution"/>
                <label *ngIf="requestAccountMode && formErrors.institution.includes('required')" class="form-validation-alert" i18n="Edit user|Institution required error@@editUserInstitutionRequiredError">Institution is required!</label>
                <label *ngIf="requestAccountMode && formErrors.contact.includes('length')" class="form-validation-alert" i18n="Edit user|Institution length error@@editUserInstitutionLengthError">Institution length must be less than 200!</label>
            </span>
        </li>
        <li class="required">
            <label i18n="Edit user|Service label@@editUserService" class="required-label">Service</label> 
            <span class="right-col">
                <input *ngIf="!requestAccountMode" type="text" id="service" required formControlName="service" [(ngModel)]="userAccountRequestInfo.service" readonly/>
                <input *ngIf="requestAccountMode" type="text" required maxlength="200" formControlName="service"/>
                <label *ngIf="requestAccountMode && formErrors.service.includes('required')" class="form-validation-alert" i18n="Edit user|Service required error@@editUserServiceRequiredError">Service is required!</label>
                <label *ngIf="requestAccountMode && formErrors.contact.includes('length')" class="form-validation-alert" i18n="Edit user|Service length error@@editUserServiceLengthError">Service length must be less than 200!</label>
            </span>
        </li>
        <li class="required">
            <label i18n="Edit user|Function label@@editUserFunction" class="required-label">Function</label> 
            <span class="right-col">
                <input *ngIf="!requestAccountMode" type="text" id="function" required formControlName="function" [(ngModel)]="userAccountRequestInfo.function" readonly/>
                <input *ngIf="requestAccountMode" type="text" required maxlength="200" formControlName="function"/>
                <label *ngIf="requestAccountMode && formErrors.function.includes('required')" class="form-validation-alert" i18n="Edit user|Function required error@@editUserFunctionRequiredError">Function is required!</label>
                <label *ngIf="requestAccountMode && formErrors.contact.includes('length')" class="form-validation-alert" i18n="Edit user|Function length error@@editUserFunctionLengthError">Function length must be less than 200!</label>
            </span>
        </li>
        <li class="required">
            <label i18n="Edit user|Study label@@editUserStudy" class="required-label">Concerned study</label> 
            <span class="right-col">
                <input *ngIf="!requestAccountMode" type="text" id="study" required formControlName="study" [(ngModel)]="userAccountRequestInfo.study" readonly/>
                <input *ngIf="requestAccountMode" type="text" required maxlength="200" formControlName="study"/>
                <label *ngIf="requestAccountMode && formErrors.study.includes('required')" class="form-validation-alert" i18n="Edit user|Study required error@@editUserStudyRequiredError">Study is required!</label>
                <label *ngIf="requestAccountMode && formErrors.contact.includes('length')" class="form-validation-alert" i18n="Edit user|Study length error@@editUserStudyLengthError">Study length must be less than 200!</label>
            </span>
        </li>
        <li class="required">
            <label i18n="Edit user|Contact label@@editUserContact" class="required-label">My contact in Shanoir</label> 
            <span class="right-col">
                <input *ngIf="!requestAccountMode" type="text" id="contact" required formControlName="contact" [(ngModel)]="userAccountRequestInfo.contact" readonly/>
                <input *ngIf="requestAccountMode" type="text" required maxlength="200" formControlName="contact"/>
                <label *ngIf="requestAccountMode && formErrors.contact.includes('required')" class="form-validation-alert" i18n="Edit user|Contact required error@@editUserContactRequiredError">Contact is required!</label>
                <label *ngIf="requestAccountMode && formErrors.contact.includes('length')" class="form-validation-alert" i18n="Edit user|Contact length error@@editUserContactLengthError">Contact length must be less than 200!</label>
            </span>
        </li>
        <li class="required">
            <label i18n="Edit user|Work label@@editUserWork" class="required-label">Role in the study</label> 
            <span class="right-col">
                <input *ngIf="!requestAccountMode" type="text" id="work" required formControlName="work" [(ngModel)]="userAccountRequestInfo.work" readonly/>
                <input *ngIf="requestAccountMode" type="text" required maxlength="200" formControlName="work"/>    
                <label *ngIf="requestAccountMode && formErrors.work.includes('required')" class="form-validation-alert" i18n="Edit user|Work required error@@editUserWorkRequiredError">Work is required!</label>
                <label *ngIf="requestAccountMode && formErrors.contact.includes('length')" class="form-validation-alert" i18n="Edit user|Work length error@@editUserWorkLengthError">Work length must be less than 200!</label>
            </span>
        </li>
    </ol>
</fieldset>