<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <p>Cher <span th:text="${firstname}"></span> <span th:text="${lastname}"></span>,</p>
    <p>Votre mot de passe a été réinitialisé.<br/>
    Votre nouveau mot de passe est : <span th:text="${newPassword}"></span></p>
    <p>Il vous sera demandé de le changer lors de votre prochaine connexion au site.<br/>
    Pour des raisons de sécurité, la politique de mots de passe a évolué. Votre mot de passe devra comporter au-moins 8 caractères avec au-moins un nombre, une lettre minuscule, une lettre majuscule et un caractère spécial.</p>
    <p>Cordialement,<br/>
    L'administrateur Shanoir</p>
    <p>----</p>
    <p>Dear <span th:text="${firstname}"></span> <span th:text="${lastname}"></span>,</p>
    <p>Your password was reset.<br/>
    Your new password is: <span th:text="${newPassword}"></span></p>
    <p>Shanoir will ask you to change it on next connection.<br/>
    Please take care that password policy changes for security reasons. Your password must now contain at least 8 characters and must contain at least 1 numerical digit, 1 lower case character, 1 upper case character and 1 special character.</p>
    <p>Regards,<br/>
    Shanoir administrator</p>
</body>
</html>