<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <p>Dear <span th:text="${firstname}"></span> <span th:text="${lastname}"></span>,</p>
    <p>Your account (on <a th:href="${serverAddress}">Shanoir</a>) will expire on <b><span th:text="${expirationDate}"></span></b>.</p>
    <p>If you need to extend the validity of your account, request an extension on Shanoir home page.</p>
    <p>Regards,<br/>
    Shanoir administrator</p>
</body>
</html>