<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <p>Dear <span th:text="${firstname}"></span> <span th:text="${lastname}"></span>,</p>
    <p>Your account has been created.</p>
    <br/>
    <p><b>Please wait until you have received an email, that your account has been validated by the system administrators to connect.</b></p>
    <p>Sorry for the delay, but please be aware that we are doing this manual check for security reasons.</p>
    <br/>
    <p>After the validation you can go to <a th:href="${serverAddress}">Shanoir</a> and login with:</p>
    <ul>
    <li>Login: <span th:text="${username}"></span></li>
    <li>Password: <span th:text="${password}"></span></li>
    </ul>
    <p>Regards,<br/>
    Shanoir administrator</p>
</body>
</html>