.invocation-gui-parameter {
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
}

input {
	flex-grow: 1;
}

.invocation-gui-parameter > label, input, button {
	margin: 5px;
}
.invocation-gui-parameter > input[type="checkbox"] {
	position: absolute;
	left: 10px;
}
.invocation-gui-parameter.parameter-flag > label {
	margin-left: 40px;
}