.invocation-gui-parameter {
	display: flex;
	flex-direction: column;
  
  border: 1px solid var(--color-a);
  margin: 10px;
  padding: 10px;
}
/*
.invocation-gui-parameter .description {
  display: none;
}

.invocation-gui-parameter:hover .description {
  display: flex;
}*/

.invocation-gui-parameter .parameter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

input {
	flex-grow: 1;
}

.invocation-gui-parameter label, input, button {
	margin: 5px;
}
.invocation-gui-parameter input[type="checkbox"] {
	position: absolute;
	left: 40px;
}
.invocation-gui-parameter.parameter-flag label {
	margin-left: 25px;
  margin-top: 8px;
}

.invocation-gui-parameter.parameter-flag label, .invocation-gui-parameter.parameter-flag input {
  cursor: pointer;
}

/*.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}*/