<div class="content-component">
    <form *ngIf="manufModelForm" [formGroup]="manufModelForm" class="max-content" novalidate>
		<div class="layout">
			<span [ngSwitch]="mode">
				<ng-template [ngSwitchCase]="'view'"> 
					<h2 class="header command-zone"i18n="View manufModel|Title@@manufModelDetailViewTitle">Details on manufacturer model</h2>
				</ng-template>
				<ng-template [ngSwitchCase]="'edit'"> 
					<h2 class="header command-zone"i18n="Edit manufModel|Title@@manufModelDetailEditTitle">Edit manufacturer model</h2>
				</ng-template>
				<ng-template [ngSwitchCase]="'create'"> 
					<h2 class="header command-zone"i18n="Create manufModel|Title@@manufModelDetailCreateTitle">Create manufacturer model</h2>
				</ng-template>
			</span>
			<fieldset>
				<ol>
                    <li class="required">
                        <label i18n="ManufModel detail|Modality type label@@manufModelDetailModalityType" class="required-label">Modality type</label> 
                        <span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'"> 
								{{datasetModalityTypeEnumValue}}
							</ng-template>
							<ng-template ngSwitchDefault> 
								<select id="datasetModalityType" required formControlName="datasetModalityType" [(ngModel)]="manufModel.datasetModalityType" (change)="onSelect($event.target.value)">
									<option *ngFor="let datasetModalityType of datasetModalityTypes" [value]="datasetModalityType.key">{{datasetModalityType.value}}</option>
								</select>
								<label *ngIf="formErrors.datasetModalityType.includes('required')" class="form-validation-alert" i18n="ManufModel detail|Modality required error@@manufModelDetailModalityRequiredError">Modality type is required!</label>
							</ng-template>
						</span>
                    </li>
					<li class="required">
						<label i18n="ManufModel detail|Manufacturer label@@manufModelDetailManuf" class="required-label">Manufacturer</label> 
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'"> 
								<a [routerLink]="['/manufacturer']" [queryParams]="{mode: 'view', id: manufModel?.manufacturer?.id}">
									{{manufModel.manufacturer?.name}}
								</a>
							</ng-template>
							<ng-template ngSwitchDefault> 
								<select id="name" required formControlName="manufacturer" [(ngModel)]="manufModel.manufacturer">
									<option *ngFor="let manufacturer of manufs" [ngValue]="manufacturer">{{manufacturer.name}}</option>
								</select>
								<button i18n="ManufModel detail|Create manuf label@@manufModelDetailCreateManuf" (click)="manufModal.show()">
									<img [src]="addIconPath"/>
									new manufacturer
								</button>
							</ng-template>
						</span>
					</li>
					<li class="required">
						<label i18n="ManufModel detail|Model name label@@manufModelDetailName" class="required-label">Model name</label> 
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'"> 
								{{manufModel.name}}
							</ng-template>
							<ng-template ngSwitchDefault> 
								<input type="text" id="name" formControlName="name" [(ngModel)]="manufModel.name"/>
								<label *ngIf="formErrors.name.includes('required')" class="form-validation-alert" i18n="ManufModel detail|Name required error@@manufModelDetailNameRequiredError">Name is required!</label>
								<label *ngIf="formErrors.name.includes('length')" class="form-validation-alert" i18n="ManufModel detail|Name length error@@manufModelDetailNameLengthError">Name length must be between 2 and 200!</label>
								<label *ngIf="isNameUnique==false" class="form-validation-alert" i18n="ManufModel detail|Name unique error@@manufModelDetailNameUniqueError">Name should be unique!</label>
							</ng-template>
						</span>
					</li>
                    <li class="required" *ngIf="isMR">
						<label i18n="ManufModel detail|Magnetic field label@@manufModelDetailMagneticField" class="required-label">Magnetic field</label> 
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'"> 
								{{manufModel.magneticField}}
							</ng-template>
							<ng-template ngSwitchDefault> 
								<input type="text" pattern="[0-9]+([.][0-9]+)?" id="magneticField" formControlName="magneticField" [(ngModel)]="manufModel.magneticField"/>
                            	T
								<label *ngIf="formErrors.magneticField.includes('required')" class="form-validation-alert" i18n="ManufModel detail|Magnetic field required error@@manufModelDetailMagneticFieldRequiredError">Magnetic field is required!</label>
								<label *ngIf="formErrors.magneticField.includes('pattern')" class="form-validation-alert" i18n="ManufModel detail|Magnetic field pattern error@@manufModelDetailMagneticFieldPatternError">Magnetic field should be a number!</label>
							</ng-template>
						</span>
					</li>
				</ol>
			</fieldset>
			<form-footer
				[state]="footerState"
				(update)="update()"
				(create)="create()"
				(edit)="edit()"
				(back)="back()"
			></form-footer>
        </div>
    </form>
</div>

<app-modal modalDialogId="manufModal" #manufModal>
    <div class="app-modal-body">
      <manufacturer-detail [mode]="'create'" (closing)="closePopin($event)"></manufacturer-detail>
    </div>
</app-modal>