.modality { margin-bottom: 0; }
    .modality span { color: var(--color-a); font-weight: bold; }
.warning { color: var(--color-b); }

ul li { list-style: initial; margin-left: 40px; }
li > ul > li { list-style: circle; }
li > ul > li:first-child { margin-top: 8px; }