:host() { display: block; border: 1px solid var(--grey); border-radius: 2px; padding: 5px 10px; position: relative; }
checkbox { transform: scale(0.8); margin-right: 7px; vertical-align: -4px; }

.title { margin-bottom: 10px; font-size: 20px; color: firebrick; }

.filter-frame { position: relative; display: inline-block; margin-bottom: 10px; }
.filter-frame .clear { position: absolute; top: 2px; right: 0px; color: #757575; }
.filter-frame input { width: calc(200px - 65px); padding-right: 65px; }

.clear-selection { margin-bottom: 10px; }

.clickable { cursor: pointer; }

.non-visible { visibility: hidden; }
.min-list { max-height: 380px; overflow-y: auto; overflow-x: hidden; }

.min-list, .selected-list { margin: 0 0 0 -2px; }
.selected-list { margin-bottom: 10px; }

.total, .filtered { color: var(--greyer); }
.total { float: right; }
.count { margin-top: 10px; height: 17px; }
.facet-count { margin-left: 8px; color: var(--color-c-light); font-size: 10px; }

.facet { color: var(--color-a); max-width: 135px; display: inline-block; overflow: hidden; text-overflow: ellipsis; vertical-align: -4px; white-space: nowrap; }

.more, .less { color: var(--greyer); margin-left: 1px; }