<form *ngIf="pipeline" [formGroup]="executionForm" (ngSubmit)="onSubmitExecutionForm()">
    <legend>{{pipeline.name}}</legend>
    
    <div>
        <label for="execution_name">Execution Name *</label>
        <input type="text" id="execution_name" formControlName="execution_name" required>
    </div>

    <div *ngFor="let parameter of pipeline.parameters">
        <label for="{{parameter.name}}">{{parameter.name}} {{parameter.isOptional ? '*' : ''}}</label>
        <input [type]="getParameterType(parameter.type)" formControlName="{{parameter.name}}" name="{{parameter.name}}" id="{{parameter.name}}">
    </div>

    <button type="submit">Run</button>
</form>