table { margin-top: 15px; padding: 5px 0; font-weight: normal; border-collapse: collapse; background-color: var(--light-grey); }
th { color: var(--color-a); padding: 10px 5px; font-weight: normal; }
th, td { text-align: left; }
td { padding: 3px 5px; }