:host() { position: relative; padding: 0 4px; cursor: default; margin-top: 1px; margin-bottom: 1px; display: block; }
:host(.selected) > .node .label { background-color: var(--grey); border: 1px solid var(--grey); }
:host(:not(.selected)).clickable-node:hover > .label { color: blue; }
.label { padding: 0 3px; border: 1px solid transparent; }
.node { height: 20px; line-height: 20px; display: inline-block; padding-left: 3px; border-radius: 2px; }
.node > span { display: inline-block; }
.arrow { display: inline-block; width: 11px; cursor: pointer; vertical-align: 1; }
    .arrow i { vertical-align: 0; font-size: 12px; height: 18px; }
.picto { height: 14px; width: 15px; text-align: center; color: var(--color-b);}
checkbox { vertical-align: middle; margin: 0 5px 1px; width: 12px; height: 12px; }
    input[type="text"] { color: var(--very-dark-grey); width: 160px; }
    input[type="checkbox"] { vertical-align: top; height: 15px; }
.clickable { cursor: pointer; }
.button-picto { color: var(--greyer); margin-left: 7px; }
tool-tip { color: var(--greyer); vertical-align: initial; }
