:host() { position: relative; padding: 0 4px; cursor: default; margin: 2px 0 0 18px; display: block; }
:host(.selected) > .node .label { color: blue; }
.node { height: 20px; line-height: 20px; display: inline-block; }
.node > span { display: inline-block; }
.arrow { display: inline-block; width: 11px; cursor: pointer; vertical-align: top; }
    .arrow svg { vertical-align: 0; font-size: 12px; height: 18px; }
.picto { height: 14px; width: 15px; text-align: center; }
checkbox { vertical-align: middle; margin: 0 5px 1px; width: 12px; height: 12px; }
    input[type="text"] { color: var(--very-dark-grey); width: 160px; }
    input[type="checkbox"] { vertical-align: middle; }
.clickable { cursor: pointer; }

svg { vertical-align: -1; }
