<h2 i18n="Execute tool title@@ExecuteToolTitle">Execute</h2>

<pre id="generatedCommand">{{ generatedCommand }}</pre>

<button id="execute" (click)="onExecuteTool()"><i class="fas fa-running"></i> {{ executeToolButton() }}</button>

<ul id="outputLines">
  <li *ngFor="let outputLine of outputLines"><pre [innerHtml]="outputLine"></pre></li>
</ul>

<button id="download" *ngIf="processFinished" (click)="onDownloadResults()" i18n="Download results button@@downloadResultsButton"><i class="fas fa-download"></i> Download results</button>