:host() { vertical-align: top; display: inline-block; margin: 0 5px; color: var(--color-b); }
.help { border-radius: 50px; font-size: 12px; cursor: pointer; text-align: center; vertical-align: middle; position: absolute; }
.help.opened { }
.help .content { position: absolute; width: 250px; font-size: 12px; background-color: lightgoldenrodyellow; padding: 6px 12px; box-shadow: 0 0 var(--shadow-height) 0 var(--shadow-color); color: var(--dark-grey); top: 14px; left: 16px; font-weight: normal; text-align: left; z-index: 10; }
