:host() { vertical-align: top; display: inline-block; color: var(--color-b); }
.help { font-size: 12px; text-align: center; padding: 0px 10px; cursor: pointer; }
.help .content { position: absolute; width: 250px; font-size: 12px; background-color: lightgoldenrodyellow; padding: 6px 12px; box-shadow: 0 0 var(--shadow-height) 0 var(--shadow-color); color: var(--dark-grey); top: 14px; left: 16px; font-weight: normal; text-align: left; z-index: 10; }
