:host { color: var(--dark-grey); position: absolute; top: -16px; z-index: 10; }
:host.opened { z-index: 20; }
li { display: inline-block; padding: 0; height: 20px; min-height: 0; }
li .label { cursor: pointer; display: flex; margin: 0; text-decoration: none; padding: 0px 5px; }
li .label:hover { cursor: pointer; color: var(--very-light-grey); background-color: var(--color-a); }

.sub-content { overflow: hidden; position: absolute; padding: 0; z-index: -1; margin: 0; top: 0; }
.sub-sub-content { border: 1px solid var(--grey); background-color: var(--very-light-grey); }

.hidden { display: none !important; }

.sub-content-parent { overflow: hidden; }

.plus { padding: 0 5px; text-align: center; font-size: 10px; cursor: pointer; color: var(--color-b-light2); }

:host::ng-deep menu-item:first-child { margin-top: 0 !important; }
:host::ng-deep menu-item:last-child { margin-bottom: 0 !important; }

.slide-right {
    animation: slideRight 500ms ease-in-out both;
}

@keyframes slideRight {
    from { max-width: 0; }
    to   { max-width: 300px; }
}