.row { display: flex; }
.left { flex: 300px; }
.right { padding-left: 50px; width: 100%; }

h2 { margin-bottom: 40px; }
solr-text-search { margin:10px 0 30px; }
solr-criterion, .dates { margin-bottom: 20px; background-color: beige; max-width: 200px; }
.dates { display: block; border: 1px solid var(--grey); border-radius: 2px; padding: 5px 10px 14px; }
.dates .title { margin-bottom: 10px; font-size: 20px; color: firebrick; }
.date-from { margin-bottom: 7px; }
.dates datepicker { float: right; }
.dates label { display: inline-block; }
.left-title { vertical-align: sub; }

.non-visible { visibility: hidden; }
.selections { margin: 5px 0 20px; }
.selection { border: 1px solid var(--grey); border-radius: 10px; padding: 0 5px; display: inline-block; margin: 2px 2px; background-color: palegoldenrod; }
.selection i { margin-right: 3px; }
.clickable { cursor: pointer; }

.reset { margin: -38px 0 38px; text-align: left; }