fieldset { min-width: auto; }
.tree { margin: 0 50px 20px -15px; display: inline-block; vertical-align: top; }

.data-preview { display: inline-block; vertical-align: top; margin: 0 0 20px 0; overflow: hidden; border: 1px solid var(--grey); border-radius: 2px; }
    .data-preview[hidden] { display: none; }
    .data-preview td { padding: 3px 10px; }
    .data-preview table { margin: 10px; }
    .data-preview h3 { margin: 0; padding: 7px 20px;font-weight: normal; font-size: 15px;}

papaya { margin: auto 20px 15px; }
.warning svg { margin-right: 7px; color: var(--color-a); }
.error { padding-left: 20px; color: var(--color-error); }

.modality { margin-bottom: 0; }
    .modality span { color: var(--color-a); font-weight: bold; }