<div class="content-component">
	<form [formGroup]="acqEquipDetailForm" class="max-content" novalidate>
		<div class="layout">
			<span class="right-col" [ngSwitch]="mode">
				<ng-template [ngSwitchCase]="'view'"> 
					<div class="header command-zone" i18n="View acqEquip|Title">Details on acquisition equipment</div>
				</ng-template>
				<ng-template [ngSwitchCase]="'edit'"> 
					<div class="header command-zone" i18n="Edit acqEquip|Title">Edit acquisition equipment</div>
				</ng-template>
				<ng-template [ngSwitchCase]="'create'"> 
					<div class="header command-zone" i18n="Create acqEquip|Title">Create acquisition equipment</div>
				</ng-template>
			</span>
			<fieldset>
				<ol>
					<label *ngIf="isModelNumberUnique==false" class="form-validation-alert" i18n="Edit center|ModelNumberUniqueError label">This equipment (same Manufacturer model and same serial number) already exists!</label>
					<li *ngIf="mode=='view'">
						<label i18n="AcqEquip detail|Manufacturer label">Manufacturer</label>
						<span class="right-col">
							<!--<a [routerLink]="['/manufModelDetail']">-->
								{{acqEquip.manufacturerModel?.manufacturer?.name}}
							<!--</a>-->
						</span>
					</li>
					<li class="required">
						<label i18n="AcqEquip detail|Manufacturer model label" class="required-label">Manufacturer model</label>
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'"> 
								<!--<a [routerLink]="['/manufModelDetail']">-->
									{{acqEquip.manufacturerModel | manufModelLabel}}
								<!--</a>-->
							</ng-template>
							<ng-template ngSwitchDefault> 
								<select id="manufModel" required formControlName="manufacturerModel" [(ngModel)]="acqEquip.manufacturerModel">
									<option *ngFor="let manufacturerModel of manufModels" [ngValue]="manufacturerModel">{{manufacturerModel | manufModelLabel}}</option>
								</select>
								<!--<a i18n="AcqEquip detail|Create new model label" [routerLink] = "['/manufModelDetail']" [queryParams]="{mode: 'create'}">Create new manufacturer model</a>-->
								<button i18n="AcqEquip detail|Create new model label" (click)="manufModelModal.show()">
									<img [src]="addIconPath"/>
									new manufacturer model
								</button>
								<label *ngIf="formErrors.manufacturerModel.includes('required')" class="form-validation-alert" i18n="AcqEquip detail|ManufModelRequiredError label">Manufacturer model is required!</label>
							</ng-template>
						</span>
					</li>
					<li *ngIf="mode=='view'">
						<label i18n="AcqEquip detail|Model modality label">Model modality</label>
						<span class="right-col">
							{{datasetModalityTypeEnumValue}}
						</span>
					</li>
					<li class="required">
						<label i18n="AcqEquip detail|Center label" class="required-label">Center</label>
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'"> 
								{{acqEquip.center?.name}}
							</ng-template>
							<ng-template ngSwitchDefault> 
								<select id="center" required formControlName="center" [(ngModel)]="acqEquip.center">
									<option *ngFor="let center of centers" [ngValue]="center">{{center.name}}</option>
								</select>
								<label *ngIf="formErrors.center.includes('required')" class="form-validation-alert" i18n="AcqEquip detail|CenterRequiredError label">Center is required!</label>
								<!--<a i18n="AcqEquip detail|Center details label" [routerLink] = "['/detailCenter']">details</a>-->
							</ng-template>
						</span>
					</li>
					<li>
						<label i18n="AcqEquip detail|Serial number label">Serial Number</label>
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'"> 
								{{acqEquip.serialNumber}}
							</ng-template>
							<ng-template ngSwitchDefault> 
								<input type="text" id="serialNumber" formControlName="serialNumber" [(ngModel)]="acqEquip.serialNumber"/>
							</ng-template>
						</span>
					</li>
				</ol>
			</fieldset>
			<div class="footer command-zone">
				<span [ngSwitch]="mode">
					<button i18n="View acqEquip|BackButton label" class="Button" (click)="back()">Back</button>	
					<ng-template [ngSwitchCase]="'view'" *ngIf="canModify"> 
						<button type="submit" i18n="View acqEquip|EditButton label" (click)="edit()" class="Button">Edit</button>
					</ng-template>
					<ng-template [ngSwitchCase]="'edit'" *ngIf="canModify"> 
						<button type="submit" i18n="Edit acqEquip|UpdateButton label" (click)="update()" class="Button" [disabled]="!acqEquipDetailForm.valid">Update</button>
					</ng-template>
					<ng-template [ngSwitchCase]="'create'" *ngIf="canModify"> 
						<button type="submit" i18n="Edit acqEquip|CreateButton label" (click)="create()" class="Button" [disabled]="!acqEquipDetailForm.valid">Create</button>
					</ng-template>
				</span>
			</div>
		</div>
	</form>
</div>

<app-modal #manufModelModal>
    <div class="app-modal-body">
      <manufModelDetail [modeFromAcqEquip]="'create'" (closing)="closePopin($event)"></manufModelDetail>
    </div>
</app-modal>