<div class="cell">
    <form #window class="window" [formGroup]="form">
        <h2 class="header">Download Datasets</h2>
        <fieldset class="body">
            <ol>
                <li>
                    <label>Dataset files format</label>
                    <span class="right-col">
                        <select-box formControlName="format" [options]="formatOptions"></select-box>
                    </span>
                </li>
                <li *ngIf="format == 'nii'">
                <label>Dataset files format</label>
                <span class="right-col">
                    <select-box formControlName="converter" [options]="niftiConverters"></select-box>
                </span>
                </li>
            </ol>
        </fieldset>
        <div class="footer">
            <button type="button" type="button" (click)="downloadNow()" class="alt left-icon" [disabled]="form.dirty && !form.valid">
                <i class="fas fa-download"></i>Download now
            </button>
            <button type="button" (click)="cancel()">Cancel</button>
        </div>
    </form>
</div>
