<div class="cell">
    <form #window class="window" [formGroup]="form">
        <h2 class="header">Download Datasets</h2>
        @if (loading) {
            <div class="loading-msg">
                <i class="fas fa-cog fa-spin"></i>
            </div>
        }
        @if (totalSize) {
            <div class="left-icon msg">
                <i class="fa-solid fa-circle-exclamation"></i>
                <b>Total estimated size : {{ totalSize | size }}</b>
                <br />
                You will download the whole study, make sure you have enough space available on your disk.
            </div>
        }
        <fieldset class="body" [disabled]="loading">
            <ol>
                @if (hasDicom) {
                    <li>
                        <label>Dataset files format</label>
                        <span class="right-col">
                            <select-box formControlName="format" [options]="formatOptions"></select-box>
                        </span>
                    </li>
                }
                @if (hasDicom && form.get("format")?.value == "nii") {
                    <li>
                        <label>Nifti converter</label>
                        <span class="right-col">
                            <select-box formControlName="converter" [options]="niftiConverters"></select-box>
                        </span>
                    </li>
                }
                @if (winOs) {
                    <li>
                        <label>
                            Short paths
                            <tool-tip>
                                Windows cannot unzip files to a path longer than 260 characters. If you encounter this
                                problem while trying to download and/or unzip files, you may try this option (and / or
                                choose a target directory with a shorter path).
                            </tool-tip>
                        </label>
                        <span class="right-col">
                            <checkbox formControlName="shortPath"></checkbox>
                        </span>
                    </li>
                }
                <li>
                    <label>Unzip datasets (slower)</label>
                    <span class="right-col">
                        <checkbox formControlName="unzip"></checkbox>
                        @if (form.get("unzip")?.value) {
                            <span class="warning">
                                <i class="fas fa-exclamation-triangle"></i>
                                The unzipping will run on your computer
                            </span>
                        }
                    </span>
                </li>
            </ol>
        </fieldset>
        <fieldset class="body" disabled="loading">
            <div class="format-preview">
                <node label="download_folder" awesome="fas fa-folder" [deploy]="true" [clickable]="false">
                    <ng-template #datasetFileNode>
                        @if (!form.get("unzip")?.value) {
                            <node
                                label="dataset"
                                awesome="fas fa-file-zipper"
                                [deploy]="true"
                                [clickable]="false"></node>
                        }
                        @if (form.get("unzip")?.value) {
                            <node label="ds123.dcm" awesome="fas fa-file" [deploy]="true" [clickable]="false"></node>
                        }
                    </ng-template>
                    <ng-template #datasetNode>
                        @if (form.get("datasetFolders")?.value) {
                            <node label="dataset" awesome="fas fa-folder" [deploy]="true" [clickable]="false">
                                <ng-template [ngTemplateOutlet]="datasetFileNode"></ng-template>
                            </node>
                        }
                        @if (!form.get("datasetFolders")?.value) {
                            <ng-template [ngTemplateOutlet]="datasetFileNode"></ng-template>
                        }
                    </ng-template>
                    <ng-template #acquisitionNode>
                        @if (form.get("acquisitionFolders")?.value) {
                            <node label="acquisition" awesome="fas fa-folder" [deploy]="true" [clickable]="false">
                                <ng-template [ngTemplateOutlet]="datasetNode"></ng-template>
                            </node>
                        }
                        @if (!form.get("acquisitionFolders")?.value) {
                            <ng-template [ngTemplateOutlet]="datasetNode"></ng-template>
                        }
                    </ng-template>
                    <ng-template #examinationNode>
                        @if (form.get("examinationFolders")?.value) {
                            <node label="examination" awesome="fas fa-folder" [deploy]="true" [clickable]="false">
                                <ng-template [ngTemplateOutlet]="acquisitionNode"></ng-template>
                            </node>
                        }
                        @if (!form.get("examinationFolders")?.value) {
                            <ng-template [ngTemplateOutlet]="acquisitionNode"></ng-template>
                        }
                    </ng-template>
                    <ng-template #subjectNode>
                        @if (form.get("subjectFolders")?.value) {
                            <node label="subject" awesome="fas fa-folder" [deploy]="true" [clickable]="false">
                                <ng-template [ngTemplateOutlet]="examinationNode"></ng-template>
                            </node>
                        }
                        @if (!form.get("subjectFolders")?.value) {
                            <ng-template [ngTemplateOutlet]="examinationNode"></ng-template>
                        }
                    </ng-template>

                    <ng-template [ngTemplateOutlet]="subjectNode"></ng-template>
                </node>
            </div>
            <legend>Folders structure</legend>
            <ol>
                <li>
                    <label>Subject folders</label>
                    <span class="right-col">
                        <checkbox formControlName="subjectFolders"></checkbox>
                    </span>
                </li>
                <li>
                    <label>Examination folders</label>
                    <span class="right-col">
                        <checkbox formControlName="examinationFolders"></checkbox>
                    </span>
                </li>
                <li>
                    <label>Acquisition folders</label>
                    <span class="right-col">
                        <checkbox formControlName="acquisitionFolders"></checkbox>
                    </span>
                </li>
                @if (form.get("unzip")?.value) {
                    <li>
                        <label>Dataset folders</label>
                        <span class="right-col">
                            <checkbox formControlName="datasetFolders"></checkbox>
                        </span>
                    </li>
                }
            </ol>
        </fieldset>
        <div class="footer">
            <button
                type="button"
                type="button"
                (click)="downloadNow()"
                class="alt left-icon"
                [disabled]="(form.dirty && !form.valid) || !loaded">
                <i class="fas fa-download"></i>
                Download now
            </button>
            <button type="button" (click)="cancel()">Cancel</button>
        </div>
    </form>
</div>
