:host { display: table; background-color: var(--color-overlay); position: fixed; top: 0; bottom: 0; left: 0; right: 0; height: 100%; width: 100%; z-index: 10000; 
    vertical-align: middle; text-align: center; }
.cell { display: table-cell; vertical-align: middle; text-align: center; }
.window { display: inline-block; background-color: var(--very-light-grey); border-radius: 2px; vertical-align: middle; padding: 15px 20px; }

.body { width: 100%; text-align: left; margin-top: 20px; position: relative; }
.footer { margin-top: 20px; }
input[type="number"] { width: 52px; }
.warning { margin-left: 10px; color: var(--color-error); vertical-align: inherit; }
.warning i { margin-right: 2px; }

.format-preview { position: absolute; top: 0; right: 0; width: 220px; }