<h1>Import from Bruker</h1>

 
<import-bruker-file (uploadBrukerFileReady)="onUploadBrukerFile($event)" [enabled]="importBrukerFileEnabled" [tab_open]="importBrukerFileOpen"></import-bruker-file>
<!--  <select-series-bruker (selectSeriesReady)="onSelectSeries($event)" [enabled]="selectSeriesEnabled" [tab_open]="selectSeriesOpen"></select-series-bruker>
<set-clinical-context-bruker (setClinicalContextReady)="onSetClinicalContext($event)" [enabled]="setClinicalContextEnabled" [tab_open]="setClinicalContextOpen"></set-clinical-context-bruker>
-->
