<h2>Import from Bruker</h2>
<form [@preventInitialChildAnimations]>

    <bruker-upload
        class="step-block"
        [open]="opened == 'dicom'"
        [disabled]="false"
        [lastEnabled]="lastEnabled == 'dicom'"
        (validityChange)="dicomValid=$event"
        (inMemoryExtracted)="onFilesExtracted($event)" 
        (archiveUploaded)="onArchiveUploaded($event)"
        (headerClick)="toggle('dicom')">
    </bruker-upload>

    <select-series
        class="step-block"
        [open]="opened == 'series'"
        [disabled]="!seriesEnabled"
        [lastEnabled]="lastEnabled == 'series'"
        (validityChange)="seriesValid=$event"
        [patients]="importJob?.patients"
        [workFolder]="importJob?.workFolder"
        [dataFiles]="extracted" 
        (patientsChange)="onPatientsChange($event)"
        (headerClick)="toggle('series')">
    </select-series>

    <animal-clinical-context
        class="step-block"
        [open]="opened == 'context'"
        [disabled]="!contextEnabled"
        [lastEnabled]="lastEnabled == 'context'"
        (validityChange)="contextValid=$event"
        [patient]="patient" 
        (contextChange)="onContextChange($event)" 
        [examinationComment]="comment"
        (headerClick)="toggle('context')">
    </animal-clinical-context>
    

    <div class="step-block" [class.active]="true">
        <div class="header command-zone" [class.disabled]="!isValid()" (click)="isValid() ? toggle('final') : null">4. Import the data</div>
        <div *ngIf="isValid() && opened == 'final'" class="step last" [@slideDown]>
            <button [disabled]="importing" (click)="startImportJob($event)">Import now</button>
            <img *ngIf="importing" [src]="ImagesUrlUtil.LOADER_IMAGE_PATH"/>
        </div>
    </div>

</form>