/******************/
/* Header component */
/******************/

.header-component { background-color: var(--color-a); height: 54px; }
	.header-component .logo { margin: 10px; float: left; }
		.header-component .logo img { height: 32px; }
	.header-component .logout { margin: 10px; float: right; }
		.header-component .logout button { color: var(--color-a); background-color: var(--very-light-grey); border-color: var(--very-light-grey); }