/* .study-node ::ng-deep .picto { color: maroon ; }
.examination-node ::ng-deep .picto { color: mediumblue ; }
.acquisition-node ::ng-deep .picto { color: orangered ; }
.dataset-node ::ng-deep .picto { color: pink ; } */