<h2 i18n="Manage subjectTherapies|Title@@subjectTherapiesListTitle">Manage subject therapies</h2>

 <div [ngSwitch]="mode">
		<ng-template [ngSwitchCase]="'edit'" *ngIf="canModify">
			<button *ngIf="toggleFormST==false" (click)="toggleSubjectTherapyForm()">Add a therapy</button>
		</ng-template>
		<ng-template [ngSwitchCase]="'create'" *ngIf="canModify">
			<button *ngIf="toggleFormST==false" (click)="toggleSubjectTherapyForm()">Add a therapy</button>
		</ng-template>
	</div>
    
    <div>
    	<subject-therapy-form [preclinicalSubject]="preclinicalSubject" [createSTMode]="createSTMode"  
			[toggleForm]="toggleFormST" [subTherapySelected]="therapySelected" (onCreated)="refreshList($event)" (onCancel)="refreshDisplay($event)"></subject-therapy-form>
	</div>	
	
<shanoir-table  #subjectTherapiesTable
    [getPage]="getPage.bind(this)" 
    [columnDefs]="columnDefs" 
    [customActionDefs]="customActionDefs" 
    (rowClick)="onRowClick($event)">
</shanoir-table> 
