<p>Please choose one of the pipelines available :</p>
<hr>
<div class="row">
    <div class="pipeline-list">
        <p class="category-label">Category label</p>
        <hr>
        <div class="pipelines">
            <app-pipeline *ngFor="let pipeline of pipelines" [pipeline]="pipeline" (click)="selectPipeline(pipeline)"></app-pipeline>
        </div>
    </div>
    <div class="pipeline-description">
        <div *ngIf="selectedPipeline else selectPipeLineMessage">
            <h3>Pipeline description</h3>
            <hr>
            <h3>Name : </h3>
            <p>{{selectedPipeline.name}}</p>
            <h3>Description : </h3>
            <p>{{selectedPipeline.description}}</p>
            <h3>Can Execute :</h3>
            <p>{{selectedPipeline.canExecute ? 'Yes':'No'}}</p>
            <hr>
            <h3>Parameters : </h3>
            <ul>
                <li *ngFor="let parameter of selectedPipeline.parameters" class="parameter">
                    <p><strong>{{parameter.name}}</strong> : {{parameter.description}}</p>
                    <p>Optional : {{parameter.isOptional ? 'Yes' : 'No' }}</p>
                </li>
            </ul>
            <hr>
            <button class="execute" type="button" (click)="choosePipeLine()">Run this pipeline</button>
        </div>
        <ng-template #selectPipeLineMessage>
            <p *ngIf="descriptionLoading">Loading...</p>
            <div *ngIf="!descriptionLoading">
                <h3>Pipeline description : </h3>
                <hr>
                <p class="warning"><i class="fas fa-exclamation-triangle"></i>Please select a pipeline to see it's description!</p>
            </div>
        </ng-template>
    </div>
</div>