.row { display: flex; }
.pipeline-list{flex: 2}
.pipeline-description{
    flex:1;
    width: 340px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    background-color: #fff;
    padding: 20px;
}
.category-label{
    font-size: 14px;
    font-weight: 700;
}
.parameter{
    padding-left: 20px;
    position: relative;
}
.parameter::before{
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-a);
}
.execute{
    margin: 10px 0;
}
.warning i { margin-right: 7px; color: var(--color-a); }
