<h2 i18n="Manage acquisition equipments|Title@@acqEqptListTitle">Manage acquisition equipments</h2>

<shanoir-table 
    [getPage]="getPage.bind(this)" 
    [columnDefs]="columnDefs" 
    [customActionDefs]="customActionDefs" 
    (rowClick)="onRowClick($event)">
</shanoir-table> 

<!-- create coil popin -->
<app-modal modalDialogId="coilModal" #coilModal>
    <div class="app-modal-body">
        <coil [mode]="'create'" [acqEquip]="selectedAcqEquip"  (closing)="closePopin()"></coil>
    </div>
</app-modal>