<div class="CenterListComponent">
    <div class="title">
        <h2 i18n="Manage centers|Title@@centerListTitle">Manage centers</h2>
        <!-- hr/ -->
    </div>

    <div *ngIf="deletionInternalError" class="error-message">
        <label class="error-message" i18n="Manage centers|Deletion error@@centerListDeletionError">An error occured. This center cannot be deleted. Please contact an administrator.</label>
    </div>
    <div *ngIf="isLinkedWithEqpts || isLinkedWithStudies" class="error-message">
        <label class="error-message" i18n="Manage centers|Deletion error due to link@@centerListLinkDeletionError">This center cannot be deleted. It is associated with:</label>
        <ul>
            <li *ngIf="isLinkedWithEqpts">
                <label i18n="Manage centers|Linked with eqpts error@@centerListLinkedWithEqptsError">acquisition equipment(s)</label>
            </li>
            <li *ngIf="isLinkedWithStudies">
                <label i18n="Manage centers|Linked with studies error@@centerListLinkedWithStudiesError">study(ies)</label>
            </li>
        </ul>
    </div>
    <shanoir-table [items]="centers" [columnDefs]="columnDefs" [customActionDefs]="customActionDefs" [loading]="loading" [rowClickAction]="rowClickAction"></shanoir-table>

    <!-- create acq. equip. popin -->
    <app-modal modalDialogId="acqEqptModal" #acqEqptModal>
        <div class="app-modal-body">
            <acquisition-equipment-detail [mode]="'create'" (closing)="closePopin()"></acquisition-equipment-detail>
        </div>
    </app-modal>
</div>