<div class="content-component">
	<form *ngIf="form" [formGroup]="form" class="max-content" novalidate>
		<div class="layout">
			<span [ngSwitch]="mode">
				<ng-template [ngSwitchCase]="'view'">
					<h2 class="header command-zone"i18n="View coil|Title@@coilDetailViewTitle">Details on coil</h2>
				</ng-template>
				<ng-template [ngSwitchCase]="'edit'">
					<h2 class="header command-zone"i18n="Edit coil|Title@@coilDetailEditTitle">Edit coil</h2>
				</ng-template>
				<ng-template [ngSwitchCase]="'create'">
					<h2 class="header command-zone"i18n="Create coil|Title@@coilDetailCreateTitle">Create coil</h2>
				</ng-template>
			</span>
			<fieldset>
				<ol>
					<li>
						<label i18n="Coil detail|Coil name label@@examinationDetailName" class="required-label">Name</label>
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'">	
								{{coil.name}}
							</ng-template>
							<ng-template ngSwitchDefault>
								<input type="text" id="name" required formControlName="name" [(ngModel)]="coil.name" />
							</ng-template>
						</span>
					</li>
					<li>
						<label i18n="Coil detail|Serial Number label@@coilDetailSerialNumber">Serial Number</label>
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'">
								{{coil.serialNumber}}
							</ng-template>
							<ng-template ngSwitchDefault>
								<input type="text" id="serialNb" formControlName="serialNb" [(ngModel)]="coil.serialNumber" />
							</ng-template>
						</span>
					</li>
					<li>
						<label i18n="Coil detail|Coil Type label@@CoilDetailCoilType" class="required-label">Coil Type</label>
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'">
								{{coil.coilType}}
							</ng-template> 
								<ng-template ngSwitchDefault>
								<select id="coilType" required formControlName="coilType" [(ngModel)]="coil.coilType">
									<option *ngFor="let coilType of coilTypes" [value]="coilType">{{coilType}}</option>
								</select>
							</ng-template>
						</span>
					</li>
					<li>
						<label i18n="Coil detail|Coil date label@@CoilDetailNbChannels">Number of channels</label>
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'">
								{{coil.numberOfChannels}} 
							</ng-template>
							<ng-template ngSwitchDefault>
								<input type="text" id="nbChannel" formControlName="nbChannel" [(ngModel)]="coil.numberOfChannels" />
							</ng-template>
						</span>
					</li>
					<li>
						<label i18n="Coil detail|Center label@@coilDetailCenter" class="required-label">Center</label>
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'">
								<a [routerLink]="['/center']" [queryParams]="{mode: 'view', id: coil.center?.id}">
									{{coil.center?.name}}
								</a> 
							</ng-template>
							<ng-template ngSwitchDefault>
								<select id="center" formControlName="center" [(ngModel)]="coil.center"  (change)="updateManufList($event)" [compareWith]="compareEntities">
									<option *ngFor="let center of centers" [ngValue]="center">{{center?.name}}</option>
								</select>
								<button i18n="Coil detail|Create new center label@@coilDetailNewCenter" (click)="openNewCenter()" [disabled]="form.get('center').disabled">
									<i class="fas fa-plus-square"></i>
									new center
								</button>
								<label *ngIf="hasError('center', ['required'])" class="form-validation-alert" i18n="Coil detail|Center required error@@coilDetailCenterRequiredError">Center is required!</label>
							</ng-template>
						</span>
					</li>
					<li>
						<label i18n="Coil detail|Coil acquisition Equipment Model label@@examinationDetailCoilAcquisitionEquipmentModel" class="required-label">Manufacturer Model</label>
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'">
								<a [routerLink]="['/manufacturer-model']" [queryParams]="{mode: 'view', id: coil.manufacturerModel?.id}">
									{{coil.manufacturerModel?.name}}
								</a>
							</ng-template>
							<ng-template ngSwitchDefault>
								<select formControlName="acquiEquipModel" [(ngModel)]="coil.manufacturerModel" [compareWith]="compareEntities">
									<option *ngFor="let manufacturerModel of manufModels" [ngValue]="manufacturerModel">{{manufacturerModel.name}}</option>
								</select>
								<button i18n="Coil detail|Create new model label@@coilDetailNewManufModel" (click)="openNewManufModel()" [disabled]="form.get('acquiEquipModel').disabled">
									<i class="fas fa-plus-square"></i>
									new manufacturer model
								</button>
								<label *ngIf="hasError('manufacturerModel', ['required'])" class="form-validation-alert" i18n="Coil detail|Manufacturer model required error@@coilDetailManufModelRequiredError">Acquisition Equipment model is required!</label>
							</ng-template>
						</span>
					</li> 
				</ol>
			</fieldset>
			<form-footer
				[state]="footerState"
				(save)="save()"
				(edit)="goToEdit()"
				(back)="goBack()"
			></form-footer>
		</div>
	</form>
</div>