:host() { display: block; }
.input-frame { display: inline-block; width: 100%; position: relative; }
.clear { position: absolute; top: 2px; right: 0px; color: #757575; }
.expert-mode { margin-top: 10px; }
.input-frame input { width: calc(100% - 65px); padding-right: 65px; }
.input-frame input.error { border-color: var(--color-error); }
checkbox { vertical-align: -5px; margin-right: 7px; }
.clickable { cursor: pointer; }
.info { color: var(--color-b); margin-left: 7px; }
.info-txt { margin-top: 5px; padding: 10px 12px 1px; background-color: var(--color-b-light); border-radius: 2px; }
.syntax-error { color: var(--color-error); }
input.expert { color: navy; }
toggle-switch { margin-right: 7px; }
span > i { color: var(--grey); }
span.enabled > i { color: darkgreen; }
.italic { font-style: italic; }
code { color: darkmagenta; }
.info-txt a:link { text-decoration: underline; }
.info-txt a { color: blue; }
.info-txt a:visited { color: purple; }