.layout { min-width: 410px; }

.left {
    float: left;
}

.right {
    float: right;
    -webkit-margin-start: 2px;
}

.examination-data { background-color: var(--light-grey); color: var(--color-b); font-size: 20px; font-weight: bold; padding: 10px 15px; }