<div class="content-component">
	<form *ngIf="examination" [formGroup]="examinationForm" class="max-content" novalidate>
		<div class="layout" [ngClass]="{'left': mode=='view'}">
			<span [ngSwitch]="mode">
				<ng-template [ngSwitchCase]="'view'">
					<h2 class="header command-zone"i18n="View examination|Title@@examinationDetailViewTitle">Details on examination</h2>
				</ng-template>
				<ng-template [ngSwitchCase]="'edit'">
					<h2 class="header command-zone"i18n="Edit examination|Title@@examinationDetailEditTitle">Edit examination</h2>
				</ng-template>
				<ng-template [ngSwitchCase]="'create'">
					<h2 class="header command-zone"i18n="Create examination|Title@@examinationDetailCreateTitle">Create examination</h2>
				</ng-template>
			</span>
			<fieldset>
				<ol>
					<li *ngIf="mode != 'create'">
						<label i18n="Examination detail|Id label@@examinationDetailId" class="required-label">Id</label>
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'">
								{{examination.id}}
							</ng-template>
							<ng-template ngSwitchDefault>
								<input type="text" id="id" formControlName="id" [(ngModel)]="examination.id" readonly/>
							</ng-template>
						</span>
					</li>
					<li>
						<label i18n="Examination detail|Research study label@@examinationDetailStudy" class="required-label">Research study</label>
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'">
								<a [routerLink]="['/study/details/', examination.studyId]">
									{{examination.studyName}}
								</a>		
							</ng-template>
							<ng-template ngSwitchDefault>
								<select id="studyId" required formControlName="studyId" [(ngModel)]="examination.studyId">
									<option *ngFor="let study of studies" [ngValue]="study.id">{{study.name}}</option>
								</select>
								<label *ngIf="formErrors.studyId.includes('required')" class="form-validation-alert" i18n="Examination detail|Study required error@@examinationDetailStudyRequiredError">Study is required!</label>
							</ng-template>
						</span>
					</li>
					 <li>
						<label i18n="Examination detail|Examination executive label@@examinationDetailExaminationExecutive">Examination executive</label>
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'">
								{{examination.examinationExecutive?.name}}
							</ng-template>
							<!--<ng-template ngSwitchDefault>
								<select id="examinationExecutive" required formControlName="Examination executive" [(ngModel)]="examination.examinationExecutive">
									<option *ngFor="let examinationExecutive of examinationExecutives" [ngValue]="subject">{{examinationExecutive.name}}</option>
								</select>
							</ng-template>-->
						</span>
					</li> 
					<li>
						<label i18n="Examination detail|Center label@@examinationDetailCenter" class="required-label">Center</label>
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'">
								<a [routerLink]="['/center/details/', examination.centerId]">
									{{examination.centerName}}
								</a>
							</ng-template>
							<ng-template ngSwitchDefault>
								<select id="centerId" required formControlName="centerId" [(ngModel)]="examination.centerId">
									<option *ngFor="let center of centers" [ngValue]="center.id">{{center.name}}</option>
								</select>
								<label *ngIf="formErrors.centerId.includes('required')" class="form-validation-alert" i18n="Examination detail|Center required error@@examinationDetailCenterRequiredError">Center is required!</label>
							</ng-template>
						</span>
					</li>
					<li>
						<label i18n="Examination detail|Subject label@@examinationDetailSubject">Subject</label>
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'">
								{{examination.subject?.name}}
							</ng-template>
						<!-- 	<ng-template ngSwitchDefault>
								<select id="subject" required formControlName="Subject" [(ngModel)]="examination.subject">
									<option *ngFor="let subject of subjects" [ngValue]="subject">{{subject.name}}</option>
								</select>
							</ng-template> -->
						</span>
					</li>
					<li>
						<label i18n="Examination detail|Examination date label@@examinationDetailExaminationDate" class="required-label">Examination date</label>
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'">
								{{examination.examinationDate | date: 'dd/MM/yyyy'}}
							</ng-template>
							<ng-template ngSwitchDefault>
								<my-date-picker id="examinationDate" [options]="myDatePickerOptions" formControlName="examinationDate" [(ngModel)]="examinationDate"
								 (dateChanged)="onDateChanged($event)" (inputFieldChanged)="onInputFieldChanged($event)" [selDate]="selectedDateNormal">
								</my-date-picker>
								<label *ngIf="isDateValid==false" class="form-validation-alert" i18n="Edit examination|Date valid error@@editExaminationDateValidError">Date should be valid! Date format: dd/mm/yyyy</label>
							</ng-template>
						</span>
					</li>
					<li>
						<label i18n="Examination detail|Comment label@@examinationDetailComment">Comment</label>
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'">
								{{examination.comment}}
							</ng-template>
							<ng-template ngSwitchDefault>
								<input type="text" id="comment" formControlName="comment" [(ngModel)]="examination.comment" />
							</ng-template>
						</span>
					</li>
					<li>
						<label i18n="Examination detail|Note label@@examinationDetailNote">Note</label>
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'">
								{{examination.note}}
							</ng-template>
							<ng-template ngSwitchDefault>
								<input type="text" id="note" formControlName="note" [(ngModel)]="examination.note" />
							</ng-template>
						</span>
					</li>
					<li>
						<label i18n="Examination detail|Subject weight label@@examinationDetailSubjectWeight">Subject weight</label>
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'">
								{{examination.subjectWeight}}
							</ng-template>
							<ng-template ngSwitchDefault>
								<input type="text" id="subjectWeight" formControlName="subjectWeight" [(ngModel)]="examination.subjectWeight" />
							</ng-template>

							<!-- <ng-template ngSwitchDefault>
								<select id="measureUnit" required>
									<option value="kg">kg</option>
									<option value="g">g</option>
								</select>
							</ng-template> -->

						</span>
					</li>
					<li>
							<label i18n="Examination detail|Assessments label@@examinationDetailAssessments">Assessments</label>
							<span class="right-col" [ngSwitch]="mode">
								<ng-template [ngSwitchCase]="'view'">
									<!--{{examination.note}}-->
								</ng-template>
								<ng-template ngSwitchDefault>
									<button i18n="Examination detail|Create new Instrument Based Assessment	label@@examinationDetailNewInstrumentBasedAssessment"
									(click)="instAssessmentModal.show()">
										<img [src]="addIconPath"/>
										new Instrument Based Assessment										
									</button>
								</ng-template>
							</span>
						</li>

						<li>
							<label i18n="Examination detail|Attached files label@@examinationDetailAttachedFiles">Attach new files</label>
							<span class="right-col" [ngSwitch]="mode">
								<ng-template [ngSwitchCase]="'view'">
								</ng-template>
								<ng-template ngSwitchDefault>
									
									<button i18n="Examination detail|Attach new files button@@examinationDetailAttachNewFiles"
									(click)="attachNewFilesModal.show()">
										<img [src]="addIconPath"/>
										Attach extra data to existing examinations									
									</button>
								</ng-template>
							</span>
						</li>
				</ol>
			</fieldset>
			<form-footer
				[state]="footerState"
				(update)="update()"
				(create)="create()"
				(edit)="edit()"
				(back)="back()"
			></form-footer>
		</div>
		<div class="layout right" *ngIf="mode=='view'">
			<span class="right-col">
				<div class="examination-data" i18n="Examination data|Title@@examinationDetailDataTitle">Data</div>
			</span>
			<examination-tree *ngIf="examination" [examination]="examination"></examination-tree> 
		</div>
	</form>
</div>

<app-modal modalDialogId="instAssessmentModal" #instAssessmentModal>
		<div class="app-modal-body">
		  <instrument-essessment-detail (closing)="closePopin($event)"></instrument-essessment-detail>
		</div>
</app-modal>

<app-modal *ngIf="examination" modalDialogId="attachNewFilesModal" #attachNewFilesModal>
		<div class="app-modal-body">
		  <upload-extra-data [examination]="examination" [studies]="studies" (closing)="closeAttachedFilePopin($event)"></upload-extra-data>
		</div>
</app-modal>