<div class="content-component">
	<form [formGroup]="examinationForm"class="max-content" novalidate>
		<div class="layout">
			<span>
                <div class="header command-zone" i18n="Create examination|Title@@examinationDetailCreateTitle">Create examination</div>
			</span>
			<fieldset>
				<ol>
					<li>
						<label i18n="Examination detail|Research study label@@examinationDetailStudy" class="required-label">Research study</label>
						<span class="right-col">
                            <!-- <select id="studyId" required formControlName="studyId" [(ngModel)]="examination.studyId">
                                <option *ngFor="let study of studies" [ngValue]="study">{{study.name}}</option>
							</select> -->
							{{examination.studyName}}
						</span>
					</li>
					<li>
						<label i18n="Examination detail|Subject label@@examinationDetailSubject" class="required-label">Subject</label>
						<span class="right-col">
							<!-- <select id="subject" required formControlName="subjectId" [(ngModel)]="examination.subject">
								<option *ngFor="let subject of subjects" [ngValue]="subject">{{subject.name}}</option>
							</select> -->
							{{examination.subjectName}}
						</span>
					</li>
					<li>
						<label i18n="Examination detail|Center label@@examinationDetailCenter" class="required-label">Center</label>
						<span class="right-col">
                            <!-- <select id="centerId" required formControlName="centerId" [(ngModel)]="examination.centerId">
                                <option *ngFor="let center of centers" [ngValue]="center.id">{{center.name}}</option>
							</select> -->
							{{examination.centerName}}
						</span>
					</li>
					<li>
						<label i18n="Examination detail|Examination date label@@examinationDetailExaminationDate" class="required-label">Examination date</label>
						<span class="right-col">
                            <datepicker [(ngModel)]="examination.examinationDate" formControlName="examinationDate"></datepicker>
                            <label *ngIf="!isExaminationDateValid" class="form-validation-alert" i18n="Examination detail|Date valid error@@dateValidError">Date should be valid! Date format: dd/mm/yyyy</label>
                            <label *ngIf="formErrors.examinationDate.includes('required')" class="form-validation-alert" i18n="Examination detail|ExaminationDate required error@@examinationDateRequiredError">Examination date is required!</label>
						</span>
					</li>
					<li>
						<label i18n="Examination detail|Comment label@@examinationDetailComment">Comment</label>
						<span class="right-col">
                            <input type="text" id="comment" [(ngModel)]="examination.comment" [ngModelOptions]="{standalone: true}"/>
						</span>
					</li>
				</ol>
			</fieldset>
			<div class="footer command-zone">
				<span>
					<button i18n="View examination|Back button label@@backButton" class="Button" (click)="back()">Back</button>
                    <button type="submit" i18n="Edit examination|Create button label@@createButton"
                        (click)="create()" class="Button" [disabled]="!examinationForm.valid">Create</button>
				</span>
			</div>
		</div>
	</form>
</div>


