<div class="content-component">
    <form *ngIf="form" [formGroup]="form" class="max-content" novalidate>
		<div class="layout" [ngClass]="{'left': mode=='view'}">
			<span [ngSwitch]="mode">
				<ng-template [ngSwitchCase]="'view'">
					<h2 class="header command-zone"i18n="View examination|Title@@examinationDetailViewTitle">Details on examination</h2>
				</ng-template>
				<ng-template [ngSwitchCase]="'edit'">
					<h2 class="header command-zone"i18n="Edit examination|Title@@examinationDetailEditTitle">Edit examination</h2>
				</ng-template>
				<ng-template [ngSwitchCase]="'create'">
					<h2 class="header command-zone"i18n="Create examination|Title@@examinationDetailCreateTitle">Create examination</h2>
				</ng-template>
			</span>

		<fieldset>
			<ol>
				<li>
					<label i18n="Examination detail|Research study label@@examinationDetailStudy" class="required-label">Research study</label>
					<span class="right-col" [ngSwitch]="mode">
						<ng-template [ngSwitchCase]="'view'">
							<a [routerLink]="['/study/details/', examination.studyId]">
								{{examination.studyName}}
							</a>		
						</ng-template>
						<ng-template ngSwitchDefault>
							<select id="studyId" required formControlName="studyId" [(ngModel)]="examination.studyId">
								<option *ngFor="let study of studies" [ngValue]="study.id">{{study.name}}</option>
							</select>
							<label *ngIf="hasError('studyId', ['required'])" class="form-validation-alert" i18n="Examination detail|Study required error@@examinationDetailStudyRequiredError">Study is required!</label>
						</ng-template>
					</span>
				</li>
				<li>
					<label i18n="Examination detail|Examination executive label@@examinationDetailExaminationExecutive">Examination executive</label>
					<span class="right-col" [ngSwitch]="mode">
						<ng-template [ngSwitchCase]="'view'">
							{{examination.examinationExecutive?.name}}
						</ng-template>
						<!--<ng-template ngSwitchDefault>
							<select id="examinationExecutive" required formControlName="Examination executive" [(ngModel)]="examination.examinationExecutive">
								<option *ngFor="let examinationExecutive of examinationExecutives" [ngValue]="subject">{{examinationExecutive.name}}</option>
							</select>
						</ng-template>-->
					</span>
				</li> 
				<li>
					<label i18n="Examination detail|Center label@@examinationDetailCenter" class="required-label">Center</label>
					<span class="right-col" [ngSwitch]="mode">
						<ng-template [ngSwitchCase]="'view'">
							<a [routerLink]="['/center/details/', examination.centerId]">
								{{examination.centerName}}
							</a>
						</ng-template>
						<ng-template ngSwitchDefault>
							<select id="centerId" required formControlName="centerId" [(ngModel)]="examination.centerId">
								<option *ngFor="let center of centers" [ngValue]="center.id">{{center.name}}</option>
							</select>
							<label *ngIf="hasError('centerId', ['required'])" class="form-validation-alert" i18n="Examination detail|Center required error@@examinationDetailCenterRequiredError">Center is required!</label>
						</ng-template>
					</span>
				</li>
				<li>
					<label i18n="Examination detail|Subject label@@examinationDetailSubject">Subject</label>
					<span class="right-col" [ngSwitch]="mode">
						<ng-template [ngSwitchCase]="'view'">
							<a [routerLink]="['/preclinical-subject']" [queryParams]="{mode: 'view', id: animalSubjectId}">
								{{examination.subject?.name}}
							</a>
						</ng-template>
						<ng-template ngSwitchDefault>
							<div [ngSwitch]="hasStudyCenterData">
								<ng-template [ngSwitchCase]="true">
									{{examination.subjectName}}
								</ng-template>
								<ng-template [ngSwitchCase]="false">
									<select id="subject" required formControlName="subject" [(ngModel)]="selectedSubjectId" >
										<option *ngFor="let subject of subjects" [ngValue]="subject.id">{{subject.name}}</option>
									</select>
									<label *ngIf="hasError('subject', ['required'])" class="form-validation-alert" i18n="Examination detail|Subject required error@@examinationDetailSubjectRequiredError">Subject is required!</label>
								</ng-template>
							</div>
						</ng-template>
					</span>
				</li>
				<li>
					<label i18n="Examination detail|Examination date label@@examinationDetailExaminationDate" class="required-label">Examination date</label>
					<span class="right-col" [ngSwitch]="mode">
						<ng-template [ngSwitchCase]="'view'">
							{{examination.examinationDate | date: 'dd/MM/yyyy'}}
						</ng-template>
						<ng-template ngSwitchDefault>
							<datepicker [(ngModel)]="examination.examinationDate" formControlName="examinationDate" required></datepicker>
							<label *ngIf="hasError('examinationDate', ['format'])" class="form-validation-alert" i18n="Subject detail|Date valid error@@dateValidError">Date should be valid ! Date format: dd/mm/yyyy</label>
							<label *ngIf="hasError('examinationDate', ['required'])" class="form-validation-alert" i18n="Subject detail|BirthDate required error@@subjectDetailBirthDateRequiredError">Required</label>
						</ng-template>
					</span>
				</li>
				<li>
					<label i18n="Examination detail|Comment label@@examinationDetailComment">Comment</label>
					<span class="right-col" [ngSwitch]="mode">
						<ng-template [ngSwitchCase]="'view'">
							{{examination.comment}}
						</ng-template>
						<ng-template ngSwitchDefault>
							<input type="text" id="comment" formControlName="comment" [(ngModel)]="examination.comment" />
						</ng-template>
					</span>
				</li>
				<li>
					<label i18n="Examination detail|Note label@@examinationDetailNote">Note</label>
					<span class="right-col" [ngSwitch]="mode">
						<ng-template [ngSwitchCase]="'view'">
							{{examination.note}}
						</ng-template>
						<ng-template ngSwitchDefault>
							<input type="text" id="note" formControlName="note" [(ngModel)]="examination.note" />
						</ng-template>
					</span>
				</li>
				<li>
					<label i18n="Examination detail|Subject weight label@@examinationDetailSubjectWeight">Subject weight</label>
					<span class="right-col" [ngSwitch]="mode">
						<ng-template [ngSwitchCase]="'view'">
							{{examination.subjectWeight}}
						</ng-template>
						<ng-template ngSwitchDefault>
							<input type="text" id="subjectWeight" formControlName="subjectWeight" [(ngModel)]="examination.subjectWeight" />
						</ng-template>

						<!-- <ng-template ngSwitchDefault>
							<select id="measureUnit" required>
								<option value="kg">kg</option>
								<option value="g">g</option>
							</select>
						</ng-template> -->

					</span>
				</li>
				<li>
					<label i18n="Examination detail|Assessments label@@examinationDetailAssessments">Assessments</label>
					<span class="right-col" [ngSwitch]="mode">
						<ng-template [ngSwitchCase]="'view'">
							<!--{{examination.note}}-->
						</ng-template>
						<ng-template ngSwitchDefault>
							<button i18n="Examination detail|Create new Instrument Based Assessment	label@@examinationDetailNewInstrumentBasedAssessment"
							disabled (click)="instAssessment()">
								<i class="fas fa-plus-square"></i>
								new Instrument Based Assessment										
							</button>
						</ng-template>
					</span>
				</li>
				<li>
					<label i18n="Examination detail|Attached files label@@examinationDetailAttachedFiles">Attach new files</label>
					<span class="right-col" [ngSwitch]="mode">
						<ng-template [ngSwitchCase]="'view'">
						</ng-template>
						<ng-template ngSwitchDefault>
							
							<button i18n="Examination detail|Attach new files button@@examinationDetailAttachNewFiles"
							disabled (click)="attachNewFiles()">
								<i class="fas fa-plus-square"></i>
								Attach extra data to existing examinations									
							</button>
						</ng-template>
					</span>
				</li>
			</ol>
		</fieldset>

		<examination-anesthetic-form
			[examination_id]="examination.id" 
			[mode]="mode" 
			[form]="form.controls.newExamAnestheticForm"
			(examAnestheticChange)="onExamAnestheticChange($event)">
		</examination-anesthetic-form>

		<!--
			<contrast-agent-form 
			[protocol_id]="protocol_id" 
			[agent]="contrastAgent" 
			[newAgentForm]="newExamForm.controls.newAgentForm"  
			[mode]="mode" 
			[canModify]="canModify" 
			(agentChange)="onAgentChange($event)">
		</contrast-agent-form>
		

		<physiological-data-upload-form 
			(physioDataReady)="onUploadPhysiologicalData($event)"
			[mode]="mode"
			[canModify]="true"
			[physioData]="examinationPhysioData">
		</physiological-data-upload-form>

		<bloodgas-data-upload-form 
			(bloodGasDataReady)="onUploadBloodGasData($event)"
			[mode]="mode"
			[canModify]="true"
			[bloodGasData]="examinationBloodGasData">
		</bloodgas-data-upload-form>
-->
		<fieldset *ngIf="mode=='view'">
			<legend i18n="Examination data|Title@@examinationDetailDataTitle">Data</legend>
			<examination-tree *ngIf="examination" [examination]="examination"></examination-tree> 
		</fieldset>
		<form-footer
			[state]="footerState"
			(save)="save()"
			(edit)="goToEdit()"
			(back)="goBack()"
		></form-footer>
	</div>
	</form>
  
