:host() {
    position: relative;
    display: inline-block;
    width: 17px;
    height: 17px;
    border-radius: 2px;
    border: 1px solid var(--grey);
}

:host().disabled {
    opacity: 0.5;
}

:host():focus {
    outline: none;
}

:host():focus::after {
    content: "";
    position: absolute;
    top: -2px; right: -2px; bottom: -2px; left: -2px;
    border: 2px solid var(--color-a);
    border-radius: 3px;
}

div {
    color: var(--color-c);
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
}

div svg {
    height: 100%;
    width: 100%;
}
