:host() { display: block; margin-bottom: 25px; }

form { border: none !important; background-color: transparent; }

.step-block { position: relative; margin-top: 20px; display: block; }

.commands button + button { margin-left: 10px; }

.last.step { padding: 15px; }
    .last.step button { font-size: 16px; }
    .last.step img { height: 41px; vertical-align: top; margin: 0 20px; }