:host() { display: block; margin-bottom: 25px; }

form { border: none !important; background-color: transparent; }

.step-block { position: relative; margin-top: 20px; display: block; }

.commands button + button { margin-left: 10px; }

.last.step { padding: 15px; }
    .last.step button { font-size: 16px; }
    .progress { margin-left: 30px; }
    .progress img { height: 10px; vertical-align: middle; margin: 0 10px; }