button { margin-right: 10px; }
    button i { vertical-align: 1; }
.filename { color: var(--color-c); font-weight: bold; vertical-align: -8; font-size: 34px; }
    .filename i { margin-right: 10px; }
.loader { vertical-align: middle; height: 12px; }
.error { color: var(--color-error); }