<div class="header command-zone">1. Query Neurinfo PACS</div>
<fieldset class="step">
    <ol>
        <legend>
            Please fill <strong class="warning">at least one </strong>of the five fields below to query the PACS.
        </legend>
        <li>
            <label>Patient Name</label> 
            <span class="right-col">
                <input type="text" id="patientName" [(ngModel)]="dicomQuery.patientName" />
            </span>
            <tool-tip>Enter the exact value, case sensitive. Ex: TITI^TOTO won't match titi'toto</tool-tip>
        </li>
        <li>
            <label>Patient ID</label> 
            <span class="right-col">
                <input type="text" id="patientID" [(ngModel)]="dicomQuery.patientID" />
            </span>
        </li>
        <li>
            <label>Patient Birth Date</label> 
            <span class="right-col">
                <datepicker [(ngModel)]="dicomQuery.patientBirthDate"></datepicker>
            </span>
        </li>
        <li>
            <label>Dicom Study Description</label> 
            <span class="right-col">
                <input type="text" id="studyDescription" [(ngModel)]="dicomQuery.studyDescription" />
            </span>
            <tool-tip>The wildcard character is allowed. For instance, you can enter STUDY* to find STUDY^NEURO</tool-tip>
        </li>
        <li>
            <label>Study Date</label> 
            <span class="right-col">
                <datepicker [(ngModel)]="dicomQuery.studyDate"></datepicker>
                <label *ngIf="isStudyDateValid==false" class="form-validation-alert">Date should be valid! Date format: dd/mm/yyyy</label>
            </span>
        </li>
    </ol>
</fieldset>
<button class="next" [disabled]="!valid" (click)="queryPACS()">Query</button>