.back { margin-bottom: 10px; margin-top: 10px}
shanoir-table { width: auto; }
button {     
    color: var(--color-a);
    background-color: transparent;
    border: 1px solid var(--color-a-light) !important; 
}
button:disabled {     
    color: var(--greyer);
    border: 1px solid var(--grey) !important; 
}