.layout { min-width: 410px; }

.rules { width: 100%; }

.option-section select-option caption { display: none; }
.option-section select-option:not(.hidden) ~ caption { display: flex; }

.show-errors { background-color: var(--color-c); }
.show-errors:hover { background-color: var(--color-c-light); }
.show-errors:disabled { background-color: var(--grey); }

.center:not(:first-child)::before { content: ","; }

tool-tip li { list-style: circle; margin-left: 17px; }
.progress { color: var(--color-a-light); }
.progress progress-bar { margin-right: 10px; vertical-align: -5px; }

.info { margin: 5px 0 20px 0; color: var(--color-b); font-style: italic; }
.info i { margin-left: 3px; }
.import-info { margin-top: 0; max-width: 220px; }

.tag { border: 1px solid var(--grey); border-radius: 10px; padding: 2px 5px; font-size: 10px; vertical-align: 1px;
    color: red; display: inline-block; line-height: 10px; opacity: 0.6; }
.tag i { margin-right: 3px; margin-left: 0; color: red; }
.dark { color:white }