.pipeline{
    padding: 15px 5px;
    cursor: pointer;
    font-size: 12px;
    width: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.icon{
    width: 36px;
    height: 36px;
    background-color: #7b7a7a;
    border-radius: 6px;
    padding: 0.75rem;
    margin: auto;
}
.pipeline:hover{
    background-color: rgb(212, 212, 212);
    border-radius: 6px;
}
.name{
    margin-top: 10px;
}
