/***********************/
/* Edit user component */
/***********************/
.EditUserComponent-div.required .required-label:after{ content:"*"; color:red; }
.form-validation-alert { color: #c7254e; background: #f9f2f4; border: 1px solid transparent; padding: 3px; }
