<div class="content-component">
	<form *ngIf="form" [formGroup]="form" class="max-content" novalidate>
		<div class="layout">
			<span [ngSwitch]="mode">
				<ng-template [ngSwitchCase]="'view'"> 
					<h2 class="header command-zone"i18n="View acqEquip|Title@@acqEqptDetailViewTitle">Details on acquisition equipment</h2>
				</ng-template>
				<ng-template [ngSwitchCase]="'edit'"> 
					<h2 class="header command-zone"i18n="Edit acqEquip|Title@@acqEqptDetailEditTitle">Edit acquisition equipment</h2>
				</ng-template>
				<ng-template [ngSwitchCase]="'create'"> 
					<h2 class="header command-zone"i18n="Create acqEquip|Title@@acqEqptDetailCreateTitle">Create acquisition equipment</h2>
				</ng-template>
			</span>
			<help-message [help]="'equipment'"></help-message>
			<fieldset>
				<ol>
					<li *ngIf="mode=='view'">
						<label i18n="AcqEquip detail|Manufacturer label@@acqEqptDetailManuf">Manufacturer</label>
						<span class="right-col">
							<a [routerLink]="['/manufacturer/details', acqEquip.manufacturerModel?.manufacturer?.id]">
								{{acqEquip.manufacturerModel?.manufacturer?.name}}
							</a>
						</span>
					</li>
					<li class="required">
						<label i18n="AcqEquip detail|Manufacturer model label@@acqEqptDetailManufModel" class="required-label">Manufacturer model</label>
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'"> 
								<a [routerLink]="['/manufacturer-model/details/', acqEquip.manufacturerModel?.id]">
									{{acqEquip.manufacturerModel?.name}}
								</a>
							</ng-template>
							<ng-template ngSwitchDefault> 
								<select id="manufModel" required formControlName="manufacturerModel" [(ngModel)]="acqEquip.manufacturerModel" [compareWith]="compareEntities">
									<option *ngFor="let manufacturerModel of manufModels" [ngValue]="manufacturerModel">{{manufacturerModel | manufModelLabel}}</option>
								</select>
								<button i18n="AcqEquip detail|Create new model label@@acqEqptDetailNewManufModel" (click)="openNewManufModel()">
									<i class="fas fa-plus-square"></i> new manufacturer model
								</button>
								<label *ngIf="hasError('manufacturerModel', ['required'])" class="form-validation-alert" i18n="AcqEquip detail|Manufacturer model required error@@acqEqptDetailManufModelRequiredError">Manufacturer model is required!</label>
							</ng-template>
						</span>
					</li>
					<li *ngIf="mode=='view'">
						<label i18n="AcqEquip detail|Model modality label@@acqEqptDetailModality">Model modality</label>
						<span class="right-col">
							{{datasetModalityTypeEnumValue}}
						</span>
					</li>
					<li class="required">
						<label i18n="AcqEquip detail|Center label@@acqEqptDetailCenter" class="required-label">Center</label>
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'"> 
								<a [routerLink]="['/center/details/', acqEquip.center?.id]">
									{{acqEquip.center?.name}}
								</a>
							</ng-template>
							<ng-template ngSwitchDefault> 
								<select id="center" required formControlName="center" [(ngModel)]="acqEquip.center" [compareWith]="compareEntities">
									<option *ngFor="let center of centers" [ngValue]="center">{{center.name}}</option>
								</select>
								<label *ngIf="hasError('center', ['required'])" class="form-validation-alert" i18n="AcqEquip detail|Center required error@@acqEqptDetailCenterRequiredError">Center is required!</label>
								<a *ngIf="acqEquip.center" [routerLink]="['/center/details/', acqEquip.center.id]">details</a>
							</ng-template>
						</span>
					</li>
					<li>
						<label i18n="AcqEquip detail|Serial number label@@acqEqptDetailSerialNumber">
							Serial Number
							<tool-tip>Value of DICOM Device Serial Number tag (0018,1000). Used to verify data imported from this equipment."</tool-tip>
						</label>
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'"> 
								{{acqEquip.serialNumber}}
							</ng-template>
							<ng-template ngSwitchDefault> 
								<input type="text" id="serialNumber" formControlName="serialNumber" [(ngModel)]="acqEquip.serialNumber"/>
								<label *ngIf="hasError('serialNumber', ['unique'])" class="form-validation-alert" i18n="Edit acqEquip|Model number unique error@@acqEqptDetailModelNumberUniqueError">This equipment (same manufacturer model and same serial number) already exists!</label>
							</ng-template>
						</span>
					</li>
				</ol>
			</fieldset>
			<form-footer
				[state]="footerState"
				(save)="save()"
				(edit)="goToEdit()"
				(back)="goBack()"
			></form-footer>
		</div>
	</form>
</div>