:host() { display: block; padding: 4px 10px; height: 120px; overflow-x: hidden; overflow-y: auto; background-color: var(--dark-grey); border-radius: 3px; }

.error { color: red; }
.warn { color: rgba(255, 136, 0); }
.info { color: limegreen; }

.details-button { cursor: pointer; margin-left: 7px; }

.details li { opacity: 0.8; font-size: 10px; white-space: nowrap; overflow-x: scroll; scrollbar-width: none; -ms-overflow-style: none; }
.details li::-webkit-scrollbar { width: 0; height: 0; }
.details ul { margin: 0 0 0 16px; }