<div class="LoginComponent">
    <img class="logo" [src]="shanoirNGImageUrl">
    <div class="LoginComponent-loginContent LoginContent">
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="LoginContent-loginForm LoginForm">
        	<div class="header command-zone">Connect to Shanoir</div>
		     	<fieldset>
		     	<ol>
		     		<li>
			            <input type="text"  
			                   id="email"  
			                   class="LoginForm-input"
			                   formControlName="email"
			                   placeholder="Username" i18n-placeholder="Login form|Username label"/>  	     		
		     		</li>
					<li>
			            <input type="password"  
			                   id="password"
			                   class="LoginForm-input"
			                   formControlName="password"
			                   placeholder="Password" i18n-placeholder="Login form|Password label"/>  
			       </li>
		     	</ol>
	            </fieldset>
            <div class="footer command-zone">
				<div>
					<label *ngIf="errorCode=='52'" class="LoginForm-error" i18n="Login form|BadCredentials label">Bad credentials.</label>
					<label *ngIf="errorCode=='61'" class="LoginForm-error" i18n="Login form|ExpiredAccount label">Your account has expired. Please contact your administrator.</label>
					<label *ngIf="errorCode=='62'" class="LoginForm-error" i18n="Login form|AccountRequestNotValidated label">Your account request is not validated. Please contact your administrator.</label>
				</div>
				<button type="submit" i18n="Login form|Button label" class="Button LoginForm-submit">Login</button>
            	<div>
            		<a routerLink="" routerLinkActive="active">Create an account</a>
            	</div>
            </div>
        </form>
    </div>
</div>