/*****************/
/* Login component
/*****************/
@import "app/shared/css/partials/base";

.LoginComponent {
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;
}

.LoginComponent-loginContent {
    padding: 20px;
    margin: 50px auto auto auto;
    width: 20%;
}

.LoginContent {
    border: 1px solid $mainThemeBackgroundColor;
    border-radius: 20px;
    min-width: 400px;
}

.LoginContent-loginForm {
    margin: auto;
    width: 300px;
}

.LoginForm {
    overflow: hidden;
}

.LoginForm-input {
    margin-bottom: 1em;
    width: 100%;
}

.LoginForm-submit {
    float: right;
    width: 100px;
}

.LoginForm-error {
    color: red;
}
