/*******************/
/* Login component */
/*******************/

.LoginComponent { text-align: center; background-color: var(--color-a); width: 100%; height: 100%; }
	.LoginComponent .logo {	margin: 50px; }

.LoginContent-loginForm { margin: auto;	width: 300px; text-align: center; }
	.LoginContent-loginForm .footer { text-align: center; }
	.LoginContent-loginForm a { text-decoration: none; color: var(--color-a); }

.LoginForm-error { color: var(--color-red); }
