<div class="LoginComponent">
    <img [src]="shanoirNGImageUrl">
    <div class="LoginComponent-loginContent LoginContent">
        <h2 i18n="Login form|Title">Welcome to Shanoir</h2>
        <span *ngIf="error">{{error}}</span>
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="LoginContent-loginForm LoginForm">
            <input type="text"  
                   id="email"  
                   class="LoginForm-input"
                   formControlName="email"
                   placeholder="Username" i18n-placeholder="Login form|Username label"/>  
            <input type="password"  
                   id="password"
                   class="LoginForm-input"
                   formControlName="password"
                   placeholder="Password" i18n-placeholder="Login form|Password label"/>  
            <button type="submit" i18n="Login form|Button label" class="Button LoginForm-submit">Login</button>
        </form>
    </div>
    <a routerLink="" routerLinkActive="active">Create an account</a>
</div>