:host() { white-space: nowrap; color: purple; }

select-box, input { border: none !important; }
input { box-sizing: border-box; width: auto; padding: 0 1px; }
auto-ajust-input { vertical-align: bottom; }

.var { color: blue; }
.method { color: darkgreen; }
.value { color: chocolate; text-overflow: ellipsis; }

:host():hover .delete, .delete:hover { opacity: 1; }
.delete { opacity: 0; transition: opacity 0.3s; color: var(--grey); position: absolute; right: -17px; top: 4px; bottom: 4px; z-index: 1; }
.delete svg { vertical-align: -2px; }
.delete:hover { color: var(--color-error); cursor: pointer; } 

.error:not(:focus-within) { color: white !important; background-color: var(--color-error) !important; border-radius: 4px !important; }
.error:not(:focus-within)::ng-deep ::placeholder { color: white !important; }