# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Check out Git repository
      uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Create directory /shanoir-ng-logs
      run: sudo mkdir -m777 /var/log/shanoir-ng-logs
    - name: Build with Maven
      run: mvn -f ./shanoir-ng-parent/pom.xml install
      env:
        SHANOIR_URL_HOST: localhost
        SHANOIR_URL_SCHEME: http
        SHANOIR_PREFIX: github
        SHANOIR_ADMIN_EMAIL: nobody@inria.fr
        SHANOIR_KEYCLOAK_USER: admin
        SHANOIR_KEYCLOAK_PASSWORD: '&a1A&a1A'
    
    - name: Set up Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: Install Node.js dependencies
      run: npm ci
    - name: Run linters
      uses: wearerequired/lint-action@v1
      with:
        eslint: true
        prettier: true
      
