# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: fetch the master branch
      run: git fetch --no-tags --no-recurse-submodules --depth=1 origin +refs/heads/master:refs/remotes/origin/master
    - name: check migration names
      run: cd docker-compose/database && ./check_migration_names.py
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 21
    - name: Create directory /shanoir-ng-logs
      run: sudo mkdir -m777 /var/log/shanoir-ng-logs
    - name: Maven cache
      uses: actions/cache@v3
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-maven-
    - name: npm cache
      uses: actions/cache@v3
      with:
        path: ~/.npm
        key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
        restore-keys: ${{ runner.os }}-npm-
    - name: Build with Maven
      run: mvn -f ./shanoir-ng-parent/pom.xml install -Dcheckstyle.skip=true
      env:
        SHANOIR_URL_HOST: localhost
        SHANOIR_URL_SCHEME: http
        SHANOIR_PREFIX: github
        SHANOIR_ADMIN_EMAIL: nobody@inria.fr
        SHANOIR_KEYCLOAK_USER: admin
        SHANOIR_KEYCLOAK_PASSWORD: '&a1A&a1A'
        SHANOIR_CONTINUANCE_HOUR: 5
        SHANOIR_SHUTDOWN_HOUR: 2
        VIP_URL_SCHEME: https
        VIP_URL_HOST: vip
        VIP_CLIENT_SECRET: SECRET
        VIP_SERVICE_EMAIL: ''
        
        
