.list li { cursor: default; height: 15px; min-height: auto; }
.list legend { cursor: pointer; }
.link { margin-left: 7px; cursor: pointer; }
.link i { color: var(--color-b); }
legend i { margin-right: 6px; }