<div class="content-component">
    <form [formGroup]="centerDetailForm" class="max-content" novalidate>
		<div class="layout">
			<span class="right-col" [ngSwitch]="mode">
				<ng-template [ngSwitchCase]="'view'"> 
					<div class="header command-zone" i18n="View center|Title">Details on center</div>
				</ng-template>
				<ng-template [ngSwitchCase]="'edit'"> 
					<div class="header command-zone" i18n="Edit center|Title">Edit center</div>
				</ng-template>
				<ng-template [ngSwitchCase]="'create'"> 
					<div class="header command-zone" i18n="Create center|Title">Create center</div>
				</ng-template>
			</span>
			<fieldset>
				<ol>
					<li>
						<label i18n="Center detail|Name label" class="required-label">Name</label> 
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'"> 
								{{center.name}}
							</ng-template>
							<ng-template ngSwitchDefault> 
								<input type="text" id="name" required minlength="2" maxlength="200" formControlName="name" [(ngModel)]="center.name"/>
								<label *ngIf="formErrors.name.includes('required')" class="form-validation-alert" i18n="Edit center|NameRequiredError label">Name is required!</label>
								<label *ngIf="formErrors.name.includes('length')" class="form-validation-alert" i18n="Edit center|NameLengthError label">Name length must be between 2 and 200!</label>
								<label *ngIf="isNameUnique==false" class="form-validation-alert" i18n="Edit center|NameUniqueError label">Name should be unique!</label>
							</ng-template>
						</span>
					</li>
					<li>
						<label i18n="Center detail|Name label">Street</label> 
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'"> 
								{{center.street}}
							</ng-template>
							<ng-template ngSwitchDefault> 
								<input type="text" id="street" formControlName="street" [(ngModel)]="center.street"/>
							</ng-template>
						</span>
					</li>
					<li>
						<label i18n="Center detail|Name label">Post code</label> 
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'"> 
								{{center.postalCode}}
							</ng-template>
							<ng-template ngSwitchDefault> 
								<input type="text" id="postalCode" formControlName="postalCode" [(ngModel)]="center.postalCode"/>
							</ng-template>
						</span>
					</li>
					<li>
						<label i18n="Center detail|Name label">Town</label> 
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'"> 
								{{center.city}}
							</ng-template>
							<ng-template ngSwitchDefault> 
								<input type="text" id="city" formControlName="city" [(ngModel)]="center.city"/>
							</ng-template>
						</span>
					</li>
					<li>
						<label i18n="Center detail|Name label">Country</label> 
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'"> 
								{{center.country}}
							</ng-template>
							<ng-template ngSwitchDefault> 
								<input type="text" id="country" formControlName="country" [(ngModel)]="center.country"/>
							</ng-template>
						</span>
					</li>
					<li>
						<label i18n="Center detail|Name label">Phone number</label> 
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'"> 
								{{center.phoneNumber}}
							</ng-template>
							<ng-template ngSwitchDefault> 
								<input type="text" id="phoneNumber" formControlName="phoneNumber" [(ngModel)]="center.phoneNumber"/>
							</ng-template>
						</span>
					</li>
					<li>
						<label i18n="Center detail|Name label">Website</label> 
						<span class="right-col" [ngSwitch]="mode">
							<ng-template [ngSwitchCase]="'view'"> 
								{{center.website}}
							</ng-template>
							<ng-template ngSwitchDefault> 
								<input type="text" id="website" formControlName="website" [(ngModel)]="center.website"/>
							</ng-template>
						</span>
					</li>
				</ol>
			</fieldset>
			<div class="footer command-zone">
				<span [ngSwitch]="mode">
					<button i18n="View center|BackButton label" class="Button" (click)="back()">Back</button>	
					<ng-template [ngSwitchCase]="'view'" *ngIf="canModify"> 
						<button type="submit" i18n="View center|EditButton label" (click)="edit()" class="Button">Edit</button>
					</ng-template>
					<ng-template [ngSwitchCase]="'edit'" *ngIf="canModify"> 
						<button type="submit" i18n="Edit center|UpdateButton label" (click)="update()" class="Button" [disabled]="!centerDetailForm.valid">Update</button>
					</ng-template>
					<ng-template [ngSwitchCase]="'create'" *ngIf="canModify"> 
						<button type="submit" i18n="Edit center|CreateButton label" (click)="create()" class="Button" [disabled]="!centerDetailForm.valid">Create</button>
					</ng-template>
				</span>
			</div>
		</div>
    </form>
</div>