:host() { 
    background-color: var(--color-overlay);
    display: table;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
}

div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    max-height: 100vh;
    overflow: auto;
}